<template>
    <div class="contacts-page">
        <h3 class="header">Контакты</h3>
        <div class="contacts-list">
            <div class="contact-item">
                Telegram:
            </div>
            <div class="contact-item">
                <a href="tel:+77777777777">+77777777777</a>
            </div>

            <div class="contact-item">
                WhatsApp:
            </div>
            <div class="contact-item">
                <a href="https://wa.me/77777777777">+77777777777</a>
            </div>

            <div class="contact-item">
                Email:
            </div>
            <div class="contact-item">
                <a href="mailto:e-menu@gmail.com">e-menu@gmail.com</a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ContactsPage",
    metaInfo: {
        title: 'Контакты',
        titleTemplate: '%s | Emenu'
    },
}
</script>

<style lang="scss">
.contacts-page {
    width: 890px;
    margin: auto;
    text-align: left;

    .header {
        margin-top: 40px;
    }

    .contacts-list {
        display: flex;
        width: 200px;
        flex-wrap: wrap;
        margin-top: 40px;

        .contact-item {
            width: 50%;
        }
    }
}
</style>
