<template>
    <div class="terms-of-service">
        <div>
            TERMS OF SERVICE
        </div>

        <div>
            Last updated: April 17, 2023
        </div>


        <div>
            AGREEMENT TO OUR LEGAL TERMS
        </div>

        <div>
            We are E-Menu ('Company', 'we', 'us', or 'our'), a company registered in Kazakhstan at Almaty.
        </div>

        <div>
            We operate the website e-menu-temp.kz (the 'Site'), as well as any other related products and services that
            refer or link to these legal terms (the 'Legal Terms') (collectively, the 'Services').
        </div>

        <div>
            An electronic menu system in restaurants, also known as a digital menu or e-menu, is a technological
            solution that allows customers to view and order food and beverages using digital devices such as tablets,
            smartphones, or touchscreens. The system replaces traditional paper menus, providing an interactive and
            engaging experience for customers while improving the efficiency of the restaurant's ordering process. The
            electronic menu system typically consists of a software application that can be installed on the
            restaurant's devices or accessed via a web-based platform. The menu items, descriptions, and prices are
            stored in a database, which can be easily updated by the restaurant staff in real-time. The system can also
            be integrated with the restaurant's point-of-sale (POS) system, allowing orders to be sent directly to the
            kitchen for preparation. Customers can access the electronic menu system by scanning a QR code or by
            connecting to a Wi-Fi network. The menu items can be searched and filtered based on various criteria such as
            price, cuisine, dietary restrictions, or popularity. Customers can also view pictures and descriptions of
            the dishes, as well as nutritional information and allergen warnings. The electronic menu system offers
            several benefits for both customers and restaurant owners. Customers can place orders at their own pace and
            convenience, reducing wait times and improving the accuracy of orders. They can also explore the menu more
            thoroughly and make informed choices based on their preferences and needs. For restaurant owners, the
            electronic menu system can increase efficiency, reduce paper waste, and improve profitability. The system
            can capture data on customer preferences and ordering patterns, which can be used to optimize the menu,
            pricing, and marketing strategies. It can also reduce the workload of the serving staff and minimize errors
            and disputes related to orders. In summary, an electronic menu system in restaurants is a modern and
            innovative solution that enhances the dining experience for customers and streamlines the operations for
            restaurant owners. It reflects the increasing trend towards digitalization and personalization in the
            hospitality industry and can contribute to the success and competitiveness of the restaurant.
        </div>

        <div>
            You can contact us by phone at 87479185668, email at e-menu@gmail.com,.

        </div>
        <div>
            These Legal Terms constitute a legally binding agreement made between you, whether personally or on behalf
            of an entity ('you'), and E-Menu, concerning your access to and use of the Services. You agree that by
            accessing the Services, you have read, understood, and agreed to be bound by all of these Legal Terms. IF
            YOU DO NOT AGREE WITH ALL OF THESE LEGAL TERMS, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SERVICES
            AND YOU MUST DISCONTINUE USE IMMEDIATELY.
        </div>

        <div>
            Supplemental terms and conditions or documents that may be posted on the Services from time to time are
            hereby expressly incorporated herein by reference. We reserve the right, in our sole discretion, to make
            changes or modifications to these Legal Terms at any time and for any reason. We will alert you about any
            changes by updating the 'Last updated' date of these Legal Terms, and you waive any right to receive
            specific notice of each such change. It is your responsibility to periodically review these Legal Terms to
            stay informed of updates. You will be subject to, and will be deemed to have been made aware of and to have
            accepted, the changes in any revised Legal Terms by your continued use of the Services after the date such
            revised Legal Terms are posted.

        </div>
        <div>
            All users who are minors in the jurisdiction in which they reside (generally under the age of 18) must have
            the permission of, and be directly supervised by, their parent or guardian to use the Services. If you are a
            minor, you must have your parent or guardian read and agree to these Legal Terms prior to you using the
            Services.
        </div>
        <div>
            We recommend that you print a copy of these Legal Terms for your records.
        </div>
        <div>

            TABLE OF CONTENTS
        </div>
        <div>
            1. OUR SERVICES
            2. INTELLECTUAL PROPERTY RIGHTS
            3. USER REPRESENTATIONS
            4. USER REGISTRATION
            5. PURCHASES AND PAYMENT
            6. FREE TRIAL
            7. CANCELLATION
            8. PROHIBITED ACTIVITIES
            9. USER GENERATED CONTRIBUTIONS
            10. CONTRIBUTION LICENCE
            11. GUIDELINES FOR REVIEWS
            12. SERVICES MANAGEMENT
            13. TERM AND TERMINATION
            14. MODIFICATIONS AND INTERRUPTIONS
            15. GOVERNING LAW
            16. DISPUTE RESOLUTION
            17. CORRECTIONS
            18. DISCLAIMER
            19. LIMITATIONS OF LIABILITY
            20. INDEMNIFICATION
            21. USER DATA
            22. ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES
            23. MISCELLANEOUS

        </div>
        <div>
            1. OUR SERVICES
        </div>
        <div>
            The information provided when using the Services is not intended for distribution to or use by any person or
            entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation
            or which would subject us to any registration requirement within such jurisdiction or country. Accordingly,
            those persons who choose to access the Services from other locations do so on their own initiative and are
            solely responsible for compliance with local laws, if and to the extent local laws are applicable.
        </div>
        <div>
            2. INTELLECTUAL PROPERTY RIGHTS
        </div>
        <div>
            Our intellectual property
        </div>
        <div>
            We are the owner or the licensee of all intellectual property rights in our Services, including all source
            code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics in
            the Services (collectively, the 'Content'), as well as the trademarks, service marks, and logos contained
            therein (the 'Marks').
        </div>
        <div>
            Our Content and Marks are protected by copyright and trademark laws (and various other intellectual property
            rights and unfair competition laws) and treaties in the United States and around the world.
        </div>
        <div>
            The Content and Marks are provided in or through the Services 'AS IS' for your personal, non-commercial use
            or internal business purpose only.
        </div>
        <div>
            Your use of our Services
        </div>
        <div>
            Subject to your compliance with these Legal Terms, including the 'PROHIBITED ACTIVITIES' section below, we
            grant you a non-exclusive, non-transferable, revocable licence to:
            access the Services; and
            download or print a copy of any portion of the Content to which you have properly gained access.
            solely for your personal, non-commercial use or internal business purpose.
        </div>
        <div>
            Except as set out in this section or elsewhere in our Legal Terms, no part of the Services and no Content or
            Marks may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, encoded,
            translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose
            whatsoever, without our express prior written permission.
        </div>
        <div>
            If you wish to make any use of the Services, Content, or Marks other than as set out in this section or
            elsewhere in our Legal Terms, please address your request to: e-menu@gmail.com. If we ever grant you
            the permission to post, reproduce, or publicly display any part of our Services or Content, you must
            identify us as the owners or licensors of the Services, Content, or Marks and ensure that any copyright or
            proprietary notice appears or is visible on posting, reproducing, or displaying our Content.
        </div>
        <div>
            We reserve all rights not expressly granted to you in and to the Services, Content, and Marks.
        </div>
        <div>
            Any breach of these Intellectual Property Rights will constitute a material breach of our Legal Terms and
            your right to use our Services will terminate immediately.
        </div>
        <div>
            Your submissions and contributions
        </div>
        <div>
            Please review this section and the 'PROHIBITED ACTIVITIES' section carefully prior to using our Services to
            understand the (a) rights you give us and (b) obligations you have when you post or upload any content
            through the Services.
        </div>
        <div>
            Submissions: By directly sending us any question, comment, suggestion, idea, feedback, or other information
            about the Services ('Submissions'), you agree to assign to us all intellectual property rights in such
            Submission. You agree that we shall own this Submission and be entitled to its unrestricted use and
            dissemination for any lawful purpose, commercial or otherwise, without acknowledgment or compensation to
            you.
        </div>
        <div>
            Contributions: The Services may invite you to chat, contribute to, or participate in blogs, message boards,
            online forums, and other functionality during which you may create, submit, post, display, transmit,
            publish, distribute, or broadcast content and materials to us or through the Services, including but not
            limited to text, writings, video, audio, photographs, music, graphics, comments, reviews, rating
            suggestions, personal information, or other material ('Contributions'). Any Submission that is publicly
            posted shall also be treated as a Contribution.
        </div>
        <div>
            You understand that Contributions may be viewable by other users of the Services.
        </div>
        <div>
            When you post Contributions, you grant us a licence (including use of your name, trademarks, and logos): By
            posting any Contributions, you grant us an unrestricted, unlimited, irrevocable, perpetual, non-exclusive,
            transferable, royalty-free, fully-paid, worldwide right, and licence to: use, copy, reproduce, distribute,
            sell, resell, publish, broadcast, retitle, store, publicly perform, publicly display, reformat, translate,
            excerpt (in whole or in part), and exploit your Contributions (including, without limitation, your image,
            name, and voice) for any purpose, commercial, advertising, or otherwise, to prepare derivative works of, or
            incorporate into other works, your Contributions, and to sublicence the licences granted in this section.
            Our use and distribution may occur in any media formats and through any media channels.
        </div>
        <div>
            This licence includes our use of your name, company name, and franchise name, as applicable, and any of the
            trademarks, service marks, trade names, logos, and personal and commercial images you provide.
        </div>
        <div>
            You are responsible for what you post or upload: By sending us Submissions and/or posting Contributions
            through any part of the Services or making Contributions accessible through the Services by linking your
            account through the Services to any of your social networking accounts, you:
            confirm that you have read and agree with our 'PROHIBITED ACTIVITIES' and will not post, send, publish,
            upload, or transmit through the Services any Submission nor post any Contribution that is illegal,
            harassing, hateful, harmful, defamatory, obscene, bullying, abusive, discriminatory, threatening to any
            person or group, sexually explicit, false, inaccurate, deceitful, or misleading;
            to the extent permissible by applicable law, waive any and all moral rights to any such Submission and/or
            Contribution;
            warrant that any such Submission and/or Contributions are original to you or that you have the necessary
            rights and licences to submit such Submissions and/or Contributions and that you have full authority to
            grant us the above-mentioned rights in relation to your Submissions and/or Contributions; and
            warrant and represent that your Submissions and/or Contributions do not constitute confidential information.
            You are solely responsible for your Submissions and/or Contributions and you expressly agree to reimburse us
            for any and all losses that we may suffer because of your breach of (a) this section, (b) any third party’s
            intellectual property rights, or (c) applicable law.
        </div>
        <div>
            We may remove or edit your Content: Although we have no obligation to monitor any Contributions, we shall
            have the right to remove or edit any Contributions at any time without notice if in our reasonable opinion
            we consider such Contributions harmful or in breach of these Legal Terms. If we remove or edit any such
            Contributions, we may also suspend or disable your account and report you to the authorities.
        </div>
        <div>
            3. USER REPRESENTATIONS
        </div>
        <div>
            By using the Services, you represent and warrant that:(1) all registration information you submit will be
            true, accurate, current, and complete; (2) you will maintain the accuracy of such information and promptly
            update such registration information as necessary; (3) you have the legal capacity and you agree to comply
            with these Legal Terms; (4) you are not a minor in the jurisdiction in which you reside, or if a minor, you
            have received parental permission to use the Services; (5) you will not access the Services through
            automated or non-human means, whether through a bot, script or otherwise; (6) you will not use the Services
            for any illegal or unauthorised purpose; and (7) your use of the Services will not violate any applicable
            law or regulation.
        </div>
        <div>
            If you provide any information that is untrue, inaccurate, not current, or incomplete, we have the right to
            suspend or terminate your account and refuse any and all current or future use of the Services (or any
            portion thereof).
        </div>
        <div>
            4. USER REGISTRATION
        </div>
        <div>
            You may be required to register to use the Services. You agree to keep your password confidential and will
            be responsible for all use of your account and password. We reserve the right to remove, reclaim, or change
            a username you select if we determine, in our sole discretion, that such username is inappropriate, obscene,
            or otherwise objectionable.
        </div>
        <div>
            5. PURCHASES AND PAYMENT
        </div>
        <div>
            We accept the following forms of payment:
        </div>
        <div>
            - Visa
            - Mastercard
        </div>
        <div>
            You agree to provide current, complete, and accurate purchase and account information for all purchases made
            via the Services. You further agree to promptly update account and payment information, including email
            address, payment method, and payment card expiration date, so that we can complete your transactions and
            contact you as needed. Sales tax will be added to the price of purchases as deemed required by us. We may
            change prices at any time. All payments shall be in US dollars.
        </div>
        <div>
            You agree to pay all charges at the prices then in effect for your purchases and any applicable shipping
            fees, and you authorise us to charge your chosen payment provider for any such amounts upon placing your
            order. We reserve the right to correct any errors or mistakes in pricing, even if we have already requested
            or received payment.
        </div>
        <div>
            We reserve the right to refuse any order placed through the Services. We may, in our sole discretion, limit
            or cancel quantities purchased per person, per household, or per order. These restrictions may include
            orders placed by or under the same customer account, the same payment method, and/or orders that use the
            same billing or shipping address. We reserve the right to limit or prohibit orders that, in our sole
            judgement, appear to be placed by dealers, resellers, or distributors.
        </div>
        <div>
            6. FREE TRIAL
        </div>
        <div>
            We offer a __________-day free trial to new users who register with the Services. __________
        </div>
        <div>
            7. CANCELLATION
        </div>
        <div>
            You can cancel your subscription at any time by logging into your account. Your cancellation will take
            effect at the end of the current paid term.
        </div>
        <div>
            If you are unsatisfied with our Services, please email us at e-menu@gmail.com or call us at
            87479185668.
        </div>
        <div>
            8. PROHIBITED ACTIVITIES
        </div>
        <div>
            You may not access or use the Services for any purpose other than that for which we make the Services
            available. The Services may not be used in connection with any commercial endeavours except those that are
            specifically endorsed or approved by us.
        </div>
        <div>
            As a user of the Services, you agree not to:
            Systematically retrieve data or other content from the Services to create or compile, directly or
            indirectly, a collection, compilation, database, or directory without written permission from us.
            Trick, defraud, or mislead us and other users, especially in any attempt to learn sensitive account
            information such as user passwords.
            Circumvent, disable, or otherwise interfere with security-related features of the Services, including
            features that prevent or restrict the use or copying of any Content or enforce limitations on the use of the
            Services and/or the Content contained therein.
            Disparage, tarnish, or otherwise harm, in our opinion, us and/or the Services.
            Use any information obtained from the Services in order to harass, abuse, or harm another person.
            Make improper use of our support services or submit false reports of abuse or misconduct.
            Use the Services in a manner inconsistent with any applicable laws or regulations.
            Engage in unauthorised framing of or linking to the Services.
            Upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses, or other material,
            including excessive use of capital letters and spamming (continuous posting of repetitive text), that
            interferes with any party’s uninterrupted use and enjoyment of the Services or modifies, impairs, disrupts,
            alters, or interferes with the use, features, functions, operation, or maintenance of the Services.
            Engage in any automated use of the system, such as using scripts to send comments or messages, or using any
            data mining, robots, or similar data gathering and extraction tools.
            Delete the copyright or other proprietary rights notice from any Content.
            Attempt to impersonate another user or person or use the username of another user.
            Upload or transmit (or attempt to upload or to transmit) any material that acts as a passive or active
            information collection or transmission mechanism, including without limitation, clear graphics interchange
            formats ('gifs'), 1×1 pixels, web bugs, cookies, or other similar devices (sometimes referred to as
            'spyware' or 'passive collection mechanisms' or 'pcms').
            Interfere with, disrupt, or create an undue burden on the Services or the networks or services connected to
            the Services.
            Harass, annoy, intimidate, or threaten any of our employees or agents engaged in providing any portion of
            the Services to you.
            Attempt to bypass any measures of the Services designed to prevent or restrict access to the Services, or
            any portion of the Services.
            Copy or adapt the Services' software, including but not limited to Flash, PHP, HTML, JavaScript, or other
            code.
            Except as permitted by applicable law, decipher, decompile, disassemble, or reverse engineer any of the
            software comprising or in any way making up a part of the Services.
            Except as may be the result of standard search engine or Internet browser usage, use, launch, develop, or
            distribute any automated system, including without limitation, any spider, robot, cheat utility, scraper, or
            offline reader that accesses the Services, or use or launch any unauthorised script or other software.
            Use a buying agent or purchasing agent to make purchases on the Services.
            Make any unauthorised use of the Services, including collecting usernames and/or email addresses of users by
            electronic or other means for the purpose of sending unsolicited email, or creating user accounts by
            automated means or under false pretences.
            Use the Services as part of any effort to compete with us or otherwise use the Services and/or the Content
            for any revenue-generating endeavour or commercial enterprise.
            Use the Services to advertise or offer to sell goods and services.
        </div>
        <div>
            9. USER GENERATED CONTRIBUTIONS
        </div>
        <div>
            The Services may invite you to chat, contribute to, or participate in blogs, message boards, online forums,
            and other functionality, and may provide you with the opportunity to create, submit, post, display,
            transmit, perform, publish, distribute, or broadcast content and materials to us or on the Services,
            including but not limited to text, writings, video, audio, photographs, graphics, comments, suggestions, or
            personal information or other material (collectively, 'Contributions'). Contributions may be viewable by
            other users of the Services and through third-party websites. As such, any Contributions you transmit may be
            treated as non-confidential and non-proprietary. When you create or make available any Contributions, you
            thereby represent and warrant that:
            The creation, distribution, transmission, public display, or performance, and the accessing, downloading, or
            copying of your Contributions do not and will not infringe the proprietary rights, including but not limited
            to the copyright, patent, trademark, trade secret, or moral rights of any third party.
            You are the creator and owner of or have the necessary licences, rights, consents, releases, and permissions
            to use and to authorise us, the Services, and other users of the Services to use your Contributions in any
            manner contemplated by the Services and these Legal Terms.
            You have the written consent, release, and/or permission of each and every identifiable individual person in
            your Contributions to use the name or likeness of each and every such identifiable individual person to
            enable inclusion and use of your Contributions in any manner contemplated by the Services and these Legal
            Terms.
            Your Contributions are not false, inaccurate, or misleading.
            Your Contributions are not unsolicited or unauthorised advertising, promotional materials, pyramid schemes,
            chain letters, spam, mass mailings, or other forms of solicitation.
            Your Contributions are not obscene, lewd, lascivious, filthy, violent, harassing, libellous, slanderous, or
            otherwise objectionable (as determined by us).
            Your Contributions do not ridicule, mock, disparage, intimidate, or abuse anyone.
            Your Contributions are not used to harass or threaten (in the legal sense of those terms) any other person
            and to promote violence against a specific person or class of people.
            Your Contributions do not violate any applicable law, regulation, or rule.
            Your Contributions do not violate the privacy or publicity rights of any third party.
            Your Contributions do not violate any applicable law concerning child pornography, or otherwise intended to
            protect the health or well-being of minors.
            Your Contributions do not include any offensive comments that are connected to race, national origin,
            gender, sexual preference, or physical handicap.
            Your Contributions do not otherwise violate, or link to material that violates, any provision of these Legal
            Terms, or any applicable law or regulation.
            Any use of the Services in violation of the foregoing violates these Legal Terms and may result in, among
            other things, termination or suspension of your rights to use the Services.
        </div>
        <div>
            10. CONTRIBUTION LICENCE
        </div>
        <div>
            By posting your Contributions to any part of the Services, you automatically grant, and you represent and
            warrant that you have the right to grant, to us an unrestricted, unlimited, irrevocable, perpetual,
            non-exclusive, transferable, royalty-free, fully-paid, worldwide right, and licence to host, use, copy,
            reproduce, disclose, sell, resell, publish, broadcast, retitle, archive, store, cache, publicly perform,
            publicly display, reformat, translate, transmit, excerpt (in whole or in part), and distribute such
            Contributions (including, without limitation, your image and voice) for any purpose, commercial,
            advertising, or otherwise, and to prepare derivative works of, or incorporate into other works, such
            Contributions, and grant and authorise sublicences of the foregoing. The use and distribution may occur in
            any media formats and through any media channels.
        </div>
        <div>
            This licence will apply to any form, media, or technology now known or hereafter developed, and includes our
            use of your name, company name, and franchise name, as applicable, and any of the trademarks, service marks,
            trade names, logos, and personal and commercial images you provide. You waive all moral rights in your
            Contributions, and you warrant that moral rights have not otherwise been asserted in your Contributions.
        </div>
        <div>
            We do not assert any ownership over your Contributions. You retain full ownership of all of your
            Contributions and any intellectual property rights or other proprietary rights associated with your
            Contributions. We are not liable for any statements or representations in your Contributions provided by you
            in any area on the Services. You are solely responsible for your Contributions to the Services and you
            expressly agree to exonerate us from any and all responsibility and to refrain from any legal action against
            us regarding your Contributions.
        </div>
        <div>
            We have the right, in our sole and absolute discretion, (1) to edit, redact, or otherwise change any
            Contributions; (2) to re-categorise any Contributions to place them in more appropriate locations on the
            Services; and (3) to pre-screen or delete any Contributions at any time and for any reason, without notice.
            We have no obligation to monitor your Contributions.
        </div>
        <div>
            11. GUIDELINES FOR REVIEWS
        </div>
        <div>
            We may provide you areas on the Services to leave reviews or ratings. When posting a review, you must comply
            with the following criteria: (1) you should have firsthand experience with the person/entity being reviewed;
            (2) your reviews should not contain offensive profanity, or abusive, racist, offensive, or hateful language;
            (3) your reviews should not contain discriminatory references based on religion, race, gender, national
            origin, age, marital status, sexual orientation, or disability; (4) your reviews should not contain
            references to illegal activity; (5) you should not be affiliated with competitors if posting negative
            reviews; (6) you should not make any conclusions as to the legality of conduct; (7) you may not post any
            false or misleading statements; and (8) you may not organise a campaign encouraging others to post reviews,
            whether positive or negative.
        </div>
        <div>
            We may accept, reject, or remove reviews in our sole discretion. We have absolutely no obligation to screen
            reviews or to delete reviews, even if anyone considers reviews objectionable or inaccurate. Reviews are not
            endorsed by us, and do not necessarily represent our opinions or the views of any of our affiliates or
            partners. We do not assume liability for any review or for any claims, liabilities, or losses resulting from
            any review. By posting a review, you hereby grant to us a perpetual, non-exclusive, worldwide, royalty-free,
            fully paid, assignable, and sublicensable right and licence to reproduce, modify, translate, transmit by any
            means, display, perform, and/or distribute all content relating to review.
        </div>
        <div>
            12. SERVICES MANAGEMENT
        </div>
        <div>
            We reserve the right, but not the obligation, to: (1) monitor the Services for violations of these Legal
            Terms; (2) take appropriate legal action against anyone who, in our sole discretion, violates the law or
            these Legal Terms, including without limitation, reporting such user to law enforcement authorities; (3) in
            our sole discretion and without limitation, refuse, restrict access to, limit the availability of, or
            disable (to the extent technologically feasible) any of your Contributions or any portion thereof; (4) in
            our sole discretion and without limitation, notice, or liability, to remove from the Services or otherwise
            disable all files and content that are excessive in size or are in any way burdensome to our systems; and
            (5) otherwise manage the Services in a manner designed to protect our rights and property and to facilitate
            the proper functioning of the Services.
        </div>
        <div>
            13. TERM AND TERMINATION
        </div>
        <div>
            These Legal Terms shall remain in full force and effect while you use the Services. WITHOUT LIMITING ANY
            OTHER PROVISION OF THESE LEGAL TERMS, WE RESERVE THE RIGHT TO, IN OUR SOLE DISCRETION AND WITHOUT NOTICE OR
            LIABILITY, DENY ACCESS TO AND USE OF THE SERVICES (INCLUDING BLOCKING CERTAIN IP ADDRESSES), TO ANY PERSON
            FOR ANY REASON OR FOR NO REASON, INCLUDING WITHOUT LIMITATION FOR BREACH OF ANY REPRESENTATION, WARRANTY, OR
            COVENANT CONTAINED IN THESE LEGAL TERMS OR OF ANY APPLICABLE LAW OR REGULATION. WE MAY TERMINATE YOUR USE OR
            PARTICIPATION IN THE SERVICES OR DELETE YOUR ACCOUNT AND ANY CONTENT OR INFORMATION THAT YOU POSTED AT ANY
            TIME, WITHOUT WARNING, IN OUR SOLE DISCRETION.
        </div>
        <div>
            If we terminate or suspend your account for any reason, you are prohibited from registering and creating a
            new account under your name, a fake or borrowed name, or the name of any third party, even if you may be
            acting on behalf of the third party. In addition to terminating or suspending your account, we reserve the
            right to take appropriate legal action, including without limitation pursuing civil, criminal, and
            injunctive redress.
        </div>
        <div>
            14. MODIFICATIONS AND INTERRUPTIONS
        </div>
        <div>
            We reserve the right to change, modify, or remove the contents of the Services at any time or for any reason
            at our sole discretion without notice. However, we have no obligation to update any information on our
            Services. We will not be liable to you or any third party for any modification, price change, suspension, or
            discontinuance of the Services.
        </div>
        <div>
            We cannot guarantee the Services will be available at all times. We may experience hardware, software, or
            other problems or need to perform maintenance related to the Services, resulting in interruptions, delays,
            or errors. We reserve the right to change, revise, update, suspend, discontinue, or otherwise modify the
            Services at any time or for any reason without notice to you. You agree that we have no liability whatsoever
            for any loss, damage, or inconvenience caused by your inability to access or use the Services during any
            downtime or discontinuance of the Services. Nothing in these Legal Terms will be construed to obligate us to
            maintain and support the Services or to supply any corrections, updates, or releases in connection
            therewith.
        </div>
        <div>
            15. GOVERNING LAW
        </div>
        <div>
            These Legal Terms shall be governed by and defined following the laws of Kazakhstan. E-Menu and yourself
            irrevocably consent that the courts of Kazakhstan shall have exclusive jurisdiction to resolve any dispute
            which may arise in connection with these Legal Terms.
        </div>
        <div>
            16. DISPUTE RESOLUTION
        </div>
        <div>
            You agree to irrevocably submit all disputes related to these Legal Terms or the legal relationship
            established by these Legal Terms to the jurisdiction of the Kazakhstan courts. E-Menu shall also maintain
            the right to bring proceedings as to the substance of the matter in the courts of the country where you
            reside or, if these Legal Terms are entered into in the course of your trade or profession, the state of
            your principal place of business.
        </div>
        <div>
            17. CORRECTIONS
        </div>
        <div>
            There may be information on the Services that contains typographical errors, inaccuracies, or omissions,
            including descriptions, pricing, availability, and various other information. We reserve the right to
            correct any errors, inaccuracies, or omissions and to change or update the information on the Services at
            any time, without prior notice.
        </div>
        <div>
            18. DISCLAIMER
        </div>
        <div>
            THE SERVICES ARE PROVIDED ON AN AS-IS AND AS-AVAILABLE BASIS. YOU AGREE THAT YOUR USE OF THE SERVICES WILL
            BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR
            IMPLIED, IN CONNECTION WITH THE SERVICES AND YOUR USE THEREOF, INCLUDING, WITHOUT LIMITATION, THE IMPLIED
            WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE MAKE NO WARRANTIES
            OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE SERVICES' CONTENT OR THE CONTENT OF ANY
            WEBSITES OR MOBILE APPLICATIONS LINKED TO THE SERVICES AND WE WILL ASSUME NO LIABILITY OR RESPONSIBILITY FOR
            ANY (1) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT AND MATERIALS, (2) PERSONAL INJURY OR PROPERTY DAMAGE,
            OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE SERVICES, (3) ANY UNAUTHORISED ACCESS
            TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED
            THEREIN, (4) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE SERVICES, (5) ANY BUGS, VIRUSES,
            TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE SERVICES BY ANY THIRD PARTY, AND/OR
            (6) ANY ERRORS OR OMISSIONS IN ANY CONTENT AND MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A
            RESULT OF THE USE OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SERVICES. WE DO
            NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED
            BY A THIRD PARTY THROUGH THE SERVICES, ANY HYPERLINKED WEBSITE, OR ANY WEBSITE OR MOBILE APPLICATION
            FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR
            MONITORING ANY TRANSACTION BETWEEN YOU AND ANY THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE
            PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST
            JUDGEMENT AND EXERCISE CAUTION WHERE APPROPRIATE.
        </div>
        <div>
            19. LIMITATIONS OF LIABILITY
        </div>
        <div>
            IN NO EVENT WILL WE OR OUR DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY
            DIRECT, INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING LOST PROFIT,
            LOST REVENUE, LOSS OF DATA, OR OTHER DAMAGES ARISING FROM YOUR USE OF THE SERVICES, EVEN IF WE HAVE BEEN
            ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, OUR
            LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE
            LIMITED TO THE AMOUNT PAID, IF ANY, BY YOU TO US DURING THE __________ MONTH PERIOD PRIOR TO ANY CAUSE OF
            ACTION ARISING. CERTAIN US STATE LAWS AND INTERNATIONAL LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES
            OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE
            DISCLAIMERS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.
        </div>
        <div>
            20. INDEMNIFICATION
        </div>
        <div>
            You agree to defend, indemnify, and hold us harmless, including our subsidiaries, affiliates, and all of our
            respective officers, agents, partners, and employees, from and against any loss, damage, liability, claim,
            or demand, including reasonable attorneys’ fees and expenses, made by any third party due to or arising out
            of: (1) your Contributions; (2) use of the Services; (3) breach of these Legal Terms; (4) any breach of your
            representations and warranties set forth in these Legal Terms; (5) your violation of the rights of a third
            party, including but not limited to intellectual property rights; or (6) any overt harmful act toward any
            other user of the Services with whom you connected via the Services. Notwithstanding the foregoing, we
            reserve the right, at your expense, to assume the exclusive defence and control of any matter for which you
            are required to indemnify us, and you agree to cooperate, at your expense, with our defence of such claims.
            We will use reasonable efforts to notify you of any such claim, action, or proceeding which is subject to
            this indemnification upon becoming aware of it.
        </div>
        <div>
            21. USER DATA
        </div>
        <div>
            We will maintain certain data that you transmit to the Services for the purpose of managing the performance
            of the Services, as well as data relating to your use of the Services. Although we perform regular routine
            backups of data, you are solely responsible for all data that you transmit or that relates to any activity
            you have undertaken using the Services. You agree that we shall have no liability to you for any loss or
            corruption of any such data, and you hereby waive any right of action against us arising from any such loss
            or corruption of such data.
        </div>
        <div>
            22. ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES
        </div>
        <div>
            Visiting the Services, sending us emails, and completing online forms constitute electronic communications.
            You consent to receive electronic communications, and you agree that all agreements, notices, disclosures,
            and other communications we provide to you electronically, via email and on the Services, satisfy any legal
            requirement that such communication be in writing. YOU HEREBY AGREE TO THE USE OF ELECTRONIC SIGNATURES,
            CONTRACTS, ORDERS, AND OTHER RECORDS, AND TO ELECTRONIC DELIVERY OF NOTICES, POLICIES, AND RECORDS OF
            TRANSACTIONS INITIATED OR COMPLETED BY US OR VIA THE SERVICES. You hereby waive any rights or requirements
            under any statutes, regulations, rules, ordinances, or other laws in any jurisdiction which require an
            original signature or delivery or retention of non-electronic records, or to payments or the granting of
            credits by any means other than electronic means.
        </div>
        <div>
            23. MISCELLANEOUS
        </div>
        <div>
            These Legal Terms and any policies or operating rules posted by us on the Services or in respect to the
            Services constitute the entire agreement and understanding between you and us. Our failure to exercise or
            enforce any right or provision of these Legal Terms shall not operate as a waiver of such right or
            provision. These Legal Terms operate to the fullest extent permissible by law. We may assign any or all of
            our rights and obligations to others at any time. We shall not be responsible or liable for any loss,
            damage, delay, or failure to act caused by any cause beyond our reasonable control. If any provision or part
            of a provision of these Legal Terms is determined to be unlawful, void, or unenforceable, that provision or
            part of the provision is deemed severable from these Legal Terms and does not affect the validity and
            enforceability of any remaining provisions. There is no joint venture, partnership, employment or agency
            relationship created between you and us as a result of these Legal Terms or use of the Services. You agree
            that these Legal Terms will not be construed against us by virtue of having drafted them. You hereby waive
            any and all defences you may have based on the electronic form of these Legal Terms and the lack of signing
            by the parties hereto to execute these Legal Terms.
        </div>
    </div>
</template>

<script>
export default {
    name: "TermsOfServicePage",
    metaInfo: {
        title: 'Права конфиденциальности',
        titleTemplate: '%s | Emenu'
    },
}
</script>

<style lang="scss">
.terms-of-service {
    width: 890px;
    margin: auto;
    text-align: left;
    padding: 30px 0;

    div {
        margin-bottom: 20px;
    }
}
</style>
