<template>
    <div v-show="isVisibleTabBar">
        <BottomNavigation
            :options="options"
            v-model="selected"
            :titleColor="orangeColor"
            :borderColor="orangeColor"
            :iconColor="orangeColor"
        />
    </div>
</template>

<script>
import BottomNavigation from "@/components/tabBar/BottomNavigation";

export default {
    name: "AppTabBar",
    components: {
        BottomNavigation,
    },
    data: function () {
        return {
            selected: 1,
            options: [
                {
                    id: 1,
                    icon: 'mui-icon mui-icon-home',
                    title: 'Главная',
                    path: {
                        name: 'welcome'
                    }
                },
                {
                    id: 2,
                    icon: 'mui-icon mui-icon-cart',
                    title: 'Корзина',
                    path: {
                        name: 'cart'
                    }
                },
                {
                    id: 3,
                    icon: 'mui-icon mui-icon-orders',
                    title: 'Заказы',
                    path: {
                        name: 'historyPage'
                    }
                },
                {
                    id: 4,
                    icon: 'mui-icon mui-icon-store',
                    title: 'Склад',
                    path: {
                        name: 'store'
                    }
                },
                {
                    id: 5,
                    icon: 'mui-icon mui-icon-request',
                    title: 'Заявки',
                    path: {
                        name: 'request'
                    }
                }
            ],
            orangeColor: '#01B071',
            isVisibleTabBar: true
        }
    },
}
</script>

<style lang="scss">
.mui-icon.mui-icon-home {
    width: 30px;
    height: 30px;
}
.mui-icon.mui-icon-cart {
    width: 30px;
    height: 30px;
}
.mui-icon.mui-icon-orders {
    width: 30px;
    height: 30px;
}
.mui-icon.mui-icon-store {
    width: 30px;
    height: 30px;
}
.mui-icon.mui-icon-request {
    width: 30px;
    height: 30px;
}
</style>
