<template>
    <div class="locales-container">
        <div class="page-title">Языки ресторана</div>
        <div class="locales-wrapper">
            <div class="locales-component">
                <div class="locales-component-wrapper">
                    <div class="locale-title">
                        {{ getMainLanguageOfEstablishment() }}
                    </div>
                    <div class="locale-action">
                        <div class="locale-action-title">
                            Основной язык
                        </div>
                    </div>
                </div>
            </div>

            <div class="locales-component">
                <div class="locales-component-header">
                    Изменить основной язык
                </div>
                <div class="locales-component-wrapper">
                    <div class="select-locale">
                        <Multiselect placeholder="Выберите язык" v-model="addLocaleValue" :options="addLocaleOptions"/>
                    </div>
                    <div class="locale-action">
                        <div class="main-app-btn invert sm" @click="saveMainLanguageClicked">
                            Сохранить
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from "@vueform/multiselect";

export default {
    name: "LocalesPage",
    metaInfo: {
        title: 'Язык меню',
        titleTemplate: '%s | Emenu'
    },
    components: {
        Multiselect
    },
    data() {
        return {
            estId: null,
            languagesOptions: [],
            establishment: {},

            addLocaleValue: null,
            addLocaleOptions: []
        }
    },
    methods: {
        getLanguagesParams() {
            this.$axios.get('/languages/all').then((response) => {
                console.log(response.data)
                this.languagesOptions = response.data

                for (const languagesOption of this.languagesOptions) {
                    this.addLocaleOptions.push({
                        value: languagesOption.id,
                        label: languagesOption.name,
                    })
                }
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                //
            })
        },
        getEstablishment() {
            this.loading = true
            this.$axios.get('/establishment/without-preview/' + this.estId).then((response) => {
                this.establishment = response.data.data
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                this.loading = false
            })
        },
        getMainLanguageOfEstablishment() {
            for (const languageOption of this.languagesOptions) {
                if (parseInt(languageOption.id) === parseInt(this.establishment.main_language_id)) {
                    return languageOption.name
                }
            }

            return '- Не указано -'
        },
        saveMainLanguageClicked() {
            this.loading = true
            this.$axios.post('/establishment/update/main-lang', {
                establishment_id: this.estId,
                main_language_id: this.addLocaleValue,
            }).then((response) => {
                console.log(response.data)
                this.getEstablishment()
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                this.loading = false
            })
        }
    },
    mounted() {
        this.estId = this.$route.params.estId
        this.getLanguagesParams()
        this.getEstablishment()
    }
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>

<style lang="scss">
.locales-container {
    width: 890px;
    margin: auto;

    .locales-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .locales-component {
            background-color: $input-color;
            border-radius: 20px;
            display: flex;
            width: 400px;
            padding: 15px 20px;
            -webkit-box-shadow: $form-container-shadow-sm;
            -moz-box-shadow: $form-container-shadow-sm;
            box-shadow: $form-container-shadow-sm;
            flex-direction: column;
            text-align: left;
            margin-top: 30px;

            &:first-child {
                margin-top: 0;
            }

            .locales-component-header {
                font-size: $font-size-lg;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .locales-component-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .locale-title {
                    font-size: $font-size-lg;
                }

                .select-locale {
                    width: 200px;
                }

                .locale-action {
                    display: flex;
                    align-items: center;

                    .locale-action-title {
                        margin-right: 10px;
                    }

                    .main-app-btn {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        .save-btn {
            width: min-content;
            align-self: flex-start;
            margin: 30px 0;
        }
    }
}
</style>
