<template>
    <div class="menu-management-container">
        <div class="menu-management-header">
            <div class="header-bar">
                <div class="header-bar-title">Редактирование позиций меню</div>
                <div class="select">
                    <Multiselect placeholder="Все позиции" v-model="statusValue" :options="statusOptions"/>
                </div>
                <div class="select">
                    <Multiselect placeholder="Все категории" v-model="categoryValue" :options="categoryOptions"/>
                </div>
            </div>
        </div>
        <div class="menu-management-wrapper">
            <template v-for="(item, key) in dishes" :key="key">
                <div class="menu-item-component"
                     v-if="(categoryValue === null || (parseInt(categoryValue) === parseInt(item.dish_category_id)))
&& (statusValue === null || ((statusValue === 1 && !item.in_stock) || (statusValue === 2 && !item.visible)))">
                    <div class="menu-item-wrapper">
                        <div class="menu-item-title">{{ getName(item) }}</div>
                        <div class="menu-item-category">{{ getCategoryName(item) }}</div>
                        <div class="menu-item-action-wrapper">
                            <div class="menu-item-action-item">
                                <label>
                                    <Toggle @click.stop.prevent="inStockToggleChanged(item.id, item.in_stock)"
                                            v-model="item.in_stock"/>
                                    В наличии
                                </label>
                            </div>
                            <div class="menu-item-action-item">
                                <label>
                                    <Toggle @click.stop.prevent="visibleToggleChanged(item.id, item.visible)"
                                            v-model="item.visible"/>
                                    Видима
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <RouterLink :to="'/menu/locales/' + this.estId" class="locales">
            <div class="main-app-btn invert">Языки</div>
        </RouterLink>
    </div>
</template>

<script>
import Multiselect from "@vueform/multiselect";
import Toggle from "@vueform/toggle";

export default {
    name: "MenuManagementPage",
    metaInfo: {
        title: 'Управление меню',
        titleTemplate: '%s | Emenu'
    },
    components: {
        Multiselect,
        Toggle
    },
    data() {
        return {
            loading: false,
            estId: null,
            establishmentCategories: [],
            categoryValue: null,
            categoryOptions: [],
            dishes: [],

            statusValue: null,
            statusOptions: [
                {
                    value: null,
                    label: "Все позиции",
                },
                {
                    value: 1,
                    label: "Нет в наличии",
                },
                {
                    value: 2,
                    label: "Скрытые",
                },
            ],
        }
    },
    methods: {
        getEstablishmentCategories() {
            if (this.estId === null)
                return

            this.loading = true
            this.$axios.get('/establishment/categories/without-preview/' + this.estId).then((response) => {
                this.establishmentCategories = response.data.establishment_categories
                this.categoryOptions.push({
                    value: null,
                    label: "Все",
                })
                for (const establishmentCategory of this.establishmentCategories) {
                    this.categoryOptions.push({
                        value: establishmentCategory.id,
                        label: establishmentCategory['name_' + this.$store.getters['client/locale']],
                    })
                }
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                this.loading = false
            })
        },
        getDishesOfEstablishment() {
            if (this.estId === null)
                return

            this.loading = true
            this.$axios.get(`/dish/all-by-est-id/${this.estId}`).then((response) => {
                this.dishes = response.data.data
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                this.loading = false
            })
        },
        getName(dish) {
            return dish['name_' + this.$store.getters['client/locale']]
        },
        getCategoryName(dish) {
            for (const establishmentCategory of this.establishmentCategories) {
                if (parseInt(dish.dish_category_id) === parseInt(establishmentCategory.id)) {
                    return establishmentCategory['name_' + this.$store.getters['client/locale']]
                }
            }
            return ''
        },
        inStockToggleChanged(dishId, newInStockValue) {
            this.$axios.post('/dish/update/in-stock', {
                dish_id: dishId,
                in_stock_value: newInStockValue,
            }).then((response) => {
                console.log(response.data)
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                //
            })
        },
        visibleToggleChanged(dishId, newVisibleValue) {
            this.$axios.post('/dish/update/visible', {
                dish_id: dishId,
                visible_value: newVisibleValue,
            }).then((response) => {
                console.log(response.data)
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                //
            })
        }
    },
    mounted() {
        this.estId = this.$route.params.estId
        this.getEstablishmentCategories()
        this.getDishesOfEstablishment()
    }
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>
<style src="@vueform/toggle/themes/default.css"></style>

<style lang="scss">
.menu-management-container {
    width: 890px;
    margin: auto;
    text-align: left;
    margin-bottom: 40px;

    .menu-management-header {
        margin-top: 30px;

        .header-bar {
            display: flex;
            align-items: center;

            .header-bar-title {
                font-size: $font-size-logo;
                font-weight: 600;
                margin-right: auto;
            }

            .select {
                width: 200px;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .menu-management-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .menu-item-component {
            background-color: $input-color;
            padding: 10px 0;
            border-radius: 20px;
            margin-top: 15px;
            -webkit-box-shadow: $form-container-shadow-sm;
            -moz-box-shadow: $form-container-shadow-sm;
            box-shadow: $form-container-shadow-sm;

            &:first-child {
                margin-top: 0;
            }

            .menu-item-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;

                > div {
                    width: 100%;
                    padding: 0 25px;
                }

                .menu-item-title {
                    font-size: $font-size-lg;
                    font-weight: 600;
                }

                .menu-item-category {
                    font-size: $font-size-sm;
                    text-align: left;
                }

                .menu-item-action-wrapper {
                    display: flex;
                    flex-direction: column;

                    .menu-item-action-item {
                        margin-top: 5px;

                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }

    .locales {
        width: min-content;
        display: block;
        align-self: flex-end;
        float: right;
        margin-top: 20px;
    }
}
</style>
