<template>
    <div class="personal-cabinet">

        <div class="page-title">Заказы "{{ estName }}"</div>

        <Multiselect placeholder="Выберите статус" class="select-currency"
                     v-model="filteringStatusId" :options="statusesOptionsWithNull"/>

        <div class="orders-list">
            <template v-for="(order) in orders" :key="order.id">
                <div class="order-wrapper mb-0"
                     v-show="(parseInt(order.status_id) === parseInt(filteringStatusId) || (filteringStatusId === null))"
                     :class="[notSuccessStatusIds.includes(order.status_id) ? 'not-success' : successStatusIds.includes(order.status_id) ? 'success' : '']"
                >
                    <div class="order-title">Заказ <span class="orange-main-color">№{{ order.id }}</span></div>
                    <div class="order-data-container">
                        <div class="order-data-field">
                            <div class="order-prop">Статус:</div>
                            <Multiselect placeholder="Выберите статус" class="select-currency"
                                         v-model="order.status_id" :options="statusesOptions"/>
                        </div>
                        <div class="order-data-field" v-if="order.status_id !== order.status_id_backup">
                            <AppButton :loading="loadingStatus" :title="'Сохранить'" class="save-status-btn"
                                       @click="saveStatusOfOrder(order.id, order.status_id)"/>
                        </div>

                        <div class="order-data-field">
                            <div class="order-prop">Цена:</div>
                            <div>
                                {{ formatPrice(order.to_pay) }} тг
                            </div>
                        </div>

                        <div class="order-data-field">
                            <div class="order-prop">Дата:</div>
                            <div>
                                {{ $dateHelper.formatDateAndTime(order.created_at) }}
                            </div>
                        </div>

                        <div class="order-data-field">
                            <div class="order-prop">Обновлен:</div>
                            <div>
                                {{ $dateHelper.formatDateAndTime(order.updated_at) }}
                            </div>
                        </div>

                        <div class="order-data-field">
                            <div class="order-prop">Оплачен:</div>
                            <Multiselect v-if="!$user.isCook()" placeholder="Выберите статус" class="select-currency"
                                         v-model="order.is_payed" :options="isPayedOptions"/>
                            <template v-else>
                                <template v-if="parseInt(order.is_payed) === 1">
                                    <div style="color: #2bde2b">
                                        Да
                                    </div>
                                </template>
                                <template v-else>
                                    <div style="color: #f80b0b">
                                        Нет
                                    </div>
                                </template>
                            </template>
                        </div>
                        <div class="order-data-field" v-if="order.is_payed !== order.is_payed_backup">
                            <AppButton :loading="loadingIsPayed" :title="'Сохранить'" class="save-status-btn"
                                       @click="saveIsPayedMarkOfOrder(order.id, order.is_payed)"/>
                        </div>

                        <div class="order-data-field">
                            <div class="order-prop">Номер столика:</div>
                            <div>
                                {{ order.table_number }}
                            </div>
                        </div>

                        <div class="order-data-field">
                            <div class="order-prop">Тел. номер:</div>
                            <div>
                                {{ order.client_phone }}
                            </div>
                        </div>
                        <hr>
                        <div class="order-data-field"
                             v-for="(dish, index) in getUniqueDishesFromOrder(order.dishes_name)" :key="index">
                            <div class="order-prop">{{ dish.name_ru }}</div>
                            <div>
                                {{ getQuantityOfDishInOrderById(dish.id, order.dishes_name) }} шт
                            </div>
                        </div>
                    </div>

                </div>
            </template>
        </div>

        <div class="logout" @click="logoutClicked">
            <div class="main-app-btn invert">
                Выйти
            </div>
        </div>
        <VueLoader :active="loading"/>
    </div>
</template>

<script>

import {mapActions} from "vuex/dist/vuex.mjs";
import Multiselect from "@vueform/multiselect";

const CryptoJS = require("crypto-js");

export default {
    name: "OrdersPage",
    metaInfo: {
        title: 'Статус заказов',
        titleTemplate: '%s | Emenu'
    },
    components: {
        Multiselect
    },
    data() {
        return {
            loading: false,
            loadingStatus: false,
            loadingIsPayed: false,

            orders: [],
            qrImgDataUrl: null,
            qrLink: '',
            estId: null,
            estName: '',
            statusesOptions: [],
            statusesOptionsWithNull: [],
            isPayedOptions: [
                {
                    value: 0,
                    label: 'Нет',
                },
                {
                    value: 1,
                    label: 'Да',
                },
            ],
            notSuccessStatusIds: [
                this.$constants.order.statuses.NOT_PAID,
                this.$constants.order.statuses.CANCELLED_BY_THE_CUSTOMER,
                this.$constants.order.statuses.CANCELLED
            ],
            successStatusIds: [this.$constants.order.statuses.CLOSED],
            filteringStatusId: null,

            // socket
            gettingOrdersSocket: false,
            lastHashOfOrders: ''
        }
    },
    methods: {
        ...mapActions({
            logout: 'auth/logout'
        }),
        async logoutClicked() {
            this.loading = true
            await this.logout()
            await this.$router.push({name: 'login'})
            this.loading = false
        },
        getOrdersOfEstablishment(withLoading = true) {
            if (withLoading)
                this.loading = true
            this.$axios.get(`/establishment/${this.estId}/orders`).then((response) => {
                let debugMode = false
                const newOrders = response.data.data
                const newHash = this.getArrayHash(newOrders)
                if (debugMode) {
                    console.log('newHash', newHash)
                    console.log('this.lastHashOfOrders', this.lastHashOfOrders)
                }
                if (this.lastHashOfOrders !== newHash) {
                    if (debugMode) {
                        console.log('entered to if')
                        console.log('')
                    }
                    this.lastHashOfOrders = newHash
                    this.orders = newOrders
                    for (const order of this.orders) {
                        order.status_id_backup = order.status_id
                        order.is_payed_backup = order.is_payed
                    }
                }
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                if (withLoading)
                    this.loading = false

                this.gettingOrdersSocket = setTimeout(() => {
                    this.getOrdersOfEstablishment(false)
                }, 5000)
            })
        },
        formatPrice(price) {
            const formatter = new Intl.NumberFormat();
            return formatter.format(price)
        },
        getUniqueDishesFromOrder(dishes) {
            if (dishes.length === 0) {
                return []
            }
            const uniqueDishes = dishes.filter(
                (dish, index, self) => index === self.findIndex(
                    (d) => d.id === dish.id && d.name_ru === dish.name_ru
                ))
            return uniqueDishes
        },
        getQuantityOfDishInOrderById(dishId, dishesInOrder) {
            if (dishesInOrder.length === 0) {
                return 0
            }
            let quantityOfDish = 0
            for (const dishesInOrderElement of dishesInOrder) {
                if (parseInt(dishesInOrderElement.id) === parseInt(dishId)) {
                    quantityOfDish++
                }
            }
            return quantityOfDish
        },
        getStatusesParams() {
            this.loading = true
            this.$axios.get('/statuses').then((response) => {
                this.statusesOptionsWithNull.push({
                    value: null,
                    label: "Все",
                })
                for (const item of response.data.data) {
                    this.statusesOptions.push({
                        value: item.id,
                        label: item.name,
                    })
                    this.statusesOptionsWithNull.push({
                        value: item.id,
                        label: item.name,
                    })
                }

                this.getOrdersOfEstablishment()
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                this.loading = false
            })
        },
        async saveStatusOfOrder(orderId, statusId) {
            this.loadingStatus = true;
            try {
                await this.$axios.post('/order/update/status', {
                    order_id: orderId,
                    status_id: statusId,
                });
                await this.getOrderById(orderId);
            } catch (e) {
                console.error(e);
            } finally {
                this.loadingStatus = false;
            }
        },
        async getOrderById(orderId) {
            try {
                const response = await this.$axios.get('/order/get/order/' + orderId);
                for (let order of this.orders) {
                    if (parseInt(order.id) === parseInt(orderId)) {
                        order.status_id = response.data.data.status_id;
                        order.status_id_backup = response.data.data.status_id;
                        order.is_payed_backup = response.data.data.is_payed;
                        break;
                    }
                }
            } catch (e) {
                console.error(e);
            }
        },
        getArrayHash(array) {
            const jsonString = JSON.stringify(array);
            const hash = CryptoJS.SHA256(jsonString).toString();
            return hash;
        },

        async saveIsPayedMarkOfOrder(orderId, isPayed) {
            this.loadingIsPayed = true;
            try {
                await this.$axios.post('/order/update/payed', {
                    order_id: orderId,
                    is_payed: isPayed,
                });
                await this.getOrderById(orderId);
            } catch (e) {
                console.error(e);
            } finally {
                this.loadingIsPayed = false;
            }
        },
        getEstablishmentName() {
            const establishmentsInStore = this.$store.getters['auth/establishments']
            for (const establishmentsInStoreElement of establishmentsInStore) {
                if (parseInt(establishmentsInStoreElement.id) === parseInt(this.estId)) {
                    this.estName = establishmentsInStoreElement.name
                    return
                }
            }

            // todo: need to do a request to the backend to get a name of establishment
        }
    },
    beforeUnmount() {
        clearTimeout(this.gettingOrdersSocket)
    },
    mounted() {
        this.estId = this.$route.params.estId
        this.getEstablishmentName()
        this.getStatusesParams(true)
    }
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>

<style lang="scss">
.personal-cabinet {
    width: 890px;
    margin: auto;
    display: flex;
    flex-direction: column;

    .establishments-card-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;

        .establishment-card {
            display: flex;
            flex-direction: column;
            background-color: $input-color;
            padding: 22px;
            border-radius: 20px;
            height: 250px;
            width: 190px;
            justify-content: space-between;
            margin-right: 20px;
            -webkit-box-shadow: $form-container-shadow-sm;
            -moz-box-shadow: $form-container-shadow-sm;
            box-shadow: $form-container-shadow-sm;
            margin-bottom: 20px;

            .establishment-card-header {
                display: flex;
                justify-content: space-between;

                .stars-wrapper {
                    display: flex;
                    align-items: center;

                    .mui-icon-star {
                        background-color: $star-color;
                    }

                    &.no-stars {
                        font-size: 12px;
                        line-height: 12px;
                        text-align: left;
                    }
                }

                .icons-wrapper {
                    display: flex;

                    .card-icon {
                        width: 20px;
                        height: 20px;
                        background-color: $text-color;
                        cursor: pointer;
                        margin-right: 10px;
                    }

                    .mui-icon-gear {
                        margin-right: 0;
                    }
                }
            }

            .establishment-card-body {
                text-align: left;

                .establishment-name {
                    font-size: $font-size-lg2;
                    font-weight: 600;

                    &:hover {
                        cursor: pointer;
                        text-decoration-line: underline;
                    }
                }

                .establishment-url {
                    font-size: $font-size-sm;
                    overflow: hidden;

                    &:hover {
                        overflow: inherit;
                        z-index: 999;
                    }
                }
            }

            &.add {
                justify-content: center;
                -webkit-box-shadow: unset;
                -moz-box-shadow: unset;
                box-shadow: unset;
                cursor: pointer;

                .mui-icon-add-establishment {
                    width: 60px;
                    height: 60px;
                    margin: 0 auto;
                    background-color: $text-color;
                }

                .add-establishment-text {
                    margin-top: 10px;
                }

                &:hover {
                    -webkit-box-shadow: $form-container-shadow;
                    -moz-box-shadow: $form-container-shadow;
                    box-shadow: $form-container-shadow;
                }
            }
        }
    }

    .order-wrapper {
        width: 420px;
        text-align: left;
        background-color: $input-color;
        border-radius: 20px;
        padding: 22px;
        margin: 40px 0 40px 0;
        -webkit-box-shadow: $form-container-shadow-sm;
        -moz-box-shadow: $form-container-shadow-sm;
        box-shadow: $form-container-shadow-sm;
    }

    .logout {
        width: min-content;
        display: block;
        align-self: flex-end;
        margin-top: 30px;
    }

    .order-data-field {
        .main-app-btn {
            margin-left: auto;
        }
    }

    .orders-list {
        flex-direction: unset;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .order-prop {
        min-width: 100px;
        margin-right: 6px;
    }

    .save-status-btn {
        margin-top: 7px;
    }

    .not-success {
        background-color: #FFDFDF;
    }

    .success {
        background-color: #DFFFE3;
    }
}
</style>
