<template>
    <div class="personal-cabinet">

        <div class="page-title" @click="fooEmailSend">Личный кабинет</div>

        <div class="establishments-card-wrapper">
            <div class="establishment-card" v-for="(item, key) in establishments" :key="key">
                <div class="establishment-card-header">
                    <div class="stars-wrapper">
                        <div class="mui-icon mui-icon-star" v-for="(i) in 5"
                             :key="i" :class="{'yellow': i <= Math.round(item.rating)}"></div>
                    </div>
                    <div class="icons-wrapper">
                        <div @click="qrIconClicked(item.id, item.qr_link)" class="mui-icon mui-icon-qr card-icon"></div>
                        <div v-if="!$user.isCook() && !$user.isWaiter()" @click="settingsClicked(item.id)"
                             class="mui-icon mui-icon-gear card-icon"></div>
                    </div>
                </div>

                <div class="establishment-card-body">
                    <div class="establishment-name" @click="$router.push({ path: '/menu/show/' + item.qr_link })">
                        {{ item.name }}
                    </div>
                    <div class="establishment-url">
                        <a :href="getRelatedToDomainQrLink(item.qr_link)">{{ getFullQrLink(item.qr_link) }}</a>
                    </div>
                </div>

                <RouterLink :to="'/orders/' + item.id">
                    <div class="main-app-btn sm-size">Заказы</div>
                </RouterLink>

                <RouterLink v-if="!$user.isCook() && !$user.isWaiter()" :to="'/menu/manage-menu/' + item.id">
                    <div class="main-app-btn sm-size">Редактировать меню</div>
                </RouterLink>
            </div>

            <div v-if="!$user.isCook() && !$user.isWaiter()" class="establishment-card add"
                 @click="openAddEstablishmentModal">
                <div class="mui-icon mui-icon-add-establishment"></div>
                <div class="add-establishment-text">Добавить заведение</div>
            </div>
        </div>

        <div class="notice-container">
            <div class="notice-text">
                Если вам нужна помощь, пожалуйста, дайте нам знать
            </div>
            <div class="our-contacts">
                Наши
                <RouterLink to="/contacts" class="underline">
                    контакты
                </RouterLink>
            </div>
        </div>

        <div class="logout" @click="logoutClicked">
            <div class="main-app-btn invert">
                Выйти
            </div>
        </div>
        <QrModal :qr-img-data-url="qrImgDataUrl" :qr-link="qrLink"/>
        <AddEstablishmentModal @getEstablishments="getEstablishments"/>
        <VueLoader :active="loading"/>
    </div>
</template>

<script>

import {mapActions} from "vuex/dist/vuex.mjs";
import QrModal from "@/components/modals/QrModal";
import AddEstablishmentModal from "@/components/modals/AddEstablishmentModal";

export default {
    name: "ProfilePage",
    metaInfo: {
        title: 'Личный кабинет',
        titleTemplate: '%s | Emenu'
    },
    data() {
        return {
            loading: true,
            establishments: [],
            qrImgDataUrl: null,
            qrLink: '',
        }
    },
    components: {
        QrModal,
        AddEstablishmentModal
    },
    methods: {
        ...mapActions({
            setEstablishments: 'auth/setEstablishments'
        }),
        openQrModal() {
            let qrModal = document.getElementById('qr-modal')
            this.hideScrollBar()
            qrModal.style.display = 'block'
        },
        openAddEstablishmentModal() {
            let addEstablishmentModal = document.getElementById('add-establishment-modal')
            this.hideScrollBar()
            addEstablishmentModal.style.display = 'block'
        },
        hideScrollBar() {
            document.getElementsByTagName('body')[0].style.overflow = 'hidden'
        },
        ...mapActions({
            logout: 'auth/logout'
        }),
        async logoutClicked() {
            this.loading = true
            await this.logout()
            await this.$router.push({name: 'login'})
            this.loading = false
        },
        getEstablishments() {
            this.loading = true
            this.$axios.get('/establishment').then((response) => {
                this.establishments = response.data.data
                this.setEstablishments(this.establishments)
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },
        getEstablishmentsOfPersonal() {
            this.loading = true
            this.$axios.get('/personal/establishment').then((response) => {
                this.establishments = response.data.data
                this.setEstablishments(this.establishments)
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },
        getRelatedToDomainQrLink(qrLink) {
            return `/menu/show/${qrLink}`
        },
        getFullQrLink(qrLink) {
            return this.$constants.server.domain + this.getRelatedToDomainQrLink(qrLink)
        },
        settingsClicked(estId) {
            this.$router.push({name: 'settings', params: {estId: estId}})
        },
        // no-unused-vars
        qrIconClicked(estId, qrLink) {
            this.loading = true
            this.$axios.get(`/establishment/qr/${estId}/${qrLink}`).then((response) => {
                this.qrImgDataUrl = response.data.qr
                this.qrLink = qrLink
                this.openQrModal()
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },
        fooEmailSend() {
            this.loading = true
            this.$axios.post('/test/email/send').then((response) => {
                console.log(response.data)
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                this.loading = false
            })
        }
    },
    mounted() {
        if (this.$user.isUser()) {
            this.getEstablishments()
        } else {
            this.getEstablishmentsOfPersonal()
        }
    }
}
</script>

<style lang="scss">
.personal-cabinet {
    width: 890px;
    margin: auto;
    display: flex;
    flex-direction: column;

    .establishments-card-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;

        .establishment-card {
            display: flex;
            flex-direction: column;
            background-color: $input-color;
            padding: 22px;
            border-radius: 20px;
            height: 250px;
            width: 190px;
            justify-content: space-between;
            margin-right: 20px;
            -webkit-box-shadow: $form-container-shadow-sm;
            -moz-box-shadow: $form-container-shadow-sm;
            box-shadow: $form-container-shadow-sm;
            margin-bottom: 20px;

            .establishment-card-header {
                display: flex;
                justify-content: space-between;

                .stars-wrapper {
                    display: flex;
                    align-items: center;

                    &.no-stars {
                        font-size: 12px;
                        line-height: 12px;
                        text-align: left;
                    }
                }

                .icons-wrapper {
                    display: flex;

                    .card-icon {
                        width: 20px;
                        height: 20px;
                        background-color: $text-color;
                        cursor: pointer;
                        margin-right: 10px;
                    }

                    .mui-icon-gear {
                        margin-right: 0;
                    }
                }
            }

            .establishment-card-body {
                text-align: left;

                .establishment-name {
                    font-size: $font-size-lg2;
                    font-weight: 600;

                    &:hover {
                        cursor: pointer;
                        text-decoration-line: underline;
                    }
                }

                .establishment-url {
                    font-size: $font-size-sm;
                    overflow: hidden;

                    &:hover {
                        overflow: inherit;
                        z-index: 999;
                    }
                }
            }

            &.add {
                justify-content: center;
                -webkit-box-shadow: unset;
                -moz-box-shadow: unset;
                box-shadow: unset;
                cursor: pointer;

                .mui-icon-add-establishment {
                    width: 60px;
                    height: 60px;
                    margin: 0 auto;
                    background-color: $text-color;
                }

                .add-establishment-text {
                    margin-top: 10px;
                }

                &:hover {
                    -webkit-box-shadow: $form-container-shadow;
                    -moz-box-shadow: $form-container-shadow;
                    box-shadow: $form-container-shadow;
                }
            }
        }
    }

    .notice-container {
        width: 420px;
        text-align: left;
        background-color: $input-color;
        border-radius: 20px;
        padding: 22px;
        margin: 40px 0 40px 0;
        -webkit-box-shadow: $form-container-shadow-sm;
        -moz-box-shadow: $form-container-shadow-sm;
        box-shadow: $form-container-shadow-sm;

        .our-contacts {
            margin-top: 10px;
        }
    }

    .logout {
        width: min-content;
        display: block;
        align-self: flex-end;
    }
}
</style>
