<template>
    <div class="settings-container">
        <div class="page-title">Настройки заведения</div>
        <div>Создан: {{ $dateHelper.formatDateAndTime(establishment.created_at) }}</div>
        <div>Обновлен: {{ $dateHelper.formatDateAndTime(establishment.updated_at) }}</div>
        <div class="settings-wrapper">
            <form @submit.prevent="saveEstablishment">
                <div class="fields-container">
                    <div class="field-component">
                        <label>Имя *
                            <input type="text" name="est_name" required v-model="establishment.name">
                        </label>
                    </div>
                    <div class="field-component">
                        <label>Страна
                            <input type="text" name="country" v-model="establishment.country">
                        </label>
                    </div>
                    <div class="field-component">
                        <label>Город
                            <input type="text" name="city" v-model="establishment.city">
                        </label>
                    </div>
                    <div class="field-component">
                        <label>Номер поддержки
                            <input type="text" inputmode="numeric" v-maska data-maska="+7(###)###-##-##" name="number" v-model="establishment.support_phone">
                        </label>
                    </div>
                    <div class="field-component">
                        <label>Пароль от wifi
                            <input type="text" name="wifi_password" v-model="establishment.wifi_password">
                        </label>
                    </div>
                    <div class="field-component">
                        <label>Основной язык
                            <Multiselect placeholder="Выберите язык" class="select-currency"
                                         v-model="establishment.main_language_id" :options="languageOptions"
                                         ref="multiselect_est"/>
                        </label>
                    </div>
                    <div class="field-component">
                        <label>Фото заведения
                            <UploadImageWithPreview :preview="establishment.banner"
                                                    @imageInputHandler="imageInputHandler"
                                                    @photoHasChanged="photoHasChanged"/>
                        </label>
                    </div>
                </div>
                <AppButton class="mt-20" :title="'Сохранить'" :loading="loading"></AppButton>
            </form>
        </div>
        <VueLoader :active="loading"/>

        <hr>

        <div class="page-title">Персонал заведения: {{ personals.length }}</div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table">
                        <thead class="thead-primary">
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Email</th>
                            <th class="w-300">Роль</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(personal, key) in personals" :key="key">
                            <th scope="row">{{ key + 1 }}</th>
                            <td>{{ personal.name }}</td>
                            <td>{{ personal.email }}</td>
                            <td>{{ roles[personal.role_id] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <AddUserToEstablishmentModal :establishment_id="estId" @getPersonals="getPersonals"/>
                <AppButton class="mt-20" :title="'Добавить персонала'"
                           @click="openAddUserToEstablishmentModal"></AppButton>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from "@vueform/multiselect";
import UploadImageWithPreview from "@/components/common/UploadImageWithPreview";
import AddUserToEstablishmentModal from "@/components/modals/AddUserToEstablishmentModal";
import { vMaska } from "maska"

export default {
    name: "SettingsPage",
    metaInfo: {
        title: 'Настройки',
        titleTemplate: '%s | Emenu'
    },
    directives: {
        maska: vMaska
    },
    components: {
        Multiselect,
        UploadImageWithPreview,
        AddUserToEstablishmentModal,
    },
    props: {
        estId: {
            required: true
        },
    },
    data() {
        return {
            loading: false,
            establishment: {},
            languageOptions: [],
            personals: [],
            roles: {
                1: 'Владелец ресторана',
                2: 'Менеджер',
                3: 'Официант',
                4: 'Повар',
            },
            photoWasChanged: false,
        }
    },
    methods: {
        getEst() {
            this.loading = true
            this.$axios.get(`/establishment/${this.estId}`).then((response) => {
                this.establishment = response.data.data
                this.getParams()
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },
        async fetchAndSetBannerPhotoLink(url, establishment, formData, key) {
            const res = await fetch(url);
            const blob = await res.blob();
            console.log(blob);
            establishment.banner_photo_link = blob;
            formData.append(key, establishment[key]);
        },
        async saveEstablishment() {
            this.loading = true;
            let formData = new FormData();

            for (let key in this.establishment) {
                if (Object.hasOwnProperty.call(this.establishment, key)) {
                    if (key === 'banner_photo_link') {
                        if (!this.photoWasChanged) {
                            await this.fetchAndSetBannerPhotoLink(this.establishment.banner, this.establishment, formData, key);
                        } else {
                            if (this.establishment.banner_photo_link === null) {
                                await this.fetchAndSetBannerPhotoLink(this.establishment.banner, this.establishment, formData, key);
                            } else {
                                formData.append(key, this.establishment[key]);
                            }
                        }
                    } else {
                        formData.append(key, this.establishment[key]);
                    }
                }
            }

            try {
                const response = await this.$axios.post('/establishment/update', formData, {
                    headers: {'Content-Type': 'multipart/form-data'}
                })
                console.log(response.data);
            } catch (e) {
                console.log(e);
            } finally {
                this.loading = false;
            }
        },
        getParams() {
            this.$axios.get('/languages').then((response) => {
                for (const item of response.data) {
                    this.languageOptions.push({
                        value: item.id,
                        label: item.name,
                    })
                }
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                if (this.establishment.main_language_id) {
                    this.$refs.multiselect_est.select(this.languageOptions[parseInt(this.establishment.main_language_id) - 1])
                }
            })
        },
        imageInputHandler(file) {
            this.establishment.banner_photo_link = file
        },
        openAddUserToEstablishmentModal() {
            let addEstablishmentModal = document.getElementById('add-user-to-establishment-modal')
            this.hideScrollBar()
            addEstablishmentModal.style.display = 'block'
        },
        hideScrollBar() {
            document.getElementsByTagName('body')[0].style.overflow = 'hidden'
        },
        getPersonals() {
            this.loading = true
            this.$axios.get(`/user-establishment/${this.estId}/get-personals`).then((response) => {
                this.personals = response.data.data
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },
        photoHasChanged() {
            this.photoWasChanged = true
        },
    },
    mounted() {
        this.getEst()
        this.getPersonals()
    }
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>

<style lang="scss">
.settings-container {
    width: 890px;
    margin: auto;
    text-align: left;

    .settings-wrapper {
        width: 500px;
    }

    .mt-20 {
        margin-top: 20px;
    }

    .w-300 {
        width: 300px;
    }

    .row {
        margin-top: 30px;
    }
}
</style>
