<template>
    <footer class="footer-container">
        <hr>
        <div class="footer-wrapper">
            <div class="footer-left">
                <AppLogo route-name="welcome"/>
                <RouterLink to="/terms-of-service">Terms of Service</RouterLink>
                <p>© 2023 Все права защищены</p>
            </div>
            <div class="footer-right">
                <RouterLink to="/contacts">Контакты</RouterLink>
                <div>
                    <a href="mailto:e-menu@gmail.com">e-menu@gmail.com</a>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
import AppLogo from "@/components/headers/AppLogo";

export default {
    name: "FooterComponent",
    components: {
        AppLogo
    }
}
</script>

<style lang="scss">
.footer-container {
    padding-top: 10px;
    background-color: $white-color;

    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 890px;
        margin: auto;
        line-height: 40px;

        .footer-left {
            text-align: left;
            font-size: $font-size-sm;
        }

        .footer-right {
            text-align: right;
        }
    }
}

</style>
