.mui-icon {
    width: 1em;
    height: 2ex;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    user-select: none;
    box-shadow: none;

    content: '';

    @each $name, $glyph in $icons-list {
        &.mui-icon-#{$name} {
            background-color: $grey-4;
            -webkit-mask-image: url($glyph);
            mask-image: url($glyph);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
            -webkit-mask-size: contain;
            mask-size: contain;
        }
    }
}
