/* Error: Undefined variable.
 *    ,
 * 15 |             background-color: $grey-4;
 *    |                               ^^^^^^^
 *    '
 *   _icon.scss 15:31  @import
 *   index.scss 2:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 15 \2502              background-color: $grey-4;\a    \2502                                ^^^^^^^\a    \2575 \a   _icon.scss 15:31  @import\a   index.scss 2:9    root stylesheet";
}
