<template>
    <div class="menu-container">
        <div class="menu-header-bg-wrapper">
            <div class="menu-header-bg" :style="{ backgroundImage: 'url(' + establishment.banner + ')' }"></div>
            <RouterLink to="/profile" v-if="isAuth" class="menu-profile-icon-wrapper">
                <div class="mui-icon mui-icon-profile"></div>
            </RouterLink>
        </div>

        <div class="menu-container-body">
            <div class="go-back-button" @click="goBackButtonClicked">
                <div class="mui-icon mui-icon-left-arrow"></div>
            </div>

            <Multiselect
                v-model="selectedMenuLanguageCode" placeholder="Язык" class="select-menu-language"
                :options="menuLanguageSelectOptions" :canClear="false"
            >
                <template v-slot:singlelabel="{ value }">
                    <div class="multiselect-single-label">
                        <img class="character-label-icon" :src="value.icon"> {{ value.name }}
                    </div>
                </template>

                <template v-slot:option="{ option }">
                    <img class="character-option-icon" :src="option.icon"> {{ option.name }}
                </template>
            </Multiselect>

            <div class="menu-container-body-header">
                <div class="establishment-info-title">
                    <div class="establishment-name">
                        <div>{{ establishment.name }}</div>
                        <div v-if="isAuth" class="mui-icon mui-icon-pen" @click="openEditEstablishmentNameModal"></div>
                    </div>
                    <div class="establishment-rating">
                        <template v-if="showRating">
                            <div class="mui-icon mui-icon-star" v-for="index in Math.round(establishment.rating)"
                                 :key="index"></div>
                        </template>
                    </div>
                </div>
                <div class="establishment-info">
                    <div class="establishment-info-item">
                        <div class="mui-icon mui-icon-geolocation" v-if="showAddress"></div>
                        <div class="establishment-info-text" v-if="showAddress">
                            {{ countryAndCity }}
                        </div>
                        <div v-if="isAuth" class="mui-icon mui-icon-pen" @click="openEditEstablishmentInfoModal"></div>
                    </div>
                    <div class="establishment-info-item">
                        <div class="mui-icon mui-icon-phone" v-if="showSupportPhone"></div>
                        <div class="establishment-info-text" v-if="showSupportPhone">
                            <a :href="'tel:' + establishment.support_phone">{{ establishment.support_phone }}</a>
                        </div>
                        <div v-if="isAuth" class="mui-icon mui-icon-pen" @click="openEditEstablishmentInfoModal"></div>
                    </div>
                    <div class="establishment-info-item">
                        <div class="mui-icon mui-icon-wifi" v-if="showWifiPassword"></div>
                        <div class="establishment-info-text" v-if="showWifiPassword">
                            {{ establishment.wifi_password }}
                        </div>
                        <div v-if="isAuth" class="mui-icon mui-icon-pen" @click="openEditEstablishmentInfoModal"></div>
                    </div>
                </div>
            </div>

            <div class="menu-container-body-search-bar">
                <input type="text" class="input-search" @keyup="search" v-model="searchText"
                       placeholder="Поиск">
                <div class="search-icon">
                    <div class="mui-icon mui-icon-search"></div>
                </div>
            </div>

            <div class="menu-title">
                {{ categoryName }}
            </div>

            <div class="category-list">
                <div v-if="isAuth">
                    <div class="main-app-btn add-food-btn" @click="openAddFoodToEstablishmentModal">{{
                            $t('Add food')
                        }}
                    </div>
                </div>
                <template v-for="(dish, key) in dishes">
                    <div class="category-item-wrapper" v-if="dish.visible" :key="key">
                        <div class="category-item hot-food" :style="{ backgroundImage: 'url(' + dish.preview + ')' }">
                            <div v-if="isAuth" class="delete-category update-food"
                                 @click.prevent.stop="updateFood(dish.id)">
                                <div class="mui-icon mui-icon-pen"></div>
                            </div>
                            <div v-if="isAuth" class="delete-category delete-food"
                                 @click.prevent.stop="removeFood(dish.id)">
                                <div class="mui-icon mui-icon-bin"></div>
                            </div>
                            <div class="delete-category info-food"
                                 @click.prevent.stop="openShowDishInfoModal(dish.id)">
                                <div class="mui-icon mui-icon-info-with-circle"></div>
                            </div>

                            <div v-if="dish.age_limit && parseInt(dish.age_limit_value) > 0"
                                 class="delete-category info-food age-limit-mark">
                                <div class="age-limit-value">{{ dish.age_limit_value }}+</div>
                            </div>

                        </div>
                        <div class="food-info-container">
                            <div class="food-title">{{ getName(dish) }}</div>
                            <div class="food-description">{{ getDescription(dish) }}</div>
                        </div>
                        <div class="food-action-container">
                            <div class="food-price">{{ dish.price }} ₸</div>
                            <div class="minus-plus-button-container">
                                <template v-if="quantityInCart(dish.id) !== 0">
                                    <div class="add-food" @click="removeDishFromCart(dish.id)">
                                        <div class="mui-icon mui-icon-minus"></div>
                                    </div>
                                    <div class="quantity-in-cart">{{ quantityInCart(dish.id) }} шт</div>
                                </template>

                                <template v-if="dish.in_stock">
                                    <div class="add-food" @click="addDishToCart(dish.id)">
                                        <div class="mui-icon mui-icon-plus"></div>
                                    </div>
                                </template>
                                <template v-else>
                                    <div>{{ $t('Not in stock') }}</div>
                                </template>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>

        <EditEstablishmentNameModal v-if="establishment.name" :name="establishment.name"
                                    :establishment-id="parseInt(estId)" @getEstablishment="getEstablishment"/>
        <EditEstablishmentInfoModal v-if="establishment.name" :establishment-id="parseInt(estId)"
                                    @getEstablishment="getEstablishment"/>
        <AddFoodToEstablishmentModal v-if="isAuth" :establishment-id="parseInt(estId)" :dish-category-id=parseInt(catId)
                                     @getDishesOfEstablishment="getDishesOfEstablishment"/>
        <UpdateDishModal v-if="isAuth" @getDishesOfEstablishment="getDishesOfEstablishment"/>
        <ShowDishInfoModal/>
    </div>
</template>

<script>
import EditEstablishmentNameModal from "@/components/modals/EditEstablishmentNameModal";
import {mapActions} from "vuex";
import EditEstablishmentInfoModal from "@/components/modals/EditEstablishmentInfoModal";
import eventBus from "@/helpers/eventBus";
import AddFoodToEstablishmentModal from "@/components/modals/AddFoodToEstablishmentModal";
import UpdateDishModal from "@/components/modals/UpdateDishModal";
import ShowDishInfoModal from "@/components/modals/ShowDishInfoModal";
import Multiselect from "@vueform/multiselect";
import i18n from "@/plugins/i18n";

export default {
    name: "MenuFoodPage",
    metaInfo: {
        title: 'Меню',
        titleTemplate: '%s | Emenu'
    },
    components: {
        EditEstablishmentNameModal,
        EditEstablishmentInfoModal,
        AddFoodToEstablishmentModal,
        UpdateDishModal,
        ShowDishInfoModal,
        Multiselect,
    },
    data() {
        return {
            loading: false,
            estId: null,
            qrLink: null,
            catId: null,
            establishment: [],
            category: [],
            dishes: [],
            dishesBackup: [],
            searchText: '',
            menuLanguageSelectOptions: [],
        }
    },
    methods: {
        // редактирование имени ресторана
        hideScrollBar() {
            document.getElementsByTagName('body')[0].style.overflow = 'hidden'
        },
        openEditEstablishmentNameModal() {
            if (!this.isAuth)
                return

            let addEstablishmentModal = document.getElementById('edit-establishment-name-modal')
            this.hideScrollBar()
            addEstablishmentModal.style.display = 'block'
        },
        getEstablishment() {
            this.loading = true
            this.$axios.get('/establishment/qr-link/' + this.qrLink).then((response) => {
                // todo: надо записать в стор main language id
                this.establishment = response.data.data
                this.estId = response.data.data.id
                this.getDishesOfEstablishment()
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },

        // добавление блюда
        openAddFoodToEstablishmentModal() {
            if (!this.isAuth)
                return

            let addEstablishmentModal = document.getElementById('add-food-to-establishment-modal')
            this.hideScrollBar()
            addEstablishmentModal.style.display = 'block'
        },
        getCategory() {
            this.loading = true
            this.$axios.get('/category/' + this.catId).then((response) => {
                this.category = response.data.data
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },
        getDishesOfEstablishment() {
            this.loading = true
            this.$axios.get(`/dish/get-with-preview/all/${this.estId}/${this.catId}`).then((response) => {
                this.dishes = response.data.data
                this.dishesBackup = response.data.data
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },
        getName(dish) {
            return dish['name_' + this.$store.getters['client/locale']]
        },
        getDescription(dish) {
            return dish['description_' + this.$store.getters['client/locale']]
        },
        removeFood(dishId) {
            if (!this.isAuth)
                return

            this.loading = true
            this.$axios.post('/dish/remove', {
                id: dishId
            }).then(() => {
                this.getDishesOfEstablishment()
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                this.loading = false
            })
        },
        ...mapActions({
            setDish: 'dish/setDish',
        }),
        updateFood(dishId) {
            if (!this.isAuth)
                return

            const dishProxied = this.dishes.filter((item) => parseInt(item.id) === parseInt(dishId))

            const dish = JSON.parse(JSON.stringify(dishProxied[0]))

            this.saveUpdatingDishToStore(dish)
            // emitting to UpdateDishModal for loading the info of dish into the fields
            eventBus.$emit('UpdateDishModalOpened')
            this.openUpdateDishModal()
        },
        saveUpdatingDishToStore(dish) {
            this.setDish(dish)
        },
        openUpdateDishModal() {
            if (!this.isAuth)
                return

            let addEstablishmentModal = document.getElementById('update-dish-modal')
            this.hideScrollBar()
            addEstablishmentModal.style.display = 'block'
        },

        // редактирование данных ресторана
        openEditEstablishmentInfoModal() {
            if (!this.isAuth)
                return

            this.saveEditingDataToStore()
            // emitting to EditEstablishmentInfoModal for loading the info of establishment into the fields
            eventBus.$emit('EditEstablishmentInfoModalOpened')

            let addEstablishmentModal = document.getElementById('edit-establishment-info-modal')
            this.hideScrollBar()
            addEstablishmentModal.style.display = 'block'
        },
        ...mapActions({
            setCountry: 'editEstablishmentInfo/setCountry',
            setCity: 'editEstablishmentInfo/setCity',
            setSupportPhone: 'editEstablishmentInfo/setSupportPhone',
            setWifiPassword: 'editEstablishmentInfo/setWifiPassword',
        }),
        saveEditingDataToStore() {
            this.setCountry(this.establishment.country)
            this.setCity(this.establishment.city)
            this.setSupportPhone(this.establishment.support_phone)
            this.setWifiPassword(this.establishment.wifi_password)
        },

        // поиск
        search() {
            if (this.searchText.length > 0) {
                const searchText = this.searchText.trim()
                const locale = this.$store.getters['client/locale']
                this.dishes = this.dishesBackup.filter((dish) => dish['name_' + locale].toLowerCase().indexOf(searchText.toLowerCase()) !== -1)
            } else {
                this.dishes = this.dishesBackup
            }
        },

        // корзина
        ...mapActions({
            setDishesToCart: 'cart/setDishes',
            setExpireDateToCart: 'cart/setExpireDate'
        }),
        addDishToCart(dishId) {
            const selectedDish = this.dishes.find(item => parseInt(item.id) === parseInt(dishId))
            if (selectedDish) {
                // eslint-disable-next-line no-unused-vars
                const {preview, ...dishWithoutPreview} = selectedDish;
                let dishesInCart = this.$store.getters['cart/dishes']
                dishesInCart.push(dishWithoutPreview)
                this.setDishesToCart(dishesInCart)
                let currentDate = new Date();
                // set +30 mins, after 30 mins the data in cart store will be removed
                currentDate.setMinutes(currentDate.getMinutes() + 30)
                this.setExpireDateToCart(currentDate)
            }
        },
        removeDishFromCart(dishId) {
            const dishesInCart = this.$store.getters['cart/dishes']
            let resultDishesArr = []
            let once = false
            for (const dishesInCartElement of dishesInCart) {
                if (parseInt(dishesInCartElement.id) === parseInt(dishId) && !once) {
                    once = true
                    continue
                }
                resultDishesArr.push(dishesInCartElement)
            }

            this.setDishesToCart(resultDishesArr)
        },
        quantityInCart(dishId) {
            const dishesInCart = this.$store.getters['cart/dishes']
            let quantity = 0
            for (const dishesInCartElement of dishesInCart) {
                if (parseInt(dishesInCartElement.id) === parseInt(dishId))
                    quantity++
            }

            return quantity
        },

        goToOrderPage() {
            this.$router.push({path: '/menu/order/' + this.establishment.qr_link})
        },

        ...mapActions({
            setDishInfoMass: 'modals/setShowDishInfoMass',
            setDishInfoMeasurementId: 'modals/setShowDishInfoMeasurementId',
            setDishInfoCalories: 'modals/setShowDishInfoCalories',
            setDishInfoAgeLimit: 'modals/setShowDishInfoAgeLimit',
            setDishInfoAgeLimitValue: 'modals/setShowDishInfoAgeLimitValue',
        }),
        saveShowDishInfoToStore(dish) {
            this.setDishInfoMass(dish.mass)
            this.setDishInfoMeasurementId(dish.measurement_unit_id)
            this.setDishInfoCalories(dish.calories)
            this.setDishInfoAgeLimit(dish.age_limit)
            this.setDishInfoAgeLimitValue(dish.age_limit_value)
        },
        openShowDishInfoModal(dishId) {
            let dish = ''
            for (const dishesElem of this.dishes) {
                if (parseInt(dishesElem.id) === parseInt(dishId)) {
                    dish = dishesElem
                    break
                }
            }
            if (dish === '') {
                return
            }
            this.saveShowDishInfoToStore(dish)
            // emitting to ShowDishInfoModalOpened for loading fields
            eventBus.$emit('ShowDishInfoModalOpened')

            let addEstablishmentModal = document.getElementById('show-dish-info-modal')
            this.hideScrollBar()
            addEstablishmentModal.style.display = 'block'
        },

        setLanguageParamsToMenuLanguageSelect() {
            if (this.$store.getters['client/languageParams'].length < 1)
                return

            const languageParams = this.$store.getters['client/languageParams']
            this.menuLanguageSelectOptions = []

            for (const languageParam of languageParams) {
                let tempLanguageCode = 'KZ'
                switch (languageParam.code) {
                    case 'ru':
                        tempLanguageCode = 'RU'
                        break
                    case 'en':
                        tempLanguageCode = 'US'
                        break
                }

                let tempLanguageIconUrl = 'https://flagsapi.com/' + tempLanguageCode + '/shiny/32.png'

                this.menuLanguageSelectOptions.push({
                    value: languageParam.code,
                    name: languageParam.name,
                    icon: tempLanguageIconUrl
                })
            }
        },
        goBackButtonClicked() {
            // this.$router.push({path: `/menu/show/${this.qrLink}`})
            window.location.replace('https://' + this.$constants.server.domain + `/menu/show/${this.qrLink}`)
        }
    },
    computed: {
        isAuth() {
            return this.$store.getters['auth/authenticated']
        },
        locale() {
            return this.$store.getters['client/locale']
        },
        countryAndCity() {
            return this.establishment.country + ', ' + this.establishment.city
        },
        showRating() {
            return parseInt(this.establishment.rating) > 0
        },
        showAddress() {
            if (this.isAuth) {
                return true
            }
            return this.establishment?.coutry?.length > 0 || this.establishment?.city?.length > 0
        },
        showSupportPhone() {
            if (this.isAuth) {
                return true
            }
            return this.establishment?.support_phone?.length > 0
        },
        showWifiPassword() {
            if (this.isAuth) {
                return true
            }
            return this.establishment?.wifi_password?.length > 0
        },
        categoryName() {
            return this.category['name_' + this.$store.getters['client/locale']]
        },
        selectedMenuLanguageCode: {
            get() {
                return this.$store.getters['client/locale']
            },
            set(value) {
                this.$store.commit('client/SET_LOCALE', value)
                i18n.global.locale = value;
            }
        }
    },
    mounted() {
        this.qrLink = this.$route.params.qrLink
        this.catId = this.$route.params.catId
        this.getEstablishment()
        this.getCategory()

        // check the expiration date of data in cart, if it is expired delete data in cart
        const expireDateOfCart = this.$store.getters['cart/expireDate']
        if (expireDateOfCart) {
            const currentTime = new Date();
            if (currentTime > new Date(expireDateOfCart)) {
                this.setDishesToCart([])
                this.setExpireDateToCart(null)
            }
        }

        eventBus.$on('cartPanelClicked', this.goToOrderPage)

        setTimeout(() => {
            this.setLanguageParamsToMenuLanguageSelect()
        }, 500)
    },
    beforeUnmount() {
        eventBus.$off('cartPanelClicked')
    }
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>
<style lang="scss" scoped>

.menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .menu-header-bg-wrapper {
        height: 162px;
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;

        .menu-header-bg {
            background-image: url("~@/assets/images/common/restaurant.png");
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    .menu-container-body {
        position: relative;
        z-index: 1;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        min-height: 300px;
        margin-top: -25px;
        background-color: $white-color;
        padding: 15px;

        .add-food-btn {
            margin-bottom: 20px;
        }

        .menu-container-body-header {
            display: flex;
            flex-direction: column;
            margin-top: -50px;

            .establishment-info-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;

                .establishment-name {
                    font-size: $font-size-restaurant-title;
                    display: flex;
                    justify-items: flex-start;
                    align-content: center;
                    align-items: center;
                    margin-left: 70px;
                }

                .mui-icon-pen {
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                    cursor: pointer;
                }

                .establishment-rating {
                    display: flex;

                    .mui-icon-star {
                        background-color: $star-color;
                        width: 17px;
                        height: 17px;
                    }
                }
            }

            .establishment-info {
                display: flex;
                flex-wrap: wrap;
                margin-top: 10px;

                .establishment-info-item {
                    display: flex;
                    width: 50%;
                    align-items: center;
                    margin-top: 10px;

                    .mui-icon {
                        width: 20px;
                        height: 20px;
                    }

                    .establishment-info-text {
                        font-size: $font-size-normal;
                        margin-left: 6px;
                    }
                }
            }
        }

        .menu-container-body-search-bar {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            margin-top: 30px;

            .input-search {
                background-color: $input-color;
                border: none;
                border-radius: 100px;
                padding: 10px 50px 10px 20px;
                width: 100%;
                font-size: $font-size-lg;
            }

            .search-icon {
                position: absolute;
                right: 6px;
                cursor: pointer;
                background-color: $white-color;
                -webkit-box-shadow: $form-container-shadow-sm;
                -moz-box-shadow: $form-container-shadow-sm;
                box-shadow: $form-container-shadow-sm;
                width: 35px;
                height: 35px;
                border-radius: 50px;


                .mui-icon-search {
                    background-color: $text-color;
                    width: 23px;
                    height: 23px;
                    margin: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .category-list {
            display: flex;
            flex-direction: column;
            padding: 15px 0;

            .category-item-wrapper {
                display: flex;
                flex-direction: column;

                .select-title {
                    text-align: left;
                }

                .category-item {
                    height: 225px;
                    width: 100%;
                    border-radius: 25px;
                    -webkit-box-shadow: $form-container-shadow-sm;
                    -moz-box-shadow: $form-container-shadow-sm;
                    box-shadow: $form-container-shadow-sm;
                    position: relative;
                    margin-bottom: 20px;

                    &:first-child {
                        margin-top: 10px;
                    }

                    &.hot-food {
                        background-image: url("~@/assets/images/foods/hot-food.jpg");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    &.salad {
                        background-image: url("~@/assets/images/foods/salad.jpg");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    &.desert {
                        background-image: url("~@/assets/images/foods/desert.jpg");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    &.burger {
                        background-image: url("~@/assets/images/foods/burger.jpg");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .category-title {
                        font-size: $font-size-card-title;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-shadow: $category-text-shadow;
                        color: $white-color;
                    }
                }

                .delete-category {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 30px;
                    height: 30px;
                    border-radius: 40px;
                    background-color: $white-color;
                    -webkit-box-shadow: $form-container-shadow-sm;
                    -moz-box-shadow: $form-container-shadow-sm;
                    box-shadow: $form-container-shadow-sm;
                    transition: .3s;
                    cursor: pointer;

                    .mui-icon-bin, .mui-icon-pen, .mui-icon-info-with-circle {
                        width: 17px;
                        height: 17px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: .2s;
                    }

                    .mui-icon-pen {
                        width: 19px;
                        height: 19px;
                    }

                    .mui-icon-info-with-circle {
                        width: 21px;
                        height: 21px;
                    }

                    &:hover {
                        -webkit-box-shadow: $form-container-shadow;
                        -moz-box-shadow: $form-container-shadow;
                        box-shadow: $form-container-shadow;
                    }

                    &:hover > .mui-icon-bin {
                        background-color: $red-color;
                    }

                    &:hover > .mui-icon-pen {
                        background-color: green;
                    }

                    &:hover > .mui-icon-info-with-circle {
                        background-color: #0094ff;
                    }
                }

                .update-food {
                    right: 90px;
                }

                .delete-food {
                    right: 50px;
                }

                .food-info-container {
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    .food-title {
                        font-size: $font-size-lg;
                        font-weight: 600;
                    }
                }

                .food-action-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 5px;
                    margin-bottom: 40px;

                    .food-price {
                        font-size: $font-size-logo;
                        color: $orange-main;
                        font-weight: 600;
                    }

                    .add-food {
                        width: 38px;
                        height: 38px;
                        background-color: $orange-main;
                        position: relative;
                        border-radius: 50px;
                        cursor: pointer;
                        -webkit-box-shadow: $form-container-shadow-sm;
                        -moz-box-shadow: $form-container-shadow-sm;
                        box-shadow: $form-container-shadow-sm;

                        .mui-icon-plus, .mui-icon-minus {
                            background-color: $white-color;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 18px;
                            height: 18px;
                        }
                    }
                }

                .age-limit-mark {
                    bottom: 10px;
                    top: unset;
                    width: 35px;
                    height: 35px;
                    font-size: 15px;
                    text-align: center;
                    line-height: 35px;
                    cursor: auto;
                }
            }
        }

        .add-category-container {
            display: flex;
            margin-bottom: 20px;

            .select-category {
                margin-right: 30px;
            }
        }

        .menu-title {
            font-size: $font-size-logo;
            margin-top: 20px;
        }
    }

    .minus-plus-button-container {
        display: flex;
        align-items: center;
    }

    .quantity-in-cart {
        min-width: 65px;
        font-size: $font-size-lg;
    }
}

.multiselect-single-label {
    padding-left: var(--ms-px, .875rem);
    padding-right: calc(1.25rem + var(--ms-px, .875rem) * 3);
}

.mui-icon-profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
}
</style>
