<template>
    <div class="menu-container">
        <div class="menu-header-bg-wrapper">
            <div class="menu-header-bg" :style="{ backgroundImage: 'url(' + establishment.banner + ')' }"></div>

            <RouterLink to="/profile" v-if="isAuth" class="menu-profile-icon-wrapper">
                <div class="mui-icon mui-icon-profile"></div>
            </RouterLink>
        </div>

        <div class="menu-container-body">
            <Multiselect
                v-model="selectedMenuLanguageCode" placeholder="Язык" class="select-menu-language"
                :options="menuLanguageSelectOptions" :canClear="false"
            >
                <template v-slot:singlelabel="{ value }">
                    <div class="multiselect-single-label">
                        <img class="character-label-icon" :src="value.icon"> {{ value.name }}
                    </div>
                </template>

                <template v-slot:option="{ option }">
                    <img class="character-option-icon" :src="option.icon"> {{ option.name }}
                </template>
            </Multiselect>

            <div class="menu-container-body-header">
                <div class="establishment-info-title">
                    <div class="establishment-name">
                        <div>{{ establishment.name }}</div>
                        <div v-if="isAuth" class="mui-icon mui-icon-pen" @click="openEditEstablishmentNameModal"></div>
                    </div>
                    <div class="establishment-rating">
                        <template v-if="showRating">
                            <div class="mui-icon mui-icon-star" v-for="(i) in 5"
                                 :key="i" :class="{'yellow': i <= Math.round(establishment.rating)}"></div>
                        </template>
                    </div>
                </div>
                <div class="establishment-info">
                    <div class="establishment-info-item">
                        <div class="mui-icon mui-icon-geolocation" v-if="showAddress"></div>
                        <div class="establishment-info-text" v-if="showAddress">
                            {{ countryAndCity }}
                        </div>
                        <div v-if="isAuth" class="mui-icon mui-icon-pen" @click="openEditEstablishmentInfoModal"></div>
                    </div>
                    <div class="establishment-info-item">
                        <div class="mui-icon mui-icon-phone" v-if="showSupportPhone"></div>
                        <div class="establishment-info-text" v-if="showSupportPhone">
                            <a :href="'tel:' + establishment.support_phone">{{ establishment.support_phone }}</a>
                        </div>
                        <div v-if="isAuth" class="mui-icon mui-icon-pen" @click="openEditEstablishmentInfoModal"></div>
                    </div>
                    <div class="establishment-info-item">
                        <div class="mui-icon mui-icon-wifi" v-if="showWifiPassword"></div>
                        <div class="establishment-info-text" v-if="showWifiPassword">
                            {{ establishment.wifi_password }}
                        </div>
                        <div v-if="isAuth" class="mui-icon mui-icon-pen" @click="openEditEstablishmentInfoModal"></div>
                    </div>
                </div>
            </div>

            <div class="menu-container-body-search-bar">
                <input type="text" class="input-search" @keyup="search" v-model="searchText"
                       :placeholder="$t('Search')">
                <div class="search-icon">
                    <div class="mui-icon mui-icon-search"></div>
                </div>
            </div>

            <div class="category-list">
                <div v-if="isAuth">
                    <div class="select-title">{{ $t('Add category') }}</div>
                    <div class="add-category-container">
                        <Multiselect :placeholder="$t('Choose category')" class="select-category"
                                     v-model="addCategoryId" :options="categoryOptions"/>

                        <div class="main-app-btn" @click="addCategoryToEstablishment">{{ $t('Add') }}</div>
                    </div>
                </div>

                <div class="category-item" @click="categoryClicked(establishmentCategory.id)"
                     v-for="(establishmentCategory, key) in establishmentCategories"
                     :key="key">
                    <div class="background"
                         :style="{ backgroundImage: 'url(' + establishmentCategory.photo_path + ')' }"></div>
                    <div v-if="isAuth" class="delete-category"
                         @click.prevent.stop="removeCategory(establishmentCategory.id)">
                        <div class="mui-icon mui-icon-bin"></div>
                    </div>
                    <div class="category-title">
                        {{ establishmentCategory['name_' + locale] }}
                    </div>
                </div>
            </div>

            <div class="menu-title left section-title">
                {{ $t('Reviews') }}
            </div>

            <div class="feedback-wrapper">
                <div class="feedback-element" v-for="(feedback, key) in establishmentFeedback" :key="key">
                    <div class="feedback-user-icon">
                        <div class="mui-icon mui-icon-person-with-circle"></div>
                    </div>

                    <div class="feedback-body">
                        <div class="feedback-data-text">

                            <div class="feedback-data-text-user">
                                <div class="feedback-username">{{ getFeedbackClientName(feedback.user_name) }}</div>
                                <div class="feedback-date">{{
                                        $dateHelper.formatDateAndTime(feedback.created_at)
                                    }}
                                </div>
                            </div>

                            <div class="feedback-stars">
                                <div class="mui-icon mui-icon-star" v-for="index in parseInt(feedback.rating)"
                                     :key="index"></div>
                            </div>
                        </div>

                        <div class="feedback-text">{{ feedback.feedback_text }}</div>
                    </div>
                </div>
            </div>
        </div>

        <EditEstablishmentNameModal v-if="establishment.name" :name="establishment.name"
                                    :establishment-id="parseInt(estId)" @getEstablishment="getEstablishment"/>
        <EditEstablishmentInfoModal v-if="establishment.name" :establishment-id="parseInt(estId)"
                                    @getEstablishment="getEstablishment"/>
    </div>
</template>

<script>
import Multiselect from "@vueform/multiselect";
import EditEstablishmentNameModal from "@/components/modals/EditEstablishmentNameModal";
import {mapActions} from "vuex";
import EditEstablishmentInfoModal from "@/components/modals/EditEstablishmentInfoModal";
import eventBus from "@/helpers/eventBus";
import i18n from "@/plugins/i18n";

export default {
    name: "MenuPage",
    metaInfo: {
        title: 'Меню',
        titleTemplate: '%s | Emenu'
    },
    components: {
        Multiselect,
        EditEstablishmentNameModal,
        EditEstablishmentInfoModal,
    },
    data() {
        return {
            categoryOptions: [],
            allCategoriesToAdd: [],
            addCategoryId: null,
            loading: false,
            estId: null,
            qrLink: null,
            establishmentCategories: [],
            establishmentCategoriesBackup: [],
            establishment: [],
            searchText: '',
            menuLanguageSelectOptions: [],
            establishmentFeedback: []
        }
    },
    methods: {
        getCategoriesToAdd() {
            if (!this.isAuth)
                return

            this.loading = true
            this.$axios.get('/establishment/categories-to-add/' + this.estId).then((response) => {
                this.allCategoriesToAdd = response.data.establishment_categories_to_add
                this.setCategoriesForSelect(this.allCategoriesToAdd)
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },
        setCategoriesForSelect(allCategoriesToAdd) {
            this.addCategoryId = null
            this.categoryOptions = []
            for (const category of allCategoriesToAdd) {
                this.categoryOptions.push({
                    value: category.id,
                    label: category['name_' + this.$store.getters['client/locale']],
                })
            }
        },
        addCategoryToEstablishment() {
            if (!this.isAuth)
                return

            this.loading = true
            this.$axios.post('/establishment/add-category', {
                establishment_id: this.estId,
                dish_category_id: this.addCategoryId
            }).then(() => {
                this.getEstablishmentCategories()
                this.getCategoriesToAdd()
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },
        getEstablishmentCategories() {
            this.loading = true
            this.$axios.get('/establishment/categories/' + this.estId).then((response) => {
                this.establishmentCategories = response.data.establishment_categories
                this.establishmentCategoriesBackup = response.data.establishment_categories
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },
        removeCategory(dishCategoryId) {
            this.loading = true
            this.$axios.post('/establishment/remove-category', {
                establishment_id: this.estId,
                dish_category_id: dishCategoryId
            }).then((response) => {
                if (response.data.success) {
                    this.getEstablishmentCategories()
                    this.getCategoriesToAdd()
                }
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },

        // редактирование имени ресторана
        hideScrollBar() {
            document.getElementsByTagName('body')[0].style.overflow = 'hidden'
        },
        openEditEstablishmentNameModal() {
            if (!this.isAuth)
                return

            let addEstablishmentModal = document.getElementById('edit-establishment-name-modal')
            this.hideScrollBar()
            addEstablishmentModal.style.display = 'block'
        },
        getEstablishment() {
            this.loading = true
            this.$axios.get('/establishment/qr-link/' + this.qrLink).then((response) => {
                // todo: надо записать в стор main language id
                this.establishment = response.data.data
                this.estId = response.data.data.id
                this.getCategoriesToAdd()
                this.getEstablishmentCategories()
                this.getEstablishmentFeedback()
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },

        // редактирование данных ресторана
        openEditEstablishmentInfoModal() {
            if (!this.isAuth)
                return

            this.saveEditingDataToStore()
            // emitting to EditEstablishmentInfoModal for loading the info of establishment into the fields
            eventBus.$emit('EditEstablishmentInfoModalOpened')

            let addEstablishmentModal = document.getElementById('edit-establishment-info-modal')
            this.hideScrollBar()
            addEstablishmentModal.style.display = 'block'
        },
        ...mapActions({
            setCountry: 'editEstablishmentInfo/setCountry',
            setCity: 'editEstablishmentInfo/setCity',
            setSupportPhone: 'editEstablishmentInfo/setSupportPhone',
            setWifiPassword: 'editEstablishmentInfo/setWifiPassword',
        }),
        saveEditingDataToStore() {
            this.setCountry(this.establishment.country)
            this.setCity(this.establishment.city)
            this.setSupportPhone(this.establishment.support_phone)
            this.setWifiPassword(this.establishment.wifi_password)
        },
        categoryClicked(categoryId) {
            this.$router.push({path: `/menu/show/${this.qrLink}/${categoryId}`})
        },

        // поиск
        search() {
            if (this.searchText.length > 0) {
                const searchText = this.searchText.trim()
                const locale = this.$store.getters['client/locale']
                this.establishmentCategories = this.establishmentCategoriesBackup.filter((category) => category['name_' + locale].toLowerCase().indexOf(searchText.toLowerCase()) !== -1)
            } else {
                this.establishmentCategories = this.establishmentCategoriesBackup
            }
        },

        // корзина
        ...mapActions({
            setDishesToCart: 'cart/setDishes',
            setExpireDateToCart: 'cart/setExpireDate'
        }),

        goToOrderPage() {
            this.$router.push({path: '/menu/order/' + this.establishment.qr_link})
        },
        setLanguageParamsToMenuLanguageSelect() {
            if (this.$store.getters['client/languageParams'].length < 1)
                return

            const languageParams = this.$store.getters['client/languageParams']
            this.menuLanguageSelectOptions = []

            for (const languageParam of languageParams) {
                let tempLanguageCode = 'KZ'
                switch (languageParam.code) {
                    case 'ru':
                        tempLanguageCode = 'RU'
                        break
                    case 'en':
                        tempLanguageCode = 'US'
                        break
                }

                let tempLanguageIconUrl = 'https://flagsapi.com/' + tempLanguageCode + '/shiny/32.png'

                this.menuLanguageSelectOptions.push({
                    value: languageParam.code,
                    name: languageParam.name,
                    icon: tempLanguageIconUrl
                })
            }
        },

        // отзывы
        getEstablishmentFeedback() {
            this.$axios.get('/feedback/get-all-by-est-id/' + this.estId).then((response) => {
                this.establishmentFeedback = response.data.data
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                //
            })
        },
        getFeedbackClientName(name) {
            return name || 'Клиент'
        }
    },
    computed: {
        isAuth() {
            return this.$store.getters['auth/authenticated']
        },
        locale() {
            return this.$store.getters['client/locale']
        },
        countryAndCity() {
            return this.establishment.country + ', ' + this.establishment.city
        },
        showRating() {
            return parseInt(this.establishment.rating) > 0
        },
        showAddress() {
            if (this.isAuth) {
                return true
            }
            return this.establishment?.coutry?.length > 0 || this.establishment?.city?.length > 0
        },
        showSupportPhone() {
            if (this.isAuth) {
                return true
            }
            return this.establishment?.support_phone?.length > 0
        },
        showWifiPassword() {
            if (this.isAuth) {
                return true
            }
            return this.establishment?.wifi_password?.length > 0
        },
        selectedMenuLanguageCode: {
            get() {
                return this.$store.getters['client/locale']
            },
            set(value) {
                this.$store.commit('client/SET_LOCALE', value)
                i18n.global.locale = value;
            }
        }
    },
    mounted() {
        this.qrLink = this.$route.params.qrLink
        this.getEstablishment()

        // check the expiration date of data in cart, if it is expired delete data in cart
        const expireDateOfCart = this.$store.getters['cart/expireDate']
        if (expireDateOfCart) {
            const currentTime = new Date();
            if (currentTime > new Date(expireDateOfCart)) {
                this.setDishesToCart([])
                this.setExpireDateToCart(null)
            }
        }

        eventBus.$on('cartPanelClicked', this.goToOrderPage)

        setTimeout(() => {
            this.setLanguageParamsToMenuLanguageSelect()
        }, 500)
    },
    beforeUnmount() {
        eventBus.$off('cartPanelClicked')
    }
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>

<style lang="scss">

.menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .menu-header-bg-wrapper {
        height: 162px;
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;

        .menu-header-bg {
            background-image: url("~@/assets/images/common/restaurant.png");
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    .menu-container-body {
        position: relative;
        z-index: 1;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        min-height: 300px;
        margin-top: -25px;
        background-color: $white-color;
        padding: 15px;

        .menu-container-body-header {
            display: flex;
            flex-direction: column;

            .establishment-info-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;

                .establishment-name {
                    font-size: $font-size-restaurant-title;
                    display: flex;
                    justify-items: flex-start;
                    align-content: center;
                    align-items: center;
                }

                .establishment-rating {
                    display: flex;

                    .mui-icon-star {
                        width: 17px;
                        height: 17px;
                    }
                }
            }

            .mui-icon-pen {
                width: 17px;
                height: 17px;
                margin-left: 10px;
                cursor: pointer;
            }

            .establishment-info {
                display: flex;
                flex-wrap: wrap;
                margin-top: 10px;

                .establishment-info-item {
                    display: flex;
                    width: 50%;
                    align-items: center;
                    margin-top: 10px;

                    .mui-icon {
                        width: 20px;
                        height: 20px;
                    }

                    .establishment-info-text {
                        font-size: $font-size-normal;
                        margin-left: 6px;
                    }
                }
            }
        }

        .menu-container-body-search-bar {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            margin-top: 30px;

            .input-search {
                background-color: $input-color;
                border: none;
                border-radius: 100px;
                padding: 10px 50px 10px 20px;
                width: 100%;
                font-size: $font-size-lg;
            }

            .search-icon {
                position: absolute;
                right: 6px;
                cursor: pointer;
                background-color: $white-color;
                -webkit-box-shadow: $form-container-shadow-sm;
                -moz-box-shadow: $form-container-shadow-sm;
                box-shadow: $form-container-shadow-sm;
                width: 35px;
                height: 35px;
                border-radius: 50px;


                .mui-icon-search {
                    background-color: $text-color;
                    width: 23px;
                    height: 23px;
                    margin: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .category-list {
            display: flex;
            flex-direction: column;
            padding: 15px 0;

            .select-title {
                text-align: left;
            }

            .category-item {
                height: 120px;
                width: 100%;
                border-radius: 25px;
                -webkit-box-shadow: $form-container-shadow-sm;
                -moz-box-shadow: $form-container-shadow-sm;
                box-shadow: $form-container-shadow-sm;
                position: relative;
                margin-bottom: 20px;
                cursor: pointer;

                &:first-child {
                    margin-top: 10px;
                }

                .category-title {
                    font-size: $font-size-card-title;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-shadow: $category-text-shadow;
                    color: $white-color;
                }
            }

            .background {
                height: 100%;
                filter: blur(1px);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 20px;
            }

            .delete-category {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 30px;
                height: 30px;
                border-radius: 40px;
                background-color: $white-color;
                -webkit-box-shadow: $form-container-shadow-sm;
                -moz-box-shadow: $form-container-shadow-sm;
                box-shadow: $form-container-shadow-sm;
                transition: .3s;

                .mui-icon-bin {
                    width: 17px;
                    height: 17px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: .2s;
                }

                &:hover {
                    -webkit-box-shadow: $form-container-shadow;
                    -moz-box-shadow: $form-container-shadow;
                    box-shadow: $form-container-shadow;
                }

                &:hover > .mui-icon-bin {
                    background-color: $red-color;
                }
            }
        }

        .add-category-container {
            display: flex;
            margin-bottom: 20px;

            .select-category {
                margin-right: 30px;
            }
        }
    }

    .menu-title {
        &.left {
            text-align: left;
        }

        &.section-title {
            font-size: $font-size-logo;
            margin-bottom: 25px;
        }
    }

    .feedback-wrapper {
        display: flex;
        flex-direction: column;

        .feedback-element {
            width: 100%;
            display: flex;
            padding: 20px 0;
            border-bottom: 1px solid $grey-4;
        }
    }

    .feedback-user-icon {
        padding-top: 3px;

        .mui-icon-person-with-circle {
            width: 32px;
            height: 32px;
        }
    }

    .feedback-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-left: 10px;
    }

    .feedback-data-text {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .feedback-data-text-user {
        flex-grow: 1;
        text-align: left;
    }

    .feedback-stars {
        display: flex;
        text-align: left;

        .mui-icon-star {
            background-color: $star-color;
            width: 17px;
            height: 17px;
        }
    }

    .feedback-text {
        text-align: left;
        padding-top: 10px;
    }

    .feedback-username {
        font-weight: 600;
    }

    .feedback-date {
        color: $grey-4;
        font-size: $font-size-sm;
    }
}

</style>
