<template>
    <div class="menu-container">
        <div class="menu-header-bg-wrapper">
            <div class="menu-header-bg" :style="{ backgroundImage: 'url(' + establishment.banner + ')' }"></div>
            <RouterLink to="/profile" v-if="isAuth" class="menu-profile-icon-wrapper">
                <div class="mui-icon mui-icon-profile"></div>
            </RouterLink>
        </div>

        <div class="menu-container-body">
            <div class="go-back-button" @click="goBackButtonClicked">
                <div class="mui-icon mui-icon-left-arrow"></div>
            </div>

            <Multiselect
                v-model="selectedMenuLanguageCode" placeholder="Язык" class="select-menu-language"
                :options="menuLanguageSelectOptions" :canClear="false"
            >
                <template v-slot:singlelabel="{ value }">
                    <div class="multiselect-single-label">
                        <img class="character-label-icon" :src="value.icon"> {{ value.name }}
                    </div>
                </template>

                <template v-slot:option="{ option }">
                    <img class="character-option-icon" :src="option.icon"> {{ option.name }}
                </template>
            </Multiselect>

            <div class="menu-container-body-header">
                <div class="establishment-info-title">
                    <div class="establishment-name">
                        <div>{{ establishment.name }}</div>
                        <!--                        <div v-if="isAuth" class="mui-icon mui-icon-pen" @click="openEditEstablishmentNameModal"></div>-->
                    </div>
                    <div class="establishment-rating">
                        <template v-if="showRating">
                            <div class="mui-icon mui-icon-star" v-for="index in Math.round(establishment.rating)"
                                 :key="index"></div>
                        </template>
                    </div>
                </div>
                <div class="establishment-info">
                    <div class="establishment-info-item">
                        <div class="mui-icon mui-icon-geolocation" v-if="showAddress"></div>
                        <div class="establishment-info-text" v-if="showAddress">
                            {{ countryAndCity }}
                        </div>
                        <!--                        <div v-if="isAuth" class="mui-icon mui-icon-pen" @click="openEditEstablishmentInfoModal"></div>-->
                    </div>
                    <div class="establishment-info-item">
                        <div class="mui-icon mui-icon-phone" v-if="showSupportPhone"></div>
                        <div class="establishment-info-text" v-if="showSupportPhone">
                            <a :href="'tel:' + establishment.support_phone">{{ establishment.support_phone }}</a>
                        </div>
                        <!--                        <div v-if="isAuth" class="mui-icon mui-icon-pen" @click="openEditEstablishmentInfoModal"></div>-->
                    </div>
                    <div class="establishment-info-item">
                        <div class="mui-icon mui-icon-wifi" v-if="showWifiPassword"></div>
                        <div class="establishment-info-text" v-if="showWifiPassword">
                            {{ establishment.wifi_password }}
                        </div>
                        <!--                        <div v-if="isAuth" class="mui-icon mui-icon-pen" @click="openEditEstablishmentInfoModal"></div>-->
                    </div>
                </div>
            </div>

            <div class="menu-title" v-if="dishes.length > 0">
                Заказать:
            </div>

            <div class="category-list">
                <template v-for="(dish, key) in dishes">
                    <div class="category-item-wrapper" v-if="dish.visible" :key="key">
                        <div class="category-item hot-food" :style="{ backgroundImage: 'url(' + dish.preview + ')' }">
                        </div>
                        <div class="food-info-container">
                            <div class="food-title">{{ getName(dish) }}</div>
                            <div class="food-description">{{ getDescription(dish) }}</div>
                        </div>
                        <div class="food-action-container">
                            <div class="food-price">{{ dish.price }} ₸</div>
                            <div class="minus-plus-button-container">
                                <template v-if="quantityInCart(dish.id) !== 0">
                                    <div class="add-food" @click="removeDishFromCart(dish.id)">
                                        <div class="mui-icon mui-icon-minus"></div>
                                    </div>
                                    <div class="quantity-in-cart">{{ quantityInCart(dish.id) }} шт</div>
                                </template>

                                <template v-if="dish.in_stock">
                                    <div class="add-food" @click="addDishToCart(dish.id)">
                                        <div class="mui-icon mui-icon-plus"></div>
                                    </div>
                                </template>
                                <template v-else>
                                    <div>Нет в наличий</div>
                                </template>
                            </div>
                        </div>
                    </div>
                </template>

                <div class="form-container" v-if="totalPrice > 0">
                    <form method="post" @submit.prevent="toOrderClicked">
                        <div class="fields-container">
                            <div class="field-component">
                                <label>Номер телефона *
                                    <input type="text" inputmode="numeric" class="order-page-filed" v-maska
                                           data-maska="+7(###)###-##-##" name="client_phone"
                                           placeholder="+7(777)999-99-99" required
                                           v-model="client_phone"
                                           :class="{'red-border': errors.client_phone}">
                                </label>
                                <span class="error-text" v-if="errors.client_phone">{{
                                        errors.client_phone[0]
                                    }}</span>
                            </div>
                            <div class="field-component">
                                <label>Номер стола *
                                    <input type="number" class="order-page-filed" name="email" required
                                           v-model="table_number"
                                           :class="{'red-border': errors.table_number}">
                                </label>
                                <span class="error-text" v-if="errors.table_number">{{
                                        errors.table_number[0]
                                    }}</span>
                            </div>
                        </div>
                        <div class="total-price-container">
                            <div class="total-title">Итого:</div>
                            <div class="total-price">{{ showFormattedTotalPrice }} ₸</div>
                            <AppButton class="order-button" title="Заказать"
                                       :loading="loading"/>
                        </div>
                    </form>
                </div>
            </div>

            <div class="menu-title" v-if="orders.length > 0">
                {{ $t('My orders') }}:
            </div>

            <div class="orders-list">
                <div class="order-wrapper" v-for="(order, key) in orders" :key="key">
                    <div class="order-title">{{ $t('Order') }} <span class="orange-main-color">№{{ order.id }}</span>
                    </div>
                    <div class="order-data-container">
                        <div class="order-data-field">
                            <div class="order-prop">{{ $t('Status') }}:</div>
                            <div>
                                {{ order.status_name }}
                            </div>
                            <div class="blinking-indicator" v-if="parseInt(order.is_payed) === 0"></div>
                        </div>
                        <div class="order-data-field">
                            <div class="order-prop">{{ $t('Price') }}:</div>
                            <div>
                                {{ formatPrice(order.to_pay) }} {{ $t('tg') }}
                            </div>
                        </div>
                        <div class="order-data-field">
                            <div class="order-prop">{{ $t('Date') }}:</div>
                            <div>
                                {{ $dateHelper.formatDateAndTime(order.created_at) }}
                            </div>
                        </div>
                        <div class="order-data-field">
                            <div class="order-prop">{{ $t('Payed') }}:</div>
                            <template v-if="parseInt(order.is_payed) === 1">
                                <div style="color: #2bde2b">
                                    {{ $t('Yes') }}
                                </div>
                            </template>
                            <template v-else>
                                <div style="color: #f80b0b">
                                    {{ $t('No') }}
                                </div>
                            </template>
                        </div>

                        <hr>
                        <div class="order-data-field"
                             v-for="(dish, index) in getUniqueDishesFromOrder(order.dishes_name)" :key="index">
                            <div class="order-prop">{{ dish.name_ru }}</div>
                            <div>
                                {{ getQuantityOfDishInOrderById(dish.id, order.dishes_name) }} {{ $t('pcs') }}
                            </div>
                        </div>

                        <div class="main-app-btn leave-feedback-btn" v-if="parseInt(order.has_feedback) === 0"
                             @click="openLeaveFeedbackModal(order.id)">{{ $t('Leave a feedback') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <LeaveFeedbackModal @getOrdersByOrderIds="getOrdersByOrderIds"/>
    </div>
</template>

<script>
import {mapActions} from "vuex";
import eventBus from "@/helpers/eventBus";
import CryptoJS from "crypto-js";
import {vMaska} from "maska"
import Multiselect from "@vueform/multiselect";
import i18n from "@/plugins/i18n";
import LeaveFeedbackModal from "@/components/modals/LeaveFeedbackModal";

export default {
    name: "OrderPage",
    metaInfo: {
        title: 'Мои заказы',
        titleTemplate: '%s | Emenu'
    },
    components: {
        Multiselect,
        LeaveFeedbackModal,
    },
    directives: {
        maska: vMaska
    },
    data() {
        return {
            loading: false,
            estId: null,
            qrLink: null,
            establishment: [],
            dishes: [],
            searchText: '',
            client_phone: '',
            table_number: '',
            errors: {},
            orders: [],
            // socket
            updatingStatusOfOrdersSocket: false,
            updatingPayedMarkOfOrdersSocket: false,
            lastHashOfStatuses: '',
            lastHashOfPayedMarks: '',
            menuLanguageSelectOptions: [],
        }
    },
    methods: {
        // редактирование имени ресторана
        hideScrollBar() {
            document.getElementsByTagName('body')[0].style.overflow = 'hidden'
        },
        openEditEstablishmentNameModal() {
            if (!this.isAuth)
                return

            let addEstablishmentModal = document.getElementById('edit-establishment-name-modal')
            this.hideScrollBar()
            addEstablishmentModal.style.display = 'block'
        },
        getEstablishment() {
            this.loading = true
            this.$axios.get('/establishment/qr-link/' + this.qrLink).then((response) => {
                // todo: надо записать в стор main language id
                this.establishment = response.data.data
                this.estId = response.data.data.id
                this.getDishesFromCart()
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },

        getDishesFromCart() {
            const dishesFromCart = this.$store.getters['cart/dishes']
            let idsOfDishesInCart = []
            for (const dishesFromCartElement of dishesFromCart) {
                idsOfDishesInCart.push(dishesFromCartElement.id)
            }

            if (idsOfDishesInCart.length === 0) {
                this.dishes = []
                return
            }

            idsOfDishesInCart = idsOfDishesInCart.filter(this.onlyUnique)
            this.loading = true
            this.$axios.get(`/dish/get-with-preview2/all-by-ids`, {
                params: {
                    ids: idsOfDishesInCart
                }
            }).then((response) => {
                this.dishes = response.data.data
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },
        onlyUnique(value, index, array) {
            return array.indexOf(value) === index;
        },
        getName(dish) {
            return dish['name_' + this.$store.getters['client/locale']]
        },
        getDescription(dish) {
            return dish['description_' + this.$store.getters['client/locale']]
        },

        // редактирование данных ресторана
        openEditEstablishmentInfoModal() {
            if (!this.isAuth)
                return

            this.saveEditingDataToStore()
            // emitting to EditEstablishmentInfoModal for loading the info of establishment into the fields
            eventBus.$emit('EditEstablishmentInfoModalOpened')

            let addEstablishmentModal = document.getElementById('edit-establishment-info-modal')
            this.hideScrollBar()
            addEstablishmentModal.style.display = 'block'
        },
        ...mapActions({
            setCountry: 'editEstablishmentInfo/setCountry',
            setCity: 'editEstablishmentInfo/setCity',
            setSupportPhone: 'editEstablishmentInfo/setSupportPhone',
            setWifiPassword: 'editEstablishmentInfo/setWifiPassword',
        }),
        saveEditingDataToStore() {
            this.setCountry(this.establishment.country)
            this.setCity(this.establishment.city)
            this.setSupportPhone(this.establishment.support_phone)
            this.setWifiPassword(this.establishment.wifi_password)
        },

        // корзина
        ...mapActions({
            setDishesToCart: 'cart/setDishes',
            setExpireDateToCart: 'cart/setExpireDate'
        }),
        addDishToCart(dishId) {
            const selectedDish = this.dishes.find(item => parseInt(item.id) === parseInt(dishId))
            if (selectedDish) {
                // eslint-disable-next-line no-unused-vars
                const {preview, ...dishWithoutPreview} = selectedDish;
                let dishesInCart = this.$store.getters['cart/dishes']
                dishesInCart.push(dishWithoutPreview)
                this.setDishesToCart(dishesInCart)
                let currentDate = new Date();
                // set +30 mins, after 30 mins the data in cart store will be removed
                currentDate.setMinutes(currentDate.getMinutes() + 30)
                this.setExpireDateToCart(currentDate)
            }
        },
        removeDishFromCart(dishId) {
            const dishesInCart = this.$store.getters['cart/dishes']
            let resultDishesArr = []
            let once = false
            for (const dishesInCartElement of dishesInCart) {
                if (parseInt(dishesInCartElement.id) === parseInt(dishId) && !once) {
                    once = true
                    continue
                }
                resultDishesArr.push(dishesInCartElement)
            }

            this.setDishesToCart(resultDishesArr)
        },
        quantityInCart(dishId) {
            const dishesInCart = this.$store.getters['cart/dishes']
            let quantity = 0
            for (const dishesInCartElement of dishesInCart) {
                if (parseInt(dishesInCartElement.id) === parseInt(dishId))
                    quantity++
            }

            return quantity
        },

        // заказ
        ...mapActions({
            addToOrderIds: 'order/addToOrderIds'
        }),
        toOrderClicked() {
            const dishesFromCart = this.$store.getters['cart/dishes']
            let idsOfDishesInCart = []
            for (const dishesFromCartElement of dishesFromCart) {
                idsOfDishesInCart.push(dishesFromCartElement.id)
            }

            this.loading = true
            this.$axios.post('/order', {
                dish_ids: idsOfDishesInCart,
                establishment_id: this.estId,
                client_phone: this.client_phone,
                table_number: this.table_number,
                total_price: this.totalPrice,
            }).then((response) => {
                this.addToOrderIds(response.data.id)
                this.setDishesToCart([])
                this.getDishesFromCart()
                this.getOrdersByOrderIds()
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                this.loading = false
            })
        },
        getOrdersByOrderIds() {
            const orderIds = this.$store.getters['order/orderIds']
            if (orderIds.length === 0) {
                this.orders = []
                return
            }

            this.loading = true
            this.$axios.get('/order/get/bulk', {
                params: {
                    ids: orderIds
                }
            }).then((response) => {
                this.orders = response.data.data
                setTimeout(() => {
                    this.getStatusesOfOrdersByOrderIds()
                    this.getPayedMarkOfOrdersByOrderIds()
                }, 4000)
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                this.loading = false
            })
        },
        formatPrice(price) {
            const formatter = new Intl.NumberFormat();
            return formatter.format(price)
        },

        // мои заказы
        getUniqueDishesFromOrder(dishes) {
            if (dishes.length === 0) {
                return []
            }
            const uniqueDishes = dishes.filter(
                (dish, index, self) => index === self.findIndex(
                    (d) => d.id === dish.id && d.name_ru === dish.name_ru
                ))
            return uniqueDishes
        },
        getQuantityOfDishInOrderById(dishId, dishesInOrder) {
            if (dishesInOrder.length === 0) {
                return 0
            }
            let quantityOfDish = 0
            for (const dishesInOrderElement of dishesInOrder) {
                if (parseInt(dishesInOrderElement.id) === parseInt(dishId)) {
                    quantityOfDish++
                }
            }
            return quantityOfDish
        },
        getStatusesOfOrdersByOrderIds() {
            const orderIds = this.$store.getters['order/orderIds']
            if (orderIds.length === 0) {
                return
            }

            this.$axios.get('/order/bulk/status', {
                params: {
                    ids: orderIds
                }
            }).then((response) => {
                let debugMode = false
                const newStatuses = response.data.data
                const newHash = this.getArrayHash(newStatuses)
                if (debugMode) {
                    console.log('newHash', newHash)
                    console.log('this.lastHashOfStatuses', this.lastHashOfStatuses)
                }

                if (this.lastHashOfStatuses !== newHash) {
                    if (debugMode) {
                        console.log('entered to if')
                        console.log('')
                    }

                    this.lastHashOfStatuses = newHash
                    for (const order of this.orders) {
                        for (const [, [key, value]] of Object.entries(Object.entries(newStatuses))) {
                            if (parseInt(order.id) === parseInt(key)) {
                                order.status_name = value
                                break
                            }
                        }
                    }
                }
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                this.updatingStatusOfOrdersSocket = setTimeout(() => {
                    this.getStatusesOfOrdersByOrderIds()
                }, 4000)
            })
        },
        getPayedMarkOfOrdersByOrderIds() {
            const orderIds = this.$store.getters['order/orderIds']
            if (orderIds.length === 0) {
                return
            }

            this.$axios.get('/order/bulk/payed', {
                params: {
                    ids: orderIds
                }
            }).then((response) => {
                let debugMode = false
                const newPayedMarks = response.data.data
                const newHash = this.getArrayHash(newPayedMarks)
                if (debugMode) {
                    console.log('newHash', newHash)
                    console.log('this.lastHashOfPayedMarks', this.lastHashOfPayedMarks)
                }

                if (this.lastHashOfPayedMarks !== newHash) {
                    if (debugMode) {
                        console.log('entered to if')
                        console.log('')
                    }

                    this.lastHashOfPayedMarks = newHash
                    for (const order of this.orders) {
                        for (const [, [key, value]] of Object.entries(Object.entries(newPayedMarks))) {
                            if (parseInt(order.id) === parseInt(key)) {
                                order.is_payed = value
                                break
                            }
                        }
                    }
                }
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                this.updatingPayedMarkOfOrdersSocket = setTimeout(() => {
                    this.getPayedMarkOfOrdersByOrderIds()
                }, 4000)
            })
        },
        getArrayHash(array) {
            const jsonString = JSON.stringify(array);
            const hash = CryptoJS.SHA256(jsonString).toString();
            return hash;
        },

        setLanguageParamsToMenuLanguageSelect() {
            if (this.$store.getters['client/languageParams'].length < 1)
                return

            const languageParams = this.$store.getters['client/languageParams']
            this.menuLanguageSelectOptions = []

            for (const languageParam of languageParams) {
                let tempLanguageCode = 'KZ'
                switch (languageParam.code) {
                    case 'ru':
                        tempLanguageCode = 'RU'
                        break
                    case 'en':
                        tempLanguageCode = 'US'
                        break
                }

                let tempLanguageIconUrl = 'https://flagsapi.com/' + tempLanguageCode + '/shiny/32.png'

                this.menuLanguageSelectOptions.push({
                    value: languageParam.code,
                    name: languageParam.name,
                    icon: tempLanguageIconUrl
                })
            }
        },
        goBackButtonClicked() {
            this.clearWebsocketListeners()
            // this.$router.push({path: `/menu/show/${this.qrLink}`})
            window.location.replace('https://' + this.$constants.server.domain + `/menu/show/${this.qrLink}`)
        },

        // отзыв
        openLeaveFeedbackModal(orderId) {
            this.saveDataForLeavingFeedback(orderId)
            // emitting to LeaveFeedbackModal for loading the info
            eventBus.$emit('LeaveFeedbackModalOpened')

            let leaveFeedbackModal = document.getElementById('leave-feedback-modal')
            this.hideScrollBar()
            leaveFeedbackModal.style.display = 'block'
        },
        ...mapActions({
            setLeaveFeedbackEstablishmentId: 'modals/setFeedbackEstablishmentId',
            setLeaveFeedbackOrderId: 'modals/setFeedbackOrderId',
        }),
        saveDataForLeavingFeedback(orderId) {
            this.setLeaveFeedbackEstablishmentId(this.estId)
            this.setLeaveFeedbackOrderId(orderId)
        },

        clearWebsocketListeners() {
            clearTimeout(this.updatingStatusOfOrdersSocket)
            clearTimeout(this.updatingPayedMarkOfOrdersSocket)
        }
    },
    computed: {
        isAuth() {
            return this.$store.getters['auth/authenticated']
        },
        locale() {
            return this.$store.getters['client/locale']
        },
        countryAndCity() {
            return this.establishment.country + ', ' + this.establishment.city
        },
        showRating() {
            return parseInt(this.establishment.rating) > 0
        },
        showAddress() {
            if (this.isAuth) {
                return true
            }
            return this.establishment?.coutry?.length > 0 || this.establishment?.city?.length > 0
        },
        showSupportPhone() {
            if (this.isAuth) {
                return true
            }
            return this.establishment?.support_phone?.length > 0
        },
        showWifiPassword() {
            if (this.isAuth) {
                return true
            }
            return this.establishment?.wifi_password?.length > 0
        },

        totalPrice() {
            const dishesFromCart = this.$store.getters['cart/dishes']
            let totalPrice = 0
            for (const dishesFromCartElement of dishesFromCart) {
                totalPrice += parseInt(dishesFromCartElement.price)
            }

            return totalPrice
        },
        showFormattedTotalPrice() {
            const formatter = new Intl.NumberFormat();
            return formatter.format(this.totalPrice)
        },
        selectedMenuLanguageCode: {
            get() {
                return this.$store.getters['client/locale']
            },
            set(value) {
                this.$store.commit('client/SET_LOCALE', value)
                i18n.global.locale = value;
            }
        }
    },
    beforeUnmount() {
        this.clearWebsocketListeners()
    },
    mounted() {
        this.qrLink = this.$route.params.qrLink
        this.getEstablishment()

        // check the expiration date of data in cart, if it is expired delete data in cart
        const expireDateOfCart = this.$store.getters['cart/expireDate']
        if (expireDateOfCart) {
            const currentTime = new Date();
            if (currentTime > new Date(expireDateOfCart)) {
                this.setDishesToCart([])
                this.setExpireDateToCart(null)
            }
        }

        this.getOrdersByOrderIds()

        setTimeout(() => {
            this.setLanguageParamsToMenuLanguageSelect()
        }, 500)
    },
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>

<style lang="scss" scoped>

.menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .menu-header-bg-wrapper {
        height: 162px;
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;

        .menu-header-bg {
            background-image: url("~@/assets/images/common/restaurant.png");
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    .menu-container-body {
        position: relative;
        z-index: 1;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        min-height: 300px;
        margin-top: -25px;
        background-color: $white-color;
        padding: 15px;

        .add-food-btn {
            margin-bottom: 20px;
        }

        .menu-container-body-header {
            display: flex;
            flex-direction: column;
            margin-top: -50px;

            .establishment-info-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;

                .establishment-name {
                    font-size: $font-size-restaurant-title;
                    display: flex;
                    justify-items: flex-start;
                    align-content: center;
                    align-items: center;
                    margin-left: 70px;
                }

                .mui-icon-pen {
                    width: 17px;
                    height: 17px;
                    margin-left: 10px;
                    cursor: pointer;
                }

                .establishment-rating {
                    display: flex;

                    .mui-icon-star {
                        background-color: $star-color;
                        width: 17px;
                        height: 17px;
                    }
                }
            }

            .establishment-info {
                display: flex;
                flex-wrap: wrap;
                margin-top: 10px;

                .establishment-info-item {
                    display: flex;
                    width: 50%;
                    align-items: center;
                    margin-top: 10px;

                    .mui-icon {
                        width: 20px;
                        height: 20px;
                    }

                    .establishment-info-text {
                        font-size: $font-size-normal;
                        margin-left: 6px;
                    }
                }
            }
        }

        .menu-container-body-search-bar {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            margin-top: 30px;

            .input-search {
                background-color: $input-color;
                border: none;
                border-radius: 100px;
                padding: 10px 50px 10px 20px;
                width: 100%;
                font-size: $font-size-lg;
            }

            .search-icon {
                position: absolute;
                right: 6px;
                cursor: pointer;
                background-color: $white-color;
                -webkit-box-shadow: $form-container-shadow-sm;
                -moz-box-shadow: $form-container-shadow-sm;
                box-shadow: $form-container-shadow-sm;
                width: 35px;
                height: 35px;
                border-radius: 50px;


                .mui-icon-search {
                    background-color: $text-color;
                    width: 23px;
                    height: 23px;
                    margin: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .category-list {
            display: flex;
            flex-direction: column;
            padding: 15px 0;

            .category-item-wrapper {
                display: flex;
                flex-direction: column;

                .select-title {
                    text-align: left;
                }

                .category-item {
                    height: 225px;
                    width: 100%;
                    border-radius: 25px;
                    -webkit-box-shadow: $form-container-shadow-sm;
                    -moz-box-shadow: $form-container-shadow-sm;
                    box-shadow: $form-container-shadow-sm;
                    position: relative;
                    margin-bottom: 20px;

                    &:first-child {
                        margin-top: 10px;
                    }

                    &.hot-food {
                        background-image: url("~@/assets/images/foods/hot-food.jpg");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    &.salad {
                        background-image: url("~@/assets/images/foods/salad.jpg");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    &.desert {
                        background-image: url("~@/assets/images/foods/desert.jpg");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    &.burger {
                        background-image: url("~@/assets/images/foods/burger.jpg");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .category-title {
                        font-size: $font-size-card-title;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-shadow: $category-text-shadow;
                        color: $white-color;
                    }
                }

                .delete-category {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 30px;
                    height: 30px;
                    border-radius: 40px;
                    background-color: $white-color;
                    -webkit-box-shadow: $form-container-shadow-sm;
                    -moz-box-shadow: $form-container-shadow-sm;
                    box-shadow: $form-container-shadow-sm;
                    transition: .3s;
                    cursor: pointer;

                    .mui-icon-bin, .mui-icon-pen {
                        width: 17px;
                        height: 17px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: .2s;
                    }

                    .mui-icon-pen {
                        width: 19px;
                        height: 19px;
                    }

                    &:hover {
                        -webkit-box-shadow: $form-container-shadow;
                        -moz-box-shadow: $form-container-shadow;
                        box-shadow: $form-container-shadow;
                    }

                    &:hover > .mui-icon-bin {
                        background-color: $red-color;
                    }

                    &:hover > .mui-icon-pen {
                        background-color: green;
                    }
                }

                .update-food {
                    right: 50px;
                }

                .food-info-container {
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    .food-title {
                        font-size: $font-size-lg;
                        font-weight: 600;
                    }
                }

                .food-action-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 5px;
                    margin-bottom: 40px;

                    .food-price {
                        font-size: $font-size-logo;
                        color: $orange-main;
                        font-weight: 600;
                    }

                    .add-food {
                        width: 38px;
                        height: 38px;
                        background-color: $orange-main;
                        position: relative;
                        border-radius: 50px;
                        cursor: pointer;
                        -webkit-box-shadow: $form-container-shadow-sm;
                        -moz-box-shadow: $form-container-shadow-sm;
                        box-shadow: $form-container-shadow-sm;

                        .mui-icon-plus, .mui-icon-minus {
                            background-color: $white-color;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }

            .form-container {
                text-align: left;

                .order-page-filed {
                    width: 300px;
                    display: block;
                }
            }
        }

        .add-category-container {
            display: flex;
            margin-bottom: 20px;

            .select-category {
                margin-right: 30px;
            }
        }

        .menu-title {
            font-size: $font-size-logo;
            margin-top: 20px;
        }
    }

    .minus-plus-button-container {
        display: flex;
        align-items: center;
    }

    .quantity-in-cart {
        min-width: 65px;
        font-size: $font-size-lg;
    }

    .total-price-container {
        display: flex;
        color: $orange-main;
        font-size: $font-size-logo;
        font-weight: 600;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 20px;

        .total-price {
            margin-left: 25px;
        }
    }

    .order-button {
        width: 150px;
        margin-left: auto;
    }
}

.multiselect-single-label {
    padding-left: var(--ms-px, .875rem);
    padding-right: calc(1.25rem + var(--ms-px, .875rem) * 3);
}

.mui-icon-profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
}

.leave-feedback-btn {
    min-width: 100px;
    max-width: 200px;
    width: max-content;
    margin-left: auto;
}
</style>
