<template>
    <div class="base-modal" @click="backgroundClicked" id="add-establishment-modal">
        <div class="modal-container" @click.stop>

            <div class="modal-title">Добавить заведение</div>
            <form @submit.prevent="createEstablishment">
                <div class="fields-container">
                    <div class="field-component">
                        <label>Название заведения
                            <input type="text" name="name" required v-model="establishment.name">
                        </label>
                    </div>
                    <div class="field-component">
                        <label>Короткое имя в URL
                            <input type="text" name="url" v-maska data-maska="A" data-maska-tokens="A:[a-zA-Z]:multiple"
                                   placeholder="Только буквы" required @keyup="toLower"
                                   v-model="establishment.url">
                        </label>
                    </div>
                    <div class="url-result">digitalemenu.kz/menu/show/{{ establishment.url }}</div>
                    <div class="field-component">
                        <label>Основной язык
                            <Multiselect placeholder="Выберите язык" class="select-currency"
                                         v-model="establishment.language_id" :options="languageOptions"/>
                        </label>
                    </div>
                </div>
                <div class="modal-action">
                    <div class="main-app-btn invert" @click="close">Отмена</div>
                    <AppButton :title="'Добавить'" :loading="loading"></AppButton>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import Multiselect from "@vueform/multiselect";
import {vMaska} from "maska"

export default {
    name: "AddEstablishmentModal",
    components: {
        Multiselect
    },
    directives: {
        maska: vMaska
    },
    data() {
        return {
            establishment: {
                name: '',
                url: '',
                language_id: '',
            },
            languageOptions: [],
            loading: false,
        }
    },
    methods: {
        backgroundClicked() {
            this.close()
        },
        close() {
            let addEstablishmentModal = document.getElementById('add-establishment-modal')
            addEstablishmentModal.style.display = 'none'
            this.showScrollBar()
        },
        showScrollBar() {
            document.getElementsByTagName('body')[0].style.overflow = 'auto'
        },
        createEstablishment() {
            this.loading = true

            this.$axios.post('/establishment', this.establishment).then((response) => {
                if (response.data.success) {
                    this.$emit('getEstablishments')
                    this.resetEstablishment()
                    this.close()
                }
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },
        getParams() {
            this.$axios.get('/languages').then((response) => {
                for (const item of response.data) {
                    this.languageOptions.push({
                        value: item.id,
                        label: item.name,
                    })
                }
            })
        },
        resetEstablishment() {
            this.establishment = {
                name: '',
                url: '',
                language_id: '',
            }
        },
        toLower() {
            this.establishment.url = this.establishment.url.toLowerCase()
        }
    },
    mounted() {
        this.getParams()
    }
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>
<style lang="scss">
.fields-container {
    text-align: left;

    .url-result {
        font-size: $font-size-sm;
        margin-top: 5px;
    }

    .field-component {
        .select-currency {
            width: 100%;
        }
    }
}
</style>
