<template>
    <div class="base-modal" @click="backgroundClicked" id="add-food-to-establishment-modal">
        <div class="modal-container" @click.stop>

            <div class="modal-title">Добавить блюда</div>

            <div class="form-container">
                <form method="post" @submit.prevent="addDish">
                    <div class="fields-container">
                        <div class="field-component">
                            <label>Названия на казахском *
                                <input type="text" name="name_kz" required v-model="dish.name_kz"
                                       :class="{'red-border': errors.name_kz}">
                            </label>
                            <span class="error-text" v-if="errors.name_kz">{{ errors.name_kz[0] }}</span>
                        </div>
                        <div class="field-component">
                            <label>Названия на русском *
                                <input type="text" name="name_ru" required v-model="dish.name_ru"
                                       :class="{'red-border': errors.name_ru}">
                            </label>
                            <span class="error-text" v-if="errors.name_ru">{{ errors.name_ru[0] }}</span>
                        </div>
                        <div class="field-component">
                            <label>Названия на английском *
                                <input type="text" name="name_en" required v-model="dish.name_en"
                                       :class="{'red-border': errors.name_en}">
                            </label>
                            <span class="error-text" v-if="errors.name_en">{{ errors.name_en[0] }}</span>
                        </div>
                        <div class="field-component">
                            <label>Цена *
                                <input type="number" name="price" required v-model="dish.price"
                                       :class="{'red-border': errors.price}">
                            </label>
                            <span class="error-text" v-if="errors.price">{{ errors.price[0] }}</span>
                        </div>
                        <div class="field-component">
                            <label class="flex">В наличии *
                                <input type="checkbox" name="in_stock" class="in-stock-checkbox"
                                       v-model="dish.in_stock" checked
                                       :class="{'red-border': errors.in_stock}">
                            </label>
                            <span class="error-text" v-if="errors.in_stock">{{ errors.in_stock[0] }}</span>
                        </div>
                        <div class="field-component">
                            <label>Скидка (в процентах) *
                                <input type="number" name="discount" required v-model="dish.discount"
                                       :class="{'red-border': errors.discount}">
                            </label>
                            <span class="error-text" v-if="errors.discount">{{ errors.discount[0] }}</span>
                        </div>
                        <div class="field-component">
                            <label>Описание на казахском *
                                <!--                                <input type="text" name="discount" required v-model="dish.discount"
                                                                       :class="{'red-border': errors.discount}">-->
                                <textarea v-model="dish.description_kz"
                                          class="dish-description-area"
                                          :class="{'red-border': errors.description_kz}">

                                </textarea>
                            </label>
                            <span class="error-text" v-if="errors.description_kz">{{ errors.description_kz[0] }}</span>
                        </div>
                        <div class="field-component">
                            <label>Описание на русском *
                                <textarea v-model="dish.description_ru"
                                          class="dish-description-area"
                                          :class="{'red-border': errors.description_ru}">

                                </textarea>
                            </label>
                            <span class="error-text" v-if="errors.description_ru">{{ errors.description_ru[0] }}</span>
                        </div>
                        <div class="field-component">
                            <label>Описание на английском *
                                <textarea v-model="dish.description_en"
                                          class="dish-description-area"
                                          :class="{'red-border': errors.description_en}">

                                </textarea>
                            </label>
                            <span class="error-text" v-if="errors.description_en">{{ errors.description_en[0] }}</span>
                        </div>
                        <div class="field-component">
                            <label class="flex">Видимость *
                                <input type="checkbox" name="visible" class="in-stock-checkbox"
                                       v-model="dish.visible" checked
                                       :class="{'red-border': errors.visible}">
                            </label>
                            <span class="error-text" v-if="errors.visible">{{ errors.visible[0] }}</span>
                        </div>
                        <div class="field-component">
                            <label>Калорийность (в ккал.) (не обязательно)
                                <input type="number" name="calories" v-model="dish.calories"
                                       :class="{'red-border': errors.calories}">
                            </label>
                            <span class="error-text" v-if="errors.calories">{{ errors.calories[0] }}</span>
                        </div>
                        <div class="field-component">
                            <label>Возрастное ограничение (не обязательно)
                                <input type="number" name="age_limit_value" v-model="dish.age_limit_value"
                                       :class="{'red-border': errors.age_limit_value}">
                            </label>
                            <span class="error-text" v-if="errors.age_limit_value">{{
                                    errors.age_limit_value[0]
                                }}</span>
                        </div>
                    </div>
                    <div class="action-btn-container mt-20">
                        <input :disabled="loading" type="submit" class="main-app-btn mt-20" value="Добавить">
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>

export default {
    name: "AddFoodToEstablishmentModal",
    props: {
        establishmentId: {
            required: true
        },
        dishCategoryId: {
            required: true
        }
    },
    data() {
        return {
            dish: {
                name_kz: '',
                name_ru: '',
                name_en: '',
                price: '',
                in_stock: true,
                dish_category_id: '',
                discount: '',
                description_kz: '',
                description_ru: '',
                description_en: '',
                visible: true,
                establishment_id: '',
                calories: null,
                age_limit_value: null,
            },
            errors: {},
            loading: false,
        }
    },
    methods: {
        backgroundClicked() {
            this.close()
        },
        close() {
            let addEstablishmentModal = document.getElementById('add-food-to-establishment-modal')
            addEstablishmentModal.style.display = 'none'
            this.showScrollBar()
        },
        showScrollBar() {
            document.getElementsByTagName('body')[0].style.overflow = 'auto'
        },
        addDish() {
            this.loading = true
            this.errors = {}
            this.dish.dish_category_id = this.dishCategoryId
            this.dish.establishment_id = this.establishmentId

            this.$axios.post('/dish', this.dish).then((response) => {
                if (response.data.success) {
                    this.resetDish()
                    this.close()
                    this.$emit('getDishesOfEstablishment')
                }
            }).catch(({response: {data}}) => {
                this.errors = data.errors || {}
            }).finally(() => {
                this.loading = false
            })
        },
        resetDish() {
            this.dish = {
                name_kz: '',
                name_ru: '',
                name_en: '',
                price: '',
                in_stock: true,
                dish_category_id: '',
                discount: '',
                description_kz: '',
                description_ru: '',
                description_en: '',
                visible: true,
                establishment_id: '',
                calories: null,
                age_limit_value: null,
            }
        }
    }
}
</script>

<style lang="scss">
.fields-container {
    text-align: left;

    .url-result {
        font-size: $font-size-sm;
        margin-top: 5px;
    }

    .field-component {
        .select-currency {
            width: 100%;
        }
    }
}

#add-food-to-establishment-modal {
    .modal-container {
        width: 560px;
        position: relative;
        margin-top: 300px;
    }

    .dish-description-area {
        max-width: 100%;
        width: 100%;
        resize: vertical;
        padding: 10px;
    }

    .flex {
        display: flex;

        .in-stock-checkbox {
            width: 15px;
            margin-left: 20px;
        }
    }

    .mt-20 {
        margin-top: 20px;
    }
}
</style>
