<template>
    <div class="base-modal" @click="backgroundClicked" id="add-user-to-establishment-modal">
        <div class="modal-container" @click.stop>

            <div class="modal-title">Добавить персонала</div>

            <div class="form-container">
                <form method="post" @submit.prevent="addPersonal">
                    <div class="fields-container">
                        <div class="field-component">
                            <label>Имя
                                <input type="text" name="name" required v-model="user.name"
                                       :class="{'red-border': errors.name}">
                            </label>
                            <span class="error-text" v-if="errors.name">{{ errors.name[0] }}</span>
                        </div>
                        <div class="field-component">
                            <label>Почта
                                <input type="email" inputmode="email" name="email" required v-model="user.email"
                                       :class="{'red-border': errors.email}">
                            </label>
                            <span class="error-text" v-if="errors.email">{{ errors.email[0] }}</span>
                        </div>
                        <div class="field-component">
                            <label>Пароль
                                <input type="password" name="password" required v-model="user.password"
                                       :class="{'red-border': errors.password}">
                            </label>
                            <span class="error-text" v-if="errors.password">{{ errors.password[0] }}</span>
                        </div>
                        <div class="field-component">
                            <label>Роль
                                <Multiselect placeholder="Выберите роль" class="select-currency"
                                             v-model="user.role_id" :options="roleOptions"
                                             ref="multiselect_role"/>
                            </label>
                        </div>
                    </div>
                    <div class="action-btn-container mt-20">
                        <input :disabled="loading" type="submit" class="main-app-btn" value="Добавить">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from "@vueform/multiselect";

export default {
    name: "AddUserToEstablishmentModal",
    components: {
        Multiselect
    },
    props: {
        establishment_id: {
            required: true
        }
    },
    data() {
        return {
            user: {
                name: '',
                email: '',
                password: '',
                role_id: '',
                establishment_id: '',
            },
            errors: {},
            loading: false,
            roleOptions: []
        }
    },
    methods: {
        backgroundClicked() {
            this.close()
        },
        close() {
            let addEstablishmentModal = document.getElementById('add-user-to-establishment-modal')
            addEstablishmentModal.style.display = 'none'
            this.showScrollBar()
        },
        showScrollBar() {
            document.getElementsByTagName('body')[0].style.overflow = 'auto'
        },
        getParams() {
            this.$axios.get('/roles').then((response) => {
                for (const item of response.data) {
                    this.roleOptions.push({
                        value: item.id,
                        label: item.name,
                    })
                }
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                //
            })
        },
        addPersonal() {
            this.loading = true
            this.errors = {}

            this.user.establishment_id = this.establishment_id
            this.$axios.post('/add-personal', this.user).then((response) => {
                if (response.data.success) {
                    this.resetUser()
                    this.close()
                    this.$emit('getPersonals')
                }
            }).catch(({response: {data}}) => {
                this.errors = data.errors || {}
            }).finally(() => {
                this.loading = false
            })
        },
        resetUser() {
            this.user = {
                name: '',
                email: '',
                password: '',
                role_id: '',
                establishment_id: '',
            }
        }
    },
    mounted() {
        this.getParams()
    }
}
</script>

<style src="@vueform/multiselect/themes/default.css"></style>
<style lang="scss">
.fields-container {
    text-align: left;

    .url-result {
        font-size: $font-size-sm;
        margin-top: 5px;
    }

    .field-component {
        .select-currency {
            width: 100%;
        }
    }
}

#add-user-to-establishment-modal {
    .modal-container {
        width: 560px;
    }
}
</style>
