<template>
    <div class="base-modal" @click="backgroundClicked" id="edit-establishment-info-modal">
        <div class="modal-container" @click.stop>

            <div class="modal-title">{{ $t('Update establishment data') }}</div>
            <form @submit.prevent="updateEstablishmentInfo">
                <div class="fields-container">
                    <div class="field-component">
                        <label>{{ $t('Country') }}
                            <input type="text" name="name" required v-model="establishmentInfoStruct.country">
                        </label>
                    </div>
                    <div class="field-component">
                        <label>{{ $t('City') }}
                            <input type="text" name="name" required v-model="establishmentInfoStruct.city">
                        </label>
                    </div>
                    <div class="field-component">
                        <label>{{ $t('Номер телефона заведения') }}
                            <input type="text" name="name" v-maska data-maska="+7(###)###-##-##" required
                                   v-model="establishmentInfoStruct.supportPhone">
                        </label>
                    </div>
                    <div class="field-component">
                        <label>{{ $t('Пароль Wi-Fi') }}
                            <input type="text" name="name" required v-model="establishmentInfoStruct.wifiPassword">
                        </label>
                    </div>
                </div>
                <div class="modal-action">
                    <div class="main-app-btn invert" @click="close">{{ $t('Cancel') }}</div>
                    <AppButton :title="$t('Save')" :loading="loading"></AppButton>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import eventBus from "@/helpers/eventBus";
import {vMaska} from "maska"

export default {
    name: "EditEstablishmentInfoModal",
    directives: {
        maska: vMaska
    },
    data() {
        return {
            loading: false,
            establishmentInfoStruct: {
                country: '',
                city: '',
                supportPhone: '',
                wifiPassword: '',
                establishmentId: '',
            }
        }
    },
    props: {
        establishmentId: {
            type: Number,
            required: true,
        }
    },
    methods: {
        backgroundClicked() {
            this.close()
        },
        close() {
            let editEstablishmentNameModal = document.getElementById('edit-establishment-info-modal')
            editEstablishmentNameModal.style.display = 'none'
            this.showScrollBar()
        },
        showScrollBar() {
            document.getElementsByTagName('body')[0].style.overflow = 'auto'
        },
        updateEstablishmentInfo() {
            this.loading = true

            this.establishmentInfoStruct.establishmentId = this.establishmentId
            this.$axios.post('/establishment/update-info', this.establishmentInfoStruct).then((response) => {
                if (response.data.success) {
                    this.$emit('getEstablishment')
                    this.resetData()
                    this.close()
                }
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        },
        getValuesFromStore() {
            this.establishmentInfoStruct.country = this.$store.getters['editEstablishmentInfo/country']
            this.establishmentInfoStruct.city = this.$store.getters['editEstablishmentInfo/city']
            this.establishmentInfoStruct.supportPhone = this.$store.getters['editEstablishmentInfo/supportPhone']
            this.establishmentInfoStruct.wifiPassword = this.$store.getters['editEstablishmentInfo/wifiPassword']
        },
        resetData() {
            this.establishmentInfoStruct = {
                country: '',
                city: '',
                supportPhone: '',
                wifiPassword: '',
                establishmentId: '',
            }
        }
    },
    mounted() {
        eventBus.$on('EditEstablishmentInfoModalOpened', () => {
            this.getValuesFromStore()
        })
    },
    beforeUnmount() {
        eventBus.$off('EditEstablishmentInfoModalOpened');
    }
}
</script>

<style lang="scss">
.fields-container {
    text-align: left;

    .url-result {
        font-size: $font-size-sm;
        margin-top: 5px;
    }

    .field-component {
        .select-currency {
            width: 100%;
        }
    }
}
</style>
