<template>
    <div class="base-modal" @click="backgroundClicked" id="edit-establishment-name-modal">
        <div class="modal-container" @click.stop>

            <div class="modal-title">{{ $t('Update establishment name') }}</div>
            <form @submit.prevent="updateEstablishmentName">
                <div class="fields-container">
                    <div class="field-component">
                        <label>{{ $t('Name of establishment') }}
                            <input type="text" name="name" required v-model="editedName">
                        </label>
                    </div>
                </div>
                <div class="modal-action">
                    <div class="main-app-btn invert" @click="close">{{ $t('Cancel') }}</div>
                    <AppButton :title="$t('Save')" :loading="loading"></AppButton>
                </div>
            </form>
        </div>
    </div>
</template>

<script>

export default {
    name: "EditEstablishmentNameModal",
    data() {
        return {
            loading: false,
            editedName: ''
        }
    },
    props: {
        name: {
            type: String,
            required: true,
        },
        establishmentId: {
            type: Number,
            required: true,
        }
    },
    methods: {
        backgroundClicked() {
            this.close()
        },
        close() {
            let editEstablishmentNameModal = document.getElementById('edit-establishment-name-modal')
            editEstablishmentNameModal.style.display = 'none'
            this.showScrollBar()
        },
        showScrollBar() {
            document.getElementsByTagName('body')[0].style.overflow = 'auto'
        },
        updateEstablishmentName() {
            this.loading = true
            this.$axios.post('/establishment/update-name', {
                establishment_id: this.establishmentId,
                name: this.editedName
            }).then((response) => {
                if (response.data.success) {
                    this.$emit('getEstablishment')
                    this.editedName = ''
                    this.close()
                }
            }).catch((e) => {
                console.log(e)
            }).finally(() => {
                this.loading = false
            })
        }
    }
}
</script>

<style lang="scss">
.fields-container {
    text-align: left;

    .url-result {
        font-size: $font-size-sm;
        margin-top: 5px;
    }

    .field-component {
        .select-currency {
            width: 100%;
        }
    }
}
</style>
