<template>
    <div class="base-modal" @click="backgroundClicked" id="leave-feedback-modal">
        <div class="modal-container" @click.stop>

            <div class="modal-title">{{ $t('Leave a feedback') }}</div>
            <form @submit.prevent="leaveFeedback">
                <div class="fields-container">
                    <div class="field-component">
                        <div class="feedback-stars feedback-leave">
                            <div class="mui-icon mui-icon-star" v-for="index in startMaxCount"
                                 :class="{'yellow': index <= feedback.rating}"
                                 :key="index" @click="starClicked(index)"></div>
                        </div>
                    </div>
                </div>
                <div class="fields-container">
                    <div class="field-component">
                        <label>{{ $t('Feedback') }} *
                            <textarea v-model="feedback.feedback_text"
                                      class="feedback-text-area"></textarea>
                        </label>
                    </div>
                </div>
                <div class="fields-container">
                    <div class="field-component">
                        <label>{{ $t('Your name') }} ({{ $t('not necessary') }})
                            <input type="text" name="name" v-model="feedback.user_name">
                        </label>
                    </div>
                </div>
                <div class="modal-action">
                    <div class="main-app-btn invert" @click="close">{{ $t('Cancel') }}</div>
                    <AppButton :title="$t('Save')" :loading="loading"></AppButton>
                </div>
            </form>
        </div>
    </div>
</template>

<script>

import eventBus from "@/helpers/eventBus";

export default {
    name: "LeaveFeedbackModal",
    data() {
        return {
            loading: false,
            feedback: {
                establishment_id: '',
                order_id: '',
                feedback_text: '',
                user_name: '',
                rating: 0
            },
            startMaxCount: 5,
        }
    },
    methods: {
        backgroundClicked() {
            this.close()
        },
        close() {
            let leaveFeedbackModal = document.getElementById('leave-feedback-modal')
            leaveFeedbackModal.style.display = 'none'
            this.showScrollBar()
        },
        showScrollBar() {
            document.getElementsByTagName('body')[0].style.overflow = 'auto'
        },
        leaveFeedback() {
            this.loading = true

            this.$axios.post('/feedback', this.feedback).then((response) => {
                if (parseInt(response.data.id) > 0) {
                    this.$emit('getOrdersByOrderIds')
                    this.resetFeedback()
                    this.close()
                }
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                this.loading = false
            })
        },
        getValuesFromStore() {
            this.feedback.establishment_id = this.$store.getters['modals/leaveFeedbackGetEstablishmentId']
            this.feedback.order_id = this.$store.getters['modals/leaveFeedbackGetOrderId']
        },
        starClicked(index) {
            console.log(index)
            this.feedback.rating = index
        },
        resetFeedback() {
            this.feedback = {
                establishment_id: '',
                order_id: '',
                feedback_text: '',
                user_name: '',
                rating: 0
            }
        }
    },
    mounted() {
        eventBus.$on('LeaveFeedbackModalOpened', () => {
            this.getValuesFromStore()
        })
    },
    beforeUnmount() {
        eventBus.$off('LeaveFeedbackModalOpened');
    }
}
</script>

<style lang="scss">
.fields-container {
    text-align: left;

    .url-result {
        font-size: $font-size-sm;
        margin-top: 5px;
    }

    .field-component {
        .select-currency {
            width: 100%;
        }
    }
}

.feedback-stars {
    display: flex;
    justify-content: center;

    &.feedback-leave {

        .mui-icon-star {
            width: 45px;
            height: 45px;
            background-color: #aaa;

            &.yellow {
                background-color: $star-color;
            }
        }
    }
}

.feedback-text-area {
    display: block;
    width: 100%;
    padding: 10px;
}

#leave-feedback-modal {
    .modal-container {
        padding: 35px 15px 20px 15px;
        min-width: 90%;
    }
}
</style>
