<template>
    <div class="base-modal" @click="backgroundClicked" id="qr-modal">
        <div class="modal-container" @click.stop>
            <div class="modal-title">QR код</div>
            <div class="modal-text">Вы можете скачать его и распечатать</div>
            <div>
                <img class="qr-code" :src="qrImgDataUrl"
                     alt="qr-example-google-com.png">
            </div>
            <div class="modal-action">
                <div class="main-app-btn invert" @click="close">Закрыть</div>
                <div class="main-app-btn" @click="downloadURI">Скачать</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "QrModal",
    props: {
        qrImgDataUrl: {
            required: true,
            type: String,
        },
        qrLink: {
            required: true,
            type: String,
        },
    },
    methods: {
        backgroundClicked() {
            this.close()
        },
        close() {
            let qrModal = document.getElementById('qr-modal')
            qrModal.style.display = 'none'
            this.showScrollBar()
        },
        showScrollBar() {
            document.getElementsByTagName('body')[0].style.overflow = 'auto'
        },
        downloadURI() {
            const name = this.qrLink + '-' + Math.round(Math.random() * 100000) + '.png'
            let link = document.createElement("a");
            link.download = name;
            link.href = this.qrImgDataUrl;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    }
}
</script>

<style lang="scss">
</style>
