<template>
    <div class="base-modal" @click="backgroundClicked" id="show-dish-info-modal">
        <div class="modal-container" @click.stop>

            <div class="modal-title">{{ $t('More about food') }}</div>


            <div class="info-list-wrapper">
                <div class="info-list-line">
                    <div class="info-list-title">{{ $t('Weight') }}:</div>
                    <div class="info-list-value">{{ dishInfo.mass }} {{ measurementName }}</div>
                </div>
                <div class="info-list-line">
                    <div class="info-list-title">{{ $t('Calories') }}:</div>
                    <div class="info-list-value" v-if="dishInfo.calories">{{ dishInfo.calories }} {{ $t('kkal') }}</div>
                    <div class="info-list-value" v-else>{{ $t('- no data -') }}</div>
                </div>
                <div class="info-list-line">
                    <div class="info-list-title">{{ $t('Age limit') }}:</div>
                    <div class="info-list-value" v-if="dishInfo.ageLimit">{{ dishInfo.ageLimitValue }} +</div>
                    <div class="info-list-value" v-else> {{ $t('no') }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import eventBus from "@/helpers/eventBus";
import {vMaska} from "maska"

export default {
    name: "ShowDishInfoModal",
    directives: {
        maska: vMaska
    },
    data() {
        return {
            loading: false,
            dishInfo: {
                mass: '',
                measurementId: '',
                calories: '',
                ageLimit: '',
                ageLimitValue: '',
            },
            measurementUnitsParams: []
        }
    },
    methods: {
        backgroundClicked() {
            this.close()
        },
        close() {
            let editEstablishmentNameModal = document.getElementById('show-dish-info-modal')
            editEstablishmentNameModal.style.display = 'none'
            this.showScrollBar()
        },
        showScrollBar() {
            document.getElementsByTagName('body')[0].style.overflow = 'auto'
        },
        getValuesFromStore() {
            this.dishInfo.mass = this.$store.getters['modals/showDishInfoGetMass']
            this.dishInfo.measurementId = this.$store.getters['modals/showDishInfoGetMeasurementId']
            this.dishInfo.calories = this.$store.getters['modals/showDishInfoGetCalories']
            this.dishInfo.ageLimit = this.$store.getters['modals/showDishInfoGetAgeLimit']
            this.dishInfo.ageLimitValue = this.$store.getters['modals/showDishInfoGetAgeLimitValue']
        },
        getMeasurementUnits() {
            this.$axios.get('/measurement-unit/all').then((response) => {
                this.measurementUnitsParams = response.data
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                //
            })
        }
    },
    computed: {
        measurementName() {
            return this.measurementUnitsParams?.[parseInt(this.dishInfo.measurementId) - 1]?.['short_name_' + this.$store.getters['client/locale']]
        }
    },
    mounted() {
        eventBus.$on('ShowDishInfoModalOpened', () => {
            this.getValuesFromStore()
        })
        this.getMeasurementUnits()
    },
    beforeUnmount() {
        eventBus.$off('ShowDishInfoModalOpened');
    }
}
</script>

<style lang="scss">

.modal-container {
    width: 465px;
}

.info-list-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .info-list-line {
        display: flex;

        .info-list-title, .info-list-value {
            width: 50%;
            padding: 2px 7px;
        }

        .info-list-title {
            text-align: right;
        }

        .info-list-value {
            text-align: left;
        }
    }
}
</style>
