<template>
    <div class="base-modal" @click="backgroundClicked" id="update-dish-modal">
        <div class="modal-container" @click.stop>

            <div class="modal-title">Обновить данные заведения</div>
            <form @submit.prevent="updateDish">
                <div class="fields-container">
                    <div class="field-component">
                        <label>Фото заведения
                            <UploadImageWithPreview :preview="dish.preview"
                                                    @imageInputHandler="imageInputHandler"
                                                    @photoHasChanged="photoHasChanged"/>
                        </label>
                    </div>
                    <div class="field-component">
                        <label>Названия на казахском *
                            <input type="text" name="name_kz" required v-model="dish.name_kz"
                                   :class="{'red-border': errors.name_kz}">
                        </label>
                        <span class="error-text" v-if="errors.name_kz">{{ errors.name_kz[0] }}</span>
                    </div>
                    <div class="field-component">
                        <label>Названия на русском *
                            <input type="text" name="name_ru" required v-model="dish.name_ru"
                                   :class="{'red-border': errors.name_ru}">
                        </label>
                        <span class="error-text" v-if="errors.name_ru">{{ errors.name_ru[0] }}</span>
                    </div>
                    <div class="field-component">
                        <label>Названия на английском *
                            <input type="text" name="name_en" required v-model="dish.name_en"
                                   :class="{'red-border': errors.name_en}">
                        </label>
                        <span class="error-text" v-if="errors.name_en">{{ errors.name_en[0] }}</span>
                    </div>
                    <div class="field-component">
                        <label>Цена *
                            <input type="number" name="price" required v-model="dish.price"
                                   :class="{'red-border': errors.price}">
                        </label>
                        <span class="error-text" v-if="errors.price">{{ errors.price[0] }}</span>
                    </div>
                    <div class="field-component">
                        <label class="flex">В наличии *
                            <input type="checkbox" name="in_stock" class="in-stock-checkbox"
                                   v-model="dish.in_stock"
                                   :class="{'red-border': errors.in_stock}">
                        </label>
                        <span class="error-text" v-if="errors.in_stock">{{ errors.in_stock[0] }}</span>
                    </div>
                    <div class="field-component">
                        <label>Скидка (в процентах) *
                            <input type="number" name="discount" required v-model="dish.discount"
                                   :class="{'red-border': errors.discount}">
                        </label>
                        <span class="error-text" v-if="errors.discount">{{ errors.discount[0] }}</span>
                    </div>
                    <div class="field-component">
                        <label>Описание на казахском *
                            <textarea v-model="dish.description_kz"
                                      class="dish-description-area"
                                      :class="{'red-border': errors.description_kz}">
                                </textarea>
                        </label>
                        <span class="error-text" v-if="errors.description_kz">{{ errors.description_kz[0] }}</span>
                    </div>
                    <div class="field-component">
                        <label>Описание на русском *
                            <textarea v-model="dish.description_ru"
                                      class="dish-description-area"
                                      :class="{'red-border': errors.description_ru}">

                                </textarea>
                        </label>
                        <span class="error-text" v-if="errors.description_ru">{{ errors.description_ru[0] }}</span>
                    </div>
                    <div class="field-component">
                        <label>Описание на английском *
                            <textarea v-model="dish.description_en"
                                      class="dish-description-area"
                                      :class="{'red-border': errors.description_en}">

                                </textarea>
                        </label>
                        <span class="error-text" v-if="errors.description_en">{{ errors.description_en[0] }}</span>
                    </div>
                    <div class="field-component">
                        <label class="flex">Видимость *
                            <input type="checkbox" name="visible" class="in-stock-checkbox"
                                   v-model="dish.visible" checked
                                   :class="{'red-border': errors.visible}">
                        </label>
                        <span class="error-text" v-if="errors.visible">{{ errors.visible[0] }}</span>
                    </div>
                    <div class="field-component">
                        <label>Выберите мерку *
                            <Multiselect placeholder="Выберите мерку" class="select-currency"
                                         v-model="dish.measurement_unit_id" :options="measurementUnitOptions"
                                         ref="multiselect_meas_id"/>
                        </label>
                        <span class="error-text" v-if="errors.visible">{{ errors.visible[0] }}</span>
                    </div>
                    <div class="field-component">
                        <label>Масса *
                            <input type="number" name="mass" v-model="dish.mass"
                                   :class="{'red-border': errors.mass}">
                        </label>
                        <span class="error-text" v-if="errors.mass">{{ errors.mass[0] }}</span>
                    </div>
                    <div class="field-component">
                        <label>Калорийность (в ккал.) (не обязательно)
                            <input type="number" name="calories" v-model="dish.calories"
                                   :class="{'red-border': errors.calories}">
                        </label>
                        <span class="error-text" v-if="errors.calories">{{ errors.calories[0] }}</span>
                    </div>
                    <div class="field-component">
                        <label>Возрастное ограничение (не обязательно)
                            <input type="number" name="age_limit_value" v-model="dish.age_limit_value"
                                   :class="{'red-border': errors.age_limit_value}">
                        </label>
                        <span class="error-text" v-if="errors.age_limit_value">{{
                                errors.age_limit_value[0]
                            }}</span>
                    </div>
                </div>
                <div class="modal-action">
                    <div class="main-app-btn invert" @click="close">Отмена</div>
                    <AppButton :title="'Сохранить'" :loading="loading"></AppButton>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import eventBus from "@/helpers/eventBus";
import UploadImageWithPreview from "@/components/common/UploadImageWithPreview";
import Multiselect from "@vueform/multiselect";

export default {
    name: "UpdateDishModal",
    components: {
        UploadImageWithPreview,
        Multiselect,
    },
    data() {
        return {
            loading: false,
            dish: {
                name_kz: '',
                name_ru: '',
                name_en: '',
                price: '',
                in_stock: true,
                discount: '',
                description_kz: '',
                description_ru: '',
                description_en: '',
                photo_link: '',
                visible: true,
                measurement_unit_id: '',
                mass: null,
                calories: null,
                age_limit_value: null,

                dish_category_id: '',
                establishment_id: '',
            },
            errors: {},
            photoWasChanged: false,
            measurementUnitOptions: []
        }
    },
    methods: {
        backgroundClicked() {
            this.close()
        },
        close() {
            let editEstablishmentNameModal = document.getElementById('update-dish-modal')
            editEstablishmentNameModal.style.display = 'none'
            this.showScrollBar()
        },
        showScrollBar() {
            document.getElementsByTagName('body')[0].style.overflow = 'auto'
        },
        async fetchAndSetBannerPhotoLink(url, dish, formData, key) {
            const res = await fetch(url);
            const blob = await res.blob();
            console.log(blob);
            dish.preview = blob;
            formData.append(key, dish[key]);
        },
        async updateDish() {
            this.loading = true
            let formData = new FormData();

            for (let key in this.dish) {
                if (Object.hasOwnProperty.call(this.dish, key)) {
                    switch (key) {
                        case 'photo_link':
                            if (!this.photoWasChanged) {
                                formData.append(key, this.dish[key]);
                            } else {
                                if (this.dish.photo_link === null) {
                                    formData.append(key, this.dish[key]);
                                } else {
                                    formData.append(key, 'changed');
                                }
                            }
                            break;
                        case 'age_limit_value':
                            formData.append(key, this.dish[key] ?? '');
                            break;
                        case 'calories':
                            formData.append(key, this.dish[key] ?? '');
                            break;
                        case 'preview':
                            formData.append(key, this.dish[key]);
                            break
                        case 'in_stock':
                            formData.append(key, this.dish[key] === true ? 1 : 0);
                            break
                        case 'visible':
                            formData.append(key, this.dish[key] === true ? 1 : 0);
                            break
                        default:
                            formData.append(key, this.dish[key]);
                            break;
                    }
                }
            }

            try {
                this.errors = {}
                const response = await this.$axios.post('/dish/update', formData, {
                    headers: {'Content-Type': 'multipart/form-data'}
                })
                if (response.data.success) {
                    this.$emit('getDishesOfEstablishment')
                    this.resetData()
                    this.close()
                }
            } catch (e) {
                console.error(e);
                this.errors = e.response.data.errors || {}
            } finally {
                this.loading = false;
            }
        },
        getDishFromStore() {
            this.dish = this.$store.getters['dish/dish']
            this.dish.in_stock = this.dish.in_stock ? true : false
            this.dish.visible = this.dish.visible ? true : false
        },
        resetData() {
            this.dish = {
                country: '',
                city: '',
                supportPhone: '',
                wifiPassword: '',
            }
        },
        imageInputHandler(file) {
            this.dish.preview = file
        },
        photoHasChanged() {
            this.photoWasChanged = true
        },
        getMeasurementUnitOptions() {
            this.$axios.get('/measurement-unit').then((response) => {
                for (const item of response.data) {
                    this.measurementUnitOptions.push({
                        value: item.id,
                        label: item.short_name,
                    })
                }
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                /*if (this.dish.measurement_unit_id) {
                    console.log(this.$refs.multiselect_meas_id)
                    this.$refs.multiselect_meas_id.select(this.measurementUnitOptions[parseInt(this.dish.measurement_unit_id) - 1])
                }*/
            })
        }
    },
    mounted() {
        eventBus.$on('UpdateDishModalOpened', () => {
            this.getDishFromStore()
        })
        this.getMeasurementUnitOptions()
    },
    beforeUnmount() {
        eventBus.$off('UpdateDishModalOpened');
    }
}
</script>

<style lang="scss">
.fields-container {
    text-align: left;

    .url-result {
        font-size: $font-size-sm;
        margin-top: 5px;
    }

    .field-component {
        .select-currency {
            width: 100%;
        }
    }
}

#update-dish-modal {
    .modal-container {
        width: 560px;
        position: relative;
        margin-top: 520px;
    }

    .dish-description-area {
        max-width: 100%;
        width: 100%;
        resize: vertical;
        padding: 10px;
    }

    .flex {
        display: flex;

        .in-stock-checkbox {
            width: 15px;
            margin-left: 20px;
        }
    }

    .mt-20 {
        margin-top: 20px;
    }
}
</style>
