<template>
    <div class="app-logo">
        <RouterLink :to="{name: routeName}">E-Menu</RouterLink>
    </div>
</template>

<script>
export default {
    name: "AppLogo",
    props: {
        routeName: {
            required: true,
            type: String
        }
    }
}
</script>

<style lang="scss">

.app-logo {
    font-size: $font-size-logo;
    font-weight: 600;

    &:after {
        content: '';
        background-color: $orange-main;
        display: block;
        width: 100px;
        height: 5px;
    }

    a:hover {
        text-decoration: none;
    }
}

</style>
