<template>
    <header class="header-container">
        <div class="header-wrapper">
            <AppLogo route-name="profile"/>
            <div class="header-items-wrapper">
                <div class="header-item">
                    <div class="profile-btn">
                        <div class="mui-icon mui-icon-profile"></div>
                        <div class="btn-text">
                            <RouterLink to="/profile">
                                {{ userName }}
                            </RouterLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
import AppLogo from "@/components/headers/AppLogo";

export default {
    name: "HeaderPersonal",
    components: {
        AppLogo
    },
    computed: {
        userName() {
            return this.$store.getters['auth/user'].name
        }
    }
}
</script>

<style lang="scss">

</style>
