<template>
    <header class="header-container">
        <div class="header-wrapper">
            <AppLogo route-name="welcome"/>
            <div class="header-items-wrapper">
                <div class="header-item">
                    <RouterLink to="/login">Вход</RouterLink>
                </div>
                <div class="header-item">
                    <RouterLink to="/register">
                        <div class="main-app-btn">Создать QR меню</div>
                    </RouterLink>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
import AppLogo from "@/components/headers/AppLogo";

export default {
    name: "HeaderGuest",
    components: {
        AppLogo
    }
}
</script>

<style lang="scss">

</style>
