$orange-main: #F7906C;
$orange-main-hover: #ff9a6f;
$background-color: #EDEEF0;
$green-color: #01B071;
$background-color-pale: #fff3eb;
$input-color: #E3E4E9;
$white-color: #FFFFFF;
$red-color: #ff0000;
$black-color: #000000;
$phone-frame-color: #4c4c4c;
$accordion-body-color: #5a5a5a;
$text-color: #2c3e50;
$grey-4: #73758C;
$star-color: #FFCB45;

$font-size-sm: 12px;
$font-size-normal: 14px;
$font-size-lg: 16px;
$font-size-lg2: 18px;
$font-size-logo: 21px;
$font-size-card-title: 25px;
$font-size-restaurant-title: 28px;
$font-size-section-header: 35px;
$font-size-welcome: 45px;
/* modile */
$font-size-welcome-m: 27px;
$font-size-section-header-m: 25px;

$header-height: 45px;

$form-container-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
$form-container-shadow-sm: 0px 2px 4px 0px rgba(34, 60, 80, 0.2);
$phone-frame-shadow: 0px 0px 0px 7px rgba(34, 60, 80, 0.15);
$category-text-shadow: 0 3px 8px rgba(0, 0, 0, 0.85);
