/* modile */
.mui-icon {
  width: 1em;
  height: 2ex;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  user-select: none;
  box-shadow: none;
  content: "";
}
.mui-icon.mui-icon-profile {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/profile.svg");
  mask-image: url("~@/assets/images/icons/profile.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-gear {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/gear.svg");
  mask-image: url("~@/assets/images/icons/gear.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-qr {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/qr.svg");
  mask-image: url("~@/assets/images/icons/qr.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-add-establishment {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/add-establishment.svg");
  mask-image: url("~@/assets/images/icons/add-establishment.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-star {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/star.svg");
  mask-image: url("~@/assets/images/icons/star.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-trash {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/trash.svg");
  mask-image: url("~@/assets/images/icons/trash.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-plus {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/plus.svg");
  mask-image: url("~@/assets/images/icons/plus.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-minus {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/minus.svg");
  mask-image: url("~@/assets/images/icons/minus.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-geolocation {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/geolocation.svg");
  mask-image: url("~@/assets/images/icons/geolocation.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-phone {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/phone.svg");
  mask-image: url("~@/assets/images/icons/phone.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-search {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/search.svg");
  mask-image: url("~@/assets/images/icons/search.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-wifi {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/wifi.svg");
  mask-image: url("~@/assets/images/icons/wifi.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-view {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/view.svg");
  mask-image: url("~@/assets/images/icons/view.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-hide {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/hide.svg");
  mask-image: url("~@/assets/images/icons/hide.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-bin {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/bin.svg");
  mask-image: url("~@/assets/images/icons/bin.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-pen {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/pen.svg");
  mask-image: url("~@/assets/images/icons/pen.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-info-with-circle {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/info-with-circle.svg");
  mask-image: url("~@/assets/images/icons/info-with-circle.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-left-arrow {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/left-arrow.svg");
  mask-image: url("~@/assets/images/icons/left-arrow.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-person-with-circle {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/person-with-circle.svg");
  mask-image: url("~@/assets/images/icons/person-with-circle.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-home {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/home.svg");
  mask-image: url("~@/assets/images/icons/home.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-cart {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/cart.svg");
  mask-image: url("~@/assets/images/icons/cart.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-orders {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/orders.svg");
  mask-image: url("~@/assets/images/icons/orders.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-store {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/store.svg");
  mask-image: url("~@/assets/images/icons/store.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.mui-icon.mui-icon-request {
  background-color: #73758C;
  -webkit-mask-image: url("~@/assets/images/icons/request.svg");
  mask-image: url("~@/assets/images/icons/request.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}
a.underline {
  text-decoration: underline;
  text-decoration-color: #F7906C;
  text-decoration-thickness: 2px;
}
a.underline:hover {
  text-decoration-color: #F7906C;
  text-decoration-thickness: 2px;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}
nav a {
  font-weight: bold;
  color: #2c3e50;
}
nav a.router-link-exact-active {
  color: #42b983;
}

.main-app-btn, .profile-btn {
  background-color: #01B071;
  color: #FFFFFF;
  padding: 9px 20px;
  border-radius: 12px;
  font-size: inherit;
  border: none;
  transition: ease-out 0.2s;
  cursor: pointer;
}
.main-app-btn.sm, .profile-btn.sm {
  padding: 8px 18px;
}
.main-app-btn.lg, .profile-btn.lg {
  padding: 9px 22px;
  font-size: 16px;
}
.main-app-btn:hover, .profile-btn:hover {
  background-color: #ff9a6f;
}
.main-app-btn a:hover, .profile-btn a:hover {
  text-decoration: none;
}
.main-app-btn.invert, .profile-btn.invert {
  background-color: #fff3eb;
  color: #F7906C;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.main-app-btn.sm-size, .profile-btn.sm-size {
  padding: 5px 10px;
  font-size: 12px;
}

.profile-btn {
  background-color: #E3E4E9;
  color: #2c3e50;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.profile-btn:hover {
  background-color: #E3E4E9;
}
.profile-btn .btn-text {
  margin-left: 5px;
}
.profile-btn .mui-icon-profile {
  width: 18px;
  height: 18px;
  background-color: #2c3e50;
}

.orange {
  color: #F7906C;
}

a:hover:has(.main-app-btn) {
  text-decoration: none;
}

.header-container {
  padding-top: 10px;
  width: 890px;
  margin: auto;
  height: 45px;
}
.header-container .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header-wrapper .header-items-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-container .header-wrapper .header-items-wrapper .header-item {
  margin-left: 25px;
}
.header-container .header-wrapper .header-items-wrapper .header-item:first-child {
  margin-left: 0;
}

.page-title {
  font-size: 21px;
  font-weight: 600;
  margin-top: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.base-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
  animation: fadeIn ease 0.1s;
  z-index: 20;
  overflow: auto;
}
.base-modal .modal-container {
  min-height: 100px;
  min-width: 200px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  padding: 35px 50px 20px 50px;
  animation: fadeIn ease 0.4s;
}
.base-modal .modal-container .modal-title {
  font-size: 21px;
  font-weight: 600;
}
.base-modal .modal-container .modal-text {
  font-size: 16px;
  margin-top: 20px;
}
.base-modal .modal-container .qr-code {
  width: 370px;
  height: 370px;
  margin-top: 20px;
}
.base-modal .modal-container .modal-action {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.fields-container {
  margin-top: 30px;
}
.fields-container .field-component {
  margin-top: 20px;
}
.fields-container .field-component label {
  display: block;
}
.fields-container .field-component label input {
  width: 100%;
  padding: 10px 10px;
  background-color: #E3E4E9;
  border: none;
  border-radius: 8px;
  margin-top: 4px;
}

.red-border {
  border: solid red 1px !important;
}

.error-text {
  color: red;
  font-size: 12px;
}

.orders-list {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.orders-list .order-wrapper {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 4px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 4px 0px rgba(34, 60, 80, 0.2);
}
.orders-list .order-title {
  font-size: 21px;
}
.orders-list .orange-main-color {
  color: #F7906C;
}
.orders-list .order-data-container {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-top: 10px;
}
.orders-list .order-data-field {
  display: flex;
  align-items: center;
}
.orders-list .status-field {
  border: 1px solid #ccc;
}
.orders-list .order-prop {
  min-width: 80px;
}

.blinking-indicator {
  width: 10px;
  height: 10px;
  background-color: #2bde2b;
  margin-left: 10px;
  border-radius: 10px;
  animation: glowing 1300ms infinite;
}

.show-password {
  position: absolute;
  margin-top: -28px;
  margin-left: 388px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.mui-icon-star.yellow {
  background-color: #FFCB45;
}

/* Safari */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #2ba805;
  }
  50% {
    box-shadow: 0 0 20px #49e819;
  }
  100% {
    box-shadow: 0 0 100px #2ba805;
  }
}
/* MOBILE */
@media (max-width: 900px) {
  .header-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .welcome-section .wrapper {
    width: 100%;
  }

  .footer-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-container .footer-wrapper {
    width: 100%;
  }

  .app-layout-guest .form-container {
    width: 80%;
    padding: 30px;
    border-radius: 30px;
  }
  .app-layout-guest .form-container .show-password {
    margin-left: 71%;
  }
}
.search {
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}
.search .search-input {
  background-color: #E3E4E9;
  outline: none;
  border: none;
  border-radius: 12px;
  height: 40px;
  padding: 0 47px;
  width: 100%;
}
.search .mui-icon.mui-icon-search {
  background-color: #01B071;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
}

.mui-icon.mui-icon-left-arrow {
  background-color: #01B071;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 10px;
}

/*# sourceMappingURL=app.css.map */
