@import "variables";
@import "icons";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    font-size: $font-size-normal;
}

a {
    text-decoration: none;
    color: inherit;

    &.underline {
        text-decoration: underline;
        text-decoration-color: $orange-main;
        text-decoration-thickness: 2px;

        &:hover {
            text-decoration-color: $orange-main;
            text-decoration-thickness: 2px;
        }
    }
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

nav {
    padding: 30px;

    a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

.main-app-btn, .profile-btn {
    background-color: $green-color;
    color: $white-color;
    padding: 9px 20px;
    border-radius: 12px;
    font-size: inherit;
    border: none;
    transition: ease-out .2s;
    cursor: pointer;

    &.sm {
        padding: 8px 18px;
    }

    &.lg {
        padding: 9px 22px;
        font-size: $font-size-lg;
    }

    &:hover {
        background-color: $orange-main-hover;
    }

    a:hover {
        text-decoration: none;
    }

    &.invert {
        background-color: $background-color-pale;
        color: $orange-main;
        -webkit-box-shadow: $form-container-shadow;
        -moz-box-shadow: $form-container-shadow;
        box-shadow: $form-container-shadow;
    }

    &.sm-size {
        padding: 5px 10px;
        font-size: $font-size-sm;
    }
}

.profile-btn {
    background-color: $input-color;
    color: $text-color;
    border-radius: 10px;
    display: flex;
    align-items: center;

    &:hover {
        background-color: $input-color;
    }

    .btn-text {
        margin-left: 5px;
    }

    .mui-icon-profile {
        width: 18px;
        height: 18px;
        background-color: $text-color;
    }
}

.orange {
    color: $orange-main;
}

a:hover:has(.main-app-btn) {
    text-decoration: none;
}

.header-container {
    padding-top: 10px;
    width: 890px;
    margin: auto;
    height: $header-height;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-items-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;

            .header-item {
                margin-left: 25px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

.page-title {
    font-size: $font-size-logo;
    font-weight: 600;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
}

.base-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    display: none;
    animation: fadeIn ease .1s;
    z-index: 20;
    overflow: auto;

    .modal-container {
        min-height: 100px;
        min-width: 200px;
        background-color: $white-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
        padding: 35px 50px 20px 50px;
        animation: fadeIn ease .4s;

        .modal-title {
            font-size: $font-size-logo;
            font-weight: 600;
        }

        .modal-text {
            font-size: $font-size-lg;
            margin-top: 20px;
        }

        .qr-code {
            width: 370px;
            height: 370px;
            margin-top: 20px;
        }

        .modal-action {
            display: flex;
            justify-content: space-evenly;
            margin-top: 30px;
        }
    }
}

.fields-container {
    margin-top: 30px;

    .field-component {
        margin-top: 20px;

        label {
            display: block;

            input {
                width: 100%;
                padding: 10px 10px;
                background-color: $input-color;
                border: none;
                border-radius: 8px;
                margin-top: 4px;
            }
        }
    }
}

.red-border {
    border: solid red 1px !important;
}

.error-text {
    color: red;
    font-size: $font-size-sm;
}

.orders-list {
    display: flex;
    flex-direction: column;
    text-align: left;

    .order-wrapper {
        border: 1px solid #ddd;
        border-radius: 20px;
        padding: 20px;
        margin-top: 20px;
        -webkit-box-shadow: $form-container-shadow-sm;
        -moz-box-shadow: $form-container-shadow-sm;
        box-shadow: $form-container-shadow-sm;
    }

    .order-title {
        font-size: $font-size-logo;
    }

    .orange-main-color {
        color: $orange-main
    }

    .order-data-container {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        margin-top: 10px;
    }

    .order-data-field {
        display: flex;
        align-items: center;
    }

    .status-field {
        border: 1px solid #ccc;
    }

    .order-prop {
        min-width: 80px;
    }
}

.blinking-indicator {
    width: 10px;
    height: 10px;
    background-color: #2bde2b;
    margin-left: 10px;
    border-radius: 10px;
    animation: glowing 1300ms infinite;
}

.show-password {
    position: absolute;
    margin-top: -28px;
    margin-left: 388px;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.mui-icon-star {
    &.yellow {
        background-color: $star-color;
    }
}

/* Safari */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px #2ba805;
    }
    50% {
        box-shadow: 0 0 20px #49e819;
    }
    100% {
        box-shadow: 0 0 100px #2ba805;
    }
}


/* MOBILE */
@media (max-width: 900px) {
    .header-container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .welcome-section {
        .wrapper {
            width: 100%;
        }
    }

    .footer-container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;

        .footer-wrapper {
            width: 100%;
        }
    }


    .app-layout-guest {
        .form-container {
            width: 80%;
            padding: 30px;
            border-radius: 30px;

            .show-password {
                margin-left: 71%;
            }
        }
    }
}



.search {
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 30px;

    .search-input {
        background-color: $input-color;
        outline: none;
        border: none;
        border-radius: 12px;
        height: 40px;
        padding: 0 47px;
        width: 100%;
    }

    .mui-icon.mui-icon-search,  {
        background-color: $green-color;
        width: 25px;
        height: 25px;
        position: absolute;
        right: 10px;
    }
}


.mui-icon.mui-icon-left-arrow {
    background-color: $green-color;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 10px;
}
