<template>
    <div class="app-layout-menu">
        <div class="content">
            <!--            <h6>App Layout Menu</h6>-->
            <slot/>
            <div class="cart-panel" @click="cartPanelClicked" v-if="showCartPanel">{{ cardPanelTitle }}</div>
            <div class="under-cart-panel" @click="cartPanelClicked" v-if="showCartPanel"></div>
        </div>
    </div>
</template>

<script>

import {lifecycleLoggerMixin} from "@/mixins/lifecycleLoggerMixin";
import eventBus from "@/helpers/eventBus";
import {mapActions} from "vuex";

export default {
    name: "AppLayoutMenu",
    mixins: [lifecycleLoggerMixin],
    methods: {
        cartPanelClicked() {
            eventBus.$emit('cartPanelClicked')
        },

        // сохранение списка языков в стор
        ...mapActions({
            setLanguagesToStore: 'client/setLanguageParams'
        }),
        getLanguagesParams() {
            this.$axios.get('/languages/with-codes').then((response) => {
                console.log(response.data)
                this.setLanguagesToStore(response.data)
            }).catch((e) => {
                console.error(e)
            }).finally(() => {
                //
            })
        }
    },
    computed: {
        showCartPanel() {
            return (this.$store.getters['cart/dishes'].length > 0 || this.$store.getters['order/orderIds'].length > 0) && this.$route.name !== 'order'
        },
        cardPanelTitle() {
            if (this.$store.getters['cart/dishes'].length > 0) {
                return 'Посмотреть заказ'
            } else if (this.$store.getters['order/orderIds'].length > 0) {
                return 'Мои заказы'
            } else {
                return ''
            }
        }
    },
    mounted() {
        if (this.$store.getters['client/languageParams'].length < 1) {
            this.getLanguagesParams()
        }
    }
}
</script>

<style lang="scss">
.app-layout-menu {
    //background-color: $background-color;
    //height: 100vh;

    .content {
        //width: 890px;
        margin: auto;
        //min-height: calc(100vh - $header-height);
        //border: 1px solid $grey-4;
    }

    .content, .cart-panel, .under-cart-panel {
        width: 100%;
        max-width: 550px;
    }

    .cart-panel {
        background-color: $orange-main;
        font-size: 18px;
        padding: 10px 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        position: fixed;
        z-index: 100;
        bottom: 0;
        color: $white-color;
        cursor: pointer;
    }

    .under-cart-panel {
        background-color: $white-color;
        font-size: 18px;
        padding: 10px 0;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        bottom: 0;
        color: $white-color;
        height: 50px;
    }

    .menu-profile-icon-wrapper, .go-back-button {
        background-color: $white-color;
        position: absolute;
        width: 37px;
        height: 37px;
        border-radius: 30px;
        -webkit-box-shadow: $form-container-shadow-sm;
        -moz-box-shadow: $form-container-shadow-sm;
        box-shadow: $form-container-shadow-sm;
    }

    .menu-profile-icon-wrapper {
        top: 0;
        right: 0;
        margin: 12px;
    }

    .mui-icon-profile {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
    }

    .go-back-button {
        position: sticky;
        top: 15px;
        left: 0;
        margin: 0;
        width: 40px;
        height: 40px;
        margin-left: 15px;
        z-index: 99;
        cursor: pointer;

        .mui-icon-left-arrow {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 24px;
            height: 24px;
        }
    }

    .select-menu-language {
        position: absolute;
        top: -30px;
        right: 20px;
        width: 150px;
        min-height: 20px;
        height: 20px;

        .multiselect-wrapper {
            min-height: 20px;
            height: 20px;
        }

        .character-label-icon {
            margin: 0 6px 0 0;
            height: 20px;
        }

        .character-option-icon {
            margin: 0 6px 0 0;
            height: 22px;
        }
    }
}
</style>
