<template>
    <div>
<!--        <h1>App Layout Admin</h1>-->
        <slot/>
    </div>
</template>

<script>

import {lifecycleLoggerMixin} from "@/mixins/lifecycleLoggerMixin";

export default {
    name: "AppLayoutAdmin",
    mixins: [lifecycleLoggerMixin]
}
</script>

<style scoped>

</style>
