<template>
    <div class="app-layout-user">
        <HeaderPersonal/>
        <div class="content">
<!--            <h6>App Layout User</h6>-->
            <slot/>
        </div>
        <FooterComponent/>
    </div>
</template>

<script>

import {lifecycleLoggerMixin} from "@/mixins/lifecycleLoggerMixin";
import HeaderPersonal from "@/components/headers/HeaderPersonal";
import FooterComponent from "@/components/footer/FooterComponent";

export default {
    name: "AppLayoutUser",
    mixins: [lifecycleLoggerMixin],
    components: {
        HeaderPersonal,
        FooterComponent,
    }
}
</script>

<style scoped>

</style>
