<template>
    <div class="app-layout-guest">
        <div class="content">
            <div class="header-back-btn">
                <div class="mui-icon mui-icon-left-arrow"></div>
                <div class="page-title">
                    {{ pagetitle }}
                </div>
            </div>
            <!--            <h6>App Layout Guest</h6>-->
            <slot/>
        </div>
    </div>
</template>

<script>

import {lifecycleLoggerMixin} from "@/mixins/lifecycleLoggerMixin";

export default {
    name: "FullhouseLayout",
    mixins: [lifecycleLoggerMixin],
    computed: {
        pagetitle() {
            return this.$store.getters['pagetitle/pagetitle']
        },
    }
}
</script>

<style lang="scss">
.app-layout-guest {
    background-color: $background-color;
    //height: 100vh;

    .content {
        //width: 890px;
        margin: auto;
        min-height: calc(100vh - $header-height);
    }

    .form-container {
        width: 500px;
        height: 500px;
        background: $white-color;
        border-radius: 40px;
        position: relative;
        margin: auto;
        text-align: left;
        padding: 40px;
        -webkit-box-shadow: $form-container-shadow;
        -moz-box-shadow: $form-container-shadow;
        box-shadow: $form-container-shadow;
        margin-top: 40px;

        .action-btn-container {
            display: flex;
            align-items: center;
            margin-top: 50px;

            span {
                margin: 0 15px;
            }
        }

        .login-button {
            min-height: 40px;
        }

        .short-info {
            margin-top: 20px;
        }
    }
}

@media (max-width: 900px) {
    .app-layout-guest {
        .form-container {
            width: 80%;
            padding: 30px;
            border-radius: 30px;

            .show-password {
                margin-left: 71%;
            }

            .action-btn-container {
                span {

                    &:first-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.page-title {
    display: flex;
    justify-content: center;
}

</style>

