<template>
    <AppLayout>
        <metainfo>
            <template v-slot:title="{ content, metainfo }">
                {{
                    metainfo.titleTemplate
                        ? metainfo.titleTemplate.replace('%s', content)
                        : content
                }}
            </template>
        </metainfo>
        <router-view/>
    </AppLayout>
    <AppTabBar></AppTabBar>
</template>

<script>
import AppLayout from "@/layouts/AppLayout";
import {lifecycleLoggerMixin} from "@/mixins/lifecycleLoggerMixin";
import AppTabBar from "@/components/tabBar/AppTabBar.vue";

export default {
    name: 'App',
    components: {
        AppTabBar,
        AppLayout
    },
    mixins: [lifecycleLoggerMixin]
}
</script>

<style lang="scss">
</style>
