<template>
    <div class="form-container">
        <form method="post" @submit.prevent="login">
            <div class="header"><h2>Войти</h2></div>
            <div class="fields-container">
                <div class="field-component">
                    <label>Почта
                        <input type="email" inputmode="email" name="email" required v-model="auth.email">
                    </label>
                </div>
                <div class="field-component">
                    <label>Пароль
                        <input :type="isVisiblePassword ? 'text' : 'password'" name="password" required
                               v-model="auth.password">
                    </label>
                    <span class="show-password mui-icon" :class="isVisiblePassword ? 'mui-icon-hide' : 'mui-icon-view'"
                          @click="isVisiblePassword = !isVisiblePassword"></span>
                </div>
            </div>
            <span class="error-text" v-if="isValid === false">Email или пароль не верны</span>
            <div class="short-info">
                <RouterLink to="/register">Нет аккаунта?</RouterLink>
            </div>
            <div class="action-btn-container">
                <AppButton class="login-button" :loading="loading" :title="'Войти'"/>
            </div>
        </form>
    </div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
    name: "LoginView",
    metaInfo: {
        title: 'Вход',
        titleTemplate: '%s | Emenu'
    },
    data() {
        return {
            auth: {
                email: '',
                password: '',
            },
            loading: false,
            isValid: null,
            isVisiblePassword: false
        }
    },
    methods: {
        ...mapActions({
            signIn: 'auth/login',
            setToken: 'auth/setToken'
        }),
        async login() {
            this.loading = true
            this.isValid = null

            await this.$axios.post('/auth/login', this.auth).then((response) => {
                if (typeof response.data.token === 'undefined' || response.data.token === null || !response.data.token) {
                    this.isValid = false
                    return
                }
                this.isValid = true
                this.setToken(response.data.token)
                this.signIn()
            }).catch(() => {
                this.isValid = false
            }).finally(() => {
                this.loading = false
            })
        }
    }
}
</script>

<style lang="scss">

</style>
