<template>
    <div class="form-container">
        <form method="post" @submit.prevent="register">
            <div class="header"><h2>Зарегистрироваться</h2></div>
            <div class="fields-container">
                <div class="field-component">
                    <label>Ваше имя
                        <input type="text" name="name" required v-model="user.name"
                               :class="{'red-border': errors.name}">
                    </label>
                    <span class="error-text" v-if="errors.name">{{ errors.name[0] }}</span>
                </div>
                <div class="field-component">
                    <label>Почта
                        <input type="email" inputmode="email" name="email" required v-model="user.email"
                               :class="{'red-border': errors.email}">
                    </label>
                    <span class="error-text" v-if="errors.email">{{ errors.email[0] }}</span>
                </div>
                <div class="field-component">
                    <label>Пароль
                        <input :type="isVisiblePassword ? 'text' : 'password'" name="password" required
                               v-model="user.password"
                               :class="{'red-border': errors.password}">
                    </label>
                    <span class="error-text" v-if="errors.password">{{ errors.password[0] }}</span>

                    <span class="show-password mui-icon" :class="isVisiblePassword ? 'mui-icon-hide' : 'mui-icon-view'"
                          @click="isVisiblePassword = !isVisiblePassword"></span>
                </div>
            </div>
            <div class="action-btn-container">
                <AppButton class="login-button" :loading="loading" :title="'Создать аккаунт'"/>
                <span>или</span>
                <RouterLink to="/login">Войти</RouterLink>
            </div>
        </form>
    </div>
</template>

<script>

export default {
    name: "RegisterView",
    metaInfo: {
        title: 'Регистрация',
        titleTemplate: '%s | Emenu'
    },
    data() {
        return {
            user: {
                name: '',
                email: '',
                password: '',
            },
            errors: {},
            loading: false,
            isVisiblePassword: false,
        }
    },
    methods: {
        async register() {
            this.loading = true
            this.errors = {}

            await this.$axios.post('/auth/register', this.user).then(() => {
                this.$router.push({name: 'login'})
            }).catch(({response: {data}}) => {
                this.errors = data.errors || {}
            }).finally(() => {
                this.loading = false
            })
        }
    }
}
</script>

<style lang="scss">
</style>
