<template>
    <button class="main-app-btn btn-loader" :disabled="loading">
        <VueLoader v-if="loading" :active="loading" :is-full-page="spinner.isFullPage" :opacity="spinner.opacity"
                   :color="spinner.color" :width="spinner.width" :height="spinner.height"/>
        <span v-else>{{ title }}</span>
    </button>
</template>

<script>
export default {
    name: "AppButton",
    props: {
        title: {
            type: String,
            required: true
        },
        loading: {
            type: Boolean,
            default: false
        },
    },
    data() {
        return {
            spinner: {
                isFullPage: false,
                opacity: 0,
                color: '#fff',
                width: 25,
                height: 25,
            }
        }
    }
}
</script>

<style scoped>
.btn-loader {
    position: relative;
    width: 100%;
    height: 50px;
}
</style>
