<template>
    <div>
        <div
            v-if="getPreviewImage"
            class="imagePreviewWrapper"
            :style="{ 'background-image': `url(${getPreviewImage})` }"
            @click="selectImage">
        </div>

        <input
            ref="fileInput"
            type="file"
            @input="pickFile">
    </div>
</template>

<script>
export default {
    name: 'UploadImageWithPreview',
    props: {
        preview: {
            required: false
        }
    },
    data() {
        return {
            previewImage: null,
            userSelect: false,
        };
    },
    methods: {
        selectImage() {
            // this.$refs.fileInput.click()
        },
        pickFile() {
            this.$emit('photoHasChanged')
            let input = this.$refs.fileInput
            let file = input.files
            if (file && file[0]) {
                this.userSelect = true
                let reader = new FileReader
                reader.onload = e => {
                    this.previewImage = e.target.result
                }
                reader.readAsDataURL(file[0])
                this.$emit('imageInputHandler', file[0])
            } else {
                this.previewImage = null
                this.$emit('imageInputHandler', null)
                this.userSelect = false
            }
        }
    },
    computed: {
        getPreviewImage() {
            if (this.userSelect) {
                return this.previewImage
            }

            if (this.preview) {
                return this.preview
            } else {
                return this.previewImage
            }
        }
    }
}
</script>

<style scoped lang="scss">
.imagePreviewWrapper {
    //width: 250px;
    height: 250px;
    display: block;
    cursor: pointer;
    margin: 20px auto 30px;
    background-size: cover;
    background-position: center center;
    -webkit-box-shadow: $form-container-shadow;
    -moz-box-shadow: $form-container-shadow;
    box-shadow: $form-container-shadow;
}
</style>
