<template>
    <div class="container">
        <p class="company-name">ТОО Coca Cola</p>
        <div class="product-block">
            <div class="logo"></div>
            <div class="product-description">
                <div class="product-name">Кола 0.5 литр</div>
                <div class="product-price">200 тг</div>
                <div class="actions">
                    <div class="minus" @click="minusCount">
                        <p class="minus-text">-</p>
                    </div>
                    <div class="digit">{{count}}</div>
                    <div class="plus" @click="plusCount">
                        <p class="plus-text">+</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-block">
            <div class="logo"></div>
            <div class="product-description">
                <div class="product-name">Кола 1 литр</div>
                <div class="product-price">400 тг</div>
                <div class="actions">
                    <div class="minus" @click="minusCount2">
                        <p class="minus-text">-</p>
                    </div>
                    <div class="digit">{{count2}}</div>
                    <div class="plus" @click="plusCount2">
                        <p class="plus-text">+</p>
                    </div>
                </div>
            </div>
        </div>
        <AppButton :title="'Оформить ' + total_count + ' товара: ' + total_cost + ' тг'" @click="tooClicked"></AppButton>
    </div>
</template>

<script>

import {lifecycleLoggerMixin} from "@/mixins/lifecycleLoggerMixin";
import AppButton from "@/components/common/AppButton.vue";
import {mapActions} from "vuex";


export default {
    name: 'MainPage',
    components: {AppButton},
    metaInfo: {
        title: 'Главная',
        titleTemplate: '%s'
    },
    mixins: [lifecycleLoggerMixin],
    data() {
        return {
            count: 0,
            count2: 0,
            total_count: 0,
            total_cost: 0
        };
    },
    methods: {
        ...mapActions({
            setPagetitle: 'pagetitle/setPagetitle'
        }),
        tooClicked() {
            this.$router.push({name: 'statusPage'})
        },
        plusCount() {
            this.count++;
            this.calculate();
        },
        minusCount() {
            if (this.count == 0) {
                return;
            }
            this.count--;
            this.calculate()
        },
        plusCount2() {
            this.count2++;
            this.calculate()
        },
        minusCount2() {
            if (this.count2 == 0) {
                return;
            }
            this.count2--;
            this.calculate();
        },
        calculate() {
            this.total_count = this.count + this.count2;
            this.total_cost = this.count * 200 + this.count2 * 400;
        }
    },
    mounted() {
        this.setPagetitle('Корзина')
    }
}
</script>

<style lang="scss">
.company-name {
    font-size: $font-size-lg;
    text-align: left;
    line-height: 25px;
}

.product-block {
    border: 1px solid #99A3B3;
    border-radius: 4px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.logo {
    width: 110px;
    height: 126px;
    background-image: url("~@/assets/images/fullHouse/cocaCola.png");
    background-size: cover;
    margin-bottom: 20px;
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}
.product-name {
    font-weight: 400;
    font-size: 14px;
}

.product-price {
    border-radius: 2px;
    color: #010101;
    font-weight: 700;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.minus, .plus {
    background-color: #DADDE5;
    border-radius: 2px;
    color: $green-color;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.minus-text .plus-text {
    margin: 10px;
}

.digit {
    margin: 0 20px;
}
</style>
