<template>
    <div class="container">
        <div class="status-check">
            <div class="status-description">Заказ выдан</div>
            <div class="status-history">
                <div class="one-status">
                    <div class="spot green"></div>
                    <div class="status-name">Отправлен запрос</div>
                </div>
                <div class="one-status">
                    <div class="spot green"></div>
                    <div class="status-name">В обработке</div>
                </div>
                <div class="one-status">
                    <div class="spot green"></div>
                    <div class="status-name">Отправка товара</div>
                </div>
                <div class="one-status">
                    <div class="spot green"></div>
                    <div class="status-name">Выполнен</div>
                </div>
            </div>
        </div>

        <div class="request-info">
            <div class="company-name">ТОО Coca Cola</div>
            <div class="request-date">13 июня 2023 г <br> 15:30</div>
        </div>
        <div class="product-block">
            <div class="logo"></div>
            <div class="product-description">
                <div class="product-name">Название: <span class="fw-bold">Кола 0.5 литр</span></div>
                <div class="product-name">Цена за единицу: <span class="fw-bold">200 тг</span></div>
                <div class="product-name">Количество: <span class="fw-bold">100 шт</span></div>
                <div class="product-name">Статус:: <span class="fw-bold highlight-green">Доставлен</span></div>
                <div class="product-name">Итого: <span class="fw-bold">20 000 тг</span></div>
            </div>
        </div>
    </div>
</template>

<script>

import {lifecycleLoggerMixin} from "@/mixins/lifecycleLoggerMixin";
import {mapActions} from "vuex";


export default {
    name: 'MainPage',
    metaInfo: {
        title: 'Главная',
        titleTemplate: '%s'
    },
    mixins: [lifecycleLoggerMixin],
    data() {
        return {
            // count: 0,
        };
    },
    methods: {
        ...mapActions({
            setPagetitle: 'pagetitle/setPagetitle'
        }),
        tooClicked() {
            this.$router.push({name: 'statusPage'})
        },
    },
    mounted() {
        this.setPagetitle('Детали заявки')
    }
}
</script>

<style lang="scss">

.status-check {
    display: flex;
    flex-direction: column;

    .status-description {
        height: 48px;
        background-color: #3661FC;
        font-size: 20px;
        color: white;
        padding: 7px;
    }

    .status-history {
        display: flex;
        flex-direction: column;
        height: 163px;
        background-color: #E6FCF4;
        border-bottom-left-radius: 28px;
        border-bottom-right-radius: 28px;
        padding: 30px;
        margin-bottom: 20px;
    }

    .one-status {
        display: flex;
        align-items: center;
    }

    .spot {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin-right: 5px;

        &.green {
            background: #0CC582;
        }
    }
}

.highlight-green {
    background-color: $green-color;
    color: white;
    padding: 3px 5px;
}

.request-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}
.request-date {
    text-align: right;
}
.company-name {
    font-size: $font-size-lg;
    text-align: left;
    line-height: 25px;
}

.product-block {
    border: 1px solid #99A3B3;
    border-radius: 4px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.logo {
    width: 110px;
    height: 126px;
    background-image: url("~@/assets/images/fullHouse/cocaCola.png");
    background-size: cover;
    margin-bottom: 20px;

    &.brick {
        background-image: url("~@/assets/images/common/brick.png");
    }
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 10px;
}
.product-name {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
}

.product-price {
    border-radius: 2px;
    color: #010101;
    font-weight: 700;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.minus, .plus {
    background-color: #DADDE5;
    border-radius: 2px;
    color: $green-color;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.minus-text .plus-text {
    margin: 10px;
}

.digit {
    margin: 0 20px;
}
</style>
