<template>
    <div class="container">
        <div class="request-info">Информация о заказчике</div>
        <div class="line"></div>
        <div class="consumer-info">
            <div class="dot"></div>
            <div class="info">Наименование: ИП Арина</div>
        </div>
        <div class="consumer-info">
            <div class="dot"></div>
            <div class="info">Адрес: Мамыр 3, 23</div>
        </div>
        <div class="consumer-info">
            <div class="dot"></div>
            <div class="info">Номер моб. телефона: 8(778) 952 4881</div>
        </div>
        <div class="line"></div>
        <div class="request-info" style="margin-top: 10px">Список:</div>
        <div v-for="index in 1" :key="index" class="product-block">
            <div class="logo"></div>
            <div class="product-description">
                <div class="product-name"><p>Название:</p> Кола 1 литр</div>
                <div class="product-price"><p>Цена:</p> 200 тг</div>
                <div class="product-count"><p>Количество:</p> 50</div>
                <div class="product-all-cost"><p>Итого:</p> 10000 тг</div>
            </div>
        </div>
        <div class="store-number">
            <input class="search-input-store-number" type="text" placeholder="Номер склада">
        </div>
        <div class="btns">
            <div class="cancel-btn" @click="goToBack()">Отказать</div>
            <div @click="confirmClicked" class="confirm-btn">Подтвердить</div>
        </div>
    </div>
</template>

<script>

import {lifecycleLoggerMixin} from "@/mixins/lifecycleLoggerMixin";
import {mapActions} from "vuex";

export default {
    name: 'MainPage',
    components: {},
    metaInfo: {
        title: 'Главная',
        titleTemplate: '%s'
    },
    mixins: [lifecycleLoggerMixin],
    data() {
        return {
            count: 0,
            count2: 0
        };
    },
    methods: {
        tooClicked() {
            this.$router.push({name: 'statusPage'})
        },
        goToBack() {
            this.$router.push({name: 'request'})
        },
        ...mapActions({
            setPagetitle: 'pagetitle/setPagetitle'
        }),
        confirmClicked() {
            this.$router.push({name: 'detailHistoryPage'})
        },
    },
    mounted() {
        this.setPagetitle('Детали заявки')
    }
}
</script>

<style lang="scss" scoped>

.container {
    margin-top: 50px;
    padding: 0 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.request-info {
    font-weight: 700;
    color: black;
    font-size: 18px;
    width: 100%;
    display: flex;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #99A3B3;
}

.product-block {
    border: 1px solid #99A3B3;
    border-radius: 4px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 25px;
    align-items: center;
}

.logo {
    width: 110px;
    height: 126px;
    background-image: url("~@/assets/images/fullHouse/cocaCola.png");
    background-size: cover;
    margin-bottom: 20px;
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.product-name {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    white-space: pre;

    & > p {
        font-weight: bold;
    }
}

.product-price {
    border-radius: 2px;
    font-size: 14px;
    color: #010101;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    white-space: pre;

    & > p {
        font-weight: bold;
    }
}

.product-count {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    white-space: pre;

    & > p {
        font-weight: bold;
    }
}

.product-all-cost {
    display: flex;
    justify-content: flex-start;
    white-space: pre;
    font-size: 14px;

    & > p {
        font-weight: bold;
    }
}

.consumer-info {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
    margin-left: 10px;
}

.dot {
    border-radius: 50%;
    width: 3px;
    height: 3px;
    background-color: black;
    align-items: center;
}

.info {
    font-size: 14px;
}

.search-input-store-number {
    margin-top: 20px;
    background-color: white;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 12px;
    padding-left: 10px;
    color: #646464;
}

.cancel-btn {
    background-color: #E20000;
    color: white;
    font-size: 14px;
    font-weight: 500;
    width: 160px;
    height: 48px;
    border-radius: 12px;
    padding-top: 10px;
}

.confirm-btn {
    background-color: #01B071;
    color: white;
    font-size: 14px;
    font-weight: 500;
    width: 160px;
    height: 48px;
    border-radius: 12px;
    padding-top: 10px;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

</style>
