<template>
    <div class="container">
        <div class="request-info">
            <div class="company-name">ТОО Coca Cola</div>
            <div class="request-date">13 июня 2023 г <br> 15:30</div>
        </div>
        <div class="product-block" @click="productClicked">
            <div class="logo"></div>
            <div class="product-description">
                <div class="product-name">Название: <span class="fw-bold">Кола 0.5 литр</span></div>
                <div class="product-name">Цена за единицу: <span class="fw-bold">200 тг</span></div>
                <div class="product-name">Количество: <span class="fw-bold">100 шт</span></div>
                <div class="product-name">Статус:: <span class="fw-bold highlight-green">Доставлен</span></div>
                <div class="product-name">Итого: <span class="fw-bold">20 000 тг</span></div>
            </div>
        </div>
        <div class="product-block" @click="productClicked">
            <div class="logo"></div>
            <div class="product-description">
                <div class="product-name">Название: <span class="fw-bold">Кола 1 литр</span></div>
                <div class="product-name">Цена за единицу: <span class="fw-bold">400 тг</span></div>
                <div class="product-name">Количество: <span class="fw-bold">50 шт</span></div>
                <div class="product-name">Статус:: <span class="fw-bold highlight-green">Доставлен</span></div>
                <div class="product-name">Итого: <span class="fw-bold">20 000 тг</span></div>
            </div>
        </div>



        <div class="request-info">
            <div class="company-name">ТОО Tytan</div>
            <div class="request-date">13 июня 2023 г <br> 15:30</div>
        </div>
        <div class="product-block" @click="productClicked">
            <div class="logo brick"></div>
            <div class="product-description">
                <div class="product-name">Название: <span class="fw-bold">Кирпич</span></div>
                <div class="product-name">Цена за единицу: <span class="fw-bold">80 тг</span></div>
                <div class="product-name">Количество: <span class="fw-bold">2000 шт</span></div>
                <div class="product-name">Статус:: <span class="fw-bold highlight-green yellow">В обработке</span></div>
                <div class="product-name">Итого: <span class="fw-bold">20 000 тг</span></div>
            </div>
        </div>
    </div>
</template>

<script>

import {lifecycleLoggerMixin} from "@/mixins/lifecycleLoggerMixin";
import {mapActions} from "vuex";


export default {
    name: 'MainPage',
    metaInfo: {
        title: 'Главная',
        titleTemplate: '%s'
    },
    mixins: [lifecycleLoggerMixin],
    data() {
        return {
            // count: 0,
        };
    },
    methods: {
        ...mapActions({
            setPagetitle: 'pagetitle/setPagetitle'
        }),
        productClicked() {
            this.$router.push({name: 'detailHistoryPage'})
        },
    },
    mounted() {
        this.setPagetitle('История закупок')
    }
}
</script>

<style lang="scss">

.highlight-green {
    background-color: $green-color;
    color: white;
    padding: 3px 5px;

    &.yellow {
        background-color: #ffa12d;
    }
}

.request-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}
.request-date {
    text-align: right;
}
.company-name {
    font-size: $font-size-lg;
    text-align: left;
    line-height: 25px;
}

.product-block {
    border: 1px solid #99A3B3;
    border-radius: 4px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.logo {
    width: 110px;
    height: 126px;
    background-image: url("~@/assets/images/fullHouse/cocaCola.png");
    background-size: cover;
    margin-bottom: 20px;

    &.brick {
        background-image: url("~@/assets/images/common/brick.png");
    }
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 10px;
}
.product-name {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
}

.product-price {
    border-radius: 2px;
    color: #010101;
    font-weight: 700;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.minus, .plus {
    background-color: #DADDE5;
    border-radius: 2px;
    color: $green-color;
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.minus-text .plus-text {
    margin: 10px;
}

.digit {
    margin: 0 20px;
}
</style>
