<template>
    <div class="container">
        <div class="search">
            <div class="mui-icon mui-icon-left-arrow"></div>
            <input class="search-input" type="text" placeholder="Список поставщиков">
            <div class="mui-icon mui-icon-search"></div>
        </div>
        <div class="list-companies">
            <div v-for="(value) in toos" :key="value.name" class="company-info-list" @click="tooClicked(value.id)">
                <div class="logo">
                    <img :src="value.image" alt="">
                </div>
                <div class="info">
                    <div class="title">{{ value.name }}</div>
                    <div class="description">{{ value.category }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import {lifecycleLoggerMixin} from "@/mixins/lifecycleLoggerMixin";

export default {
    name: 'MainPage',
    metaInfo: {
        title: 'Главная',
        titleTemplate: '%s'
    },
    mixins: [lifecycleLoggerMixin],
    data() {
        return {
            toos: null
        }
    },
    methods: {
        tooClicked(tooId) {
            this.$router.push({path: '/welcome/toos/page/'+tooId})
        }
    },
    mounted() {
        this.$axios.get('/fh/get-all-user').then((response) => {
            this.toos = response.data.data
        }).catch((e) => {
            console.error(e)
        }).finally(() => {
            //
        })
    }
}
</script>

<style lang="scss">
.list-companies {
    display: flex;
    flex-direction: column;

    .company-info-list {
        display: flex;
        height: 56px;
        background: white;
        border-radius: 10px;
        margin-bottom: 10px;
        align-items: center;
        padding: 5px;
    }

    .logo {
        background-image: url("~@/assets/images/common/cola.png");
        width: 48px;
        height: 48px;
        background-size: cover;
    }

    .info {
        text-align: left;
        padding-left: 14px;
    }

    .title {
        font-size: 17px;
        font-weight: 600;
    }
}

.section-header-text {
    font-size: $font-size-section-header;
    font-weight: 600;
    background-color: $white-color;
    padding: 40px 0;

    &.bg-orange-pale {
        background-color: $background-color;
    }
}

.welcome-section {
    height: 100vh;

    &.white {
        background-color: $white-color;
    }

    &.cards {
        height: auto;
        padding-bottom: 50px;
    }

    &.faq {
        height: auto;
        padding-bottom: 90px;
    }

    .wrapper {
        display: flex;
        height: 100%;
        width: 890px;
        margin: auto;

        .welcome-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: $header-height;

            .welcome-text {
                font-size: $font-size-welcome;
                font-weight: 600;
                text-align: left;
            }

            .welcome-actions-wrapper {
                display: flex;
                flex-direction: row;
                margin-top: 30px;

                .main-app-btn {
                    margin-left: 15px;
                }
            }
        }

        .welcome-right {
            display: inline-flex;
            align-items: center;

            .screenshot {
                -webkit-box-shadow: $form-container-shadow;
                -moz-box-shadow: $form-container-shadow;
                box-shadow: $form-container-shadow;

                &.left {
                    margin-right: -50px;
                    z-index: 1;
                    transform: rotate(-4deg);
                    -webkit-box-shadow: $form-container-shadow;
                    -moz-box-shadow: $form-container-shadow;
                    box-shadow: $form-container-shadow;
                }

                &.right {
                    transform: rotate(8deg);
                }
            }
        }

        .e-menu-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .main-page-screenshot {

                &.phone-frame {
                    position: relative;
                    align-self: center;
                    display: flex;
                    border-radius: 38px;
                    overflow: hidden;
                    border: 10px solid $phone-frame-color;
                    -webkit-box-shadow: $phone-frame-shadow;
                    -moz-box-shadow: $phone-frame-shadow;
                    box-shadow: $phone-frame-shadow;
                }

                &.phone-frame:after, &.phone-frame:before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &.phone-frame:after {
                    z-index: 2;
                    top: 6px;
                    height: 4px;
                    width: 24%;
                    border-radius: 2px;
                    background: $black-color;
                }

                &.phone-frame:before {
                    z-index: 1;
                    top: 0;
                    height: 22px;
                    width: 50%;
                    border-radius: 0 0 20px 20px;
                    background: $phone-frame-color;
                }
            }
        }

        .e-menu-right {
            width: 60%;
            align-self: center;

            .description-container {
                padding: 0 60px;

                .description {
                    font-size: $font-size-lg2;
                    text-align: left;
                    line-height: 25px;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 890px;
        margin: auto;
        align-items: center;

        .card-item {
            display: flex;
            padding: 35px;
            background-color: $white-color;
            -webkit-box-shadow: $form-container-shadow;
            -moz-box-shadow: $form-container-shadow;
            box-shadow: $form-container-shadow;
            border-radius: 10px;
            width: 650px;
            margin-top: 35px;

            .card-left-side {
                width: 60%;
                text-align: left;

                .card-title {
                    font-size: $font-size-card-title;
                    font-weight: 600;
                }

                .card-description {
                    font-size: $font-size-lg;
                    margin-top: 30px;
                }
            }

            .card-right-side {
                width: 40%;

                .card-illustration {
                    width: 100%;
                }
            }
        }
    }

    .advantages-list-container {
        width: 890px;
        margin: auto;

        .list-wrapper {
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            padding-top: 15px;
            line-height: 21px;

            .list-item {
                width: 50%;
                padding: 0 15px 30px 30px;
                list-style: none;
                position: relative;
                font-size: $font-size-lg;

                &:before {
                    content: '';
                    background: url('~@/assets/images/icons/common/list-mark.svg');
                    position: absolute;
                    display: block;
                    width: 12px;
                    height: 11px;
                    top: 4px;
                    left: 0;
                }
            }
        }
    }

    .accordion-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 890px;
        margin: auto;
        text-align: left;
        font-size: $font-size-lg;

        .faq-item {
            width: 50%;
            padding: 20px;

            .accordion-item {
                .accordion-header {
                    font-size: $font-size-lg2;
                    text-decoration: underline;
                    text-decoration-style: dashed;
                    text-decoration-thickness: 1px;
                    text-decoration-color: $accordion-body-color;
                    cursor: pointer;
                }

                .accordion-body {
                    margin-top: 20px;
                    color: $accordion-body-color;
                }
            }
        }
    }
}

/* MOBILE */
@media (max-width: 900px) {
    .welcome-section {

        &.h-auto {
            height: auto;
        }

        .wrapper {

            &.mob {
                flex-direction: column;
                align-items: center;
            }

            width: 100%;

            .welcome-left {
                width: 100%;
                margin: 70px 0 0 0;

                .welcome-text {
                    font-size: $font-size-welcome-m;
                    text-align: center;
                }

                .welcome-actions-wrapper {
                    justify-content: space-evenly;

                    .main-app-btn {
                        margin-left: 0;
                    }
                }
            }

            .screen-images-mob {
                justify-content: center;

                .screenshot {
                    width: 50%;

                    .mob {
                        width: 100%;
                    }
                }
            }

            .e-menu-right {
                width: 100%;

                .description-container {
                    padding: 30px 30px 20px 30px;
                }
            }
        }

        .cards-container {
            width: 100%;

            .card-item {
                width: 85%;
            }
        }

        .advantages-list-container {
            width: 100%;

            .list-wrapper {
                padding-left: 1rem;
            }
        }

        .accordion-wrapper {
            width: 100%;
        }

        .cards-container {
            .card-item {
                flex-direction: column-reverse;
                align-items: center;
                padding: 15px;

                .card-left-side {
                    width: 90%;
                }
            }
        }

        .accordion-wrapper {
            flex-direction: column;

            .faq-item {
                width: 100%;
            }
        }
    }
    .footer-container {
        .footer-wrapper {
            width: 100%;
        }
    }

    .section-header-text {
        font-size: $font-size-section-header-m;
    }

    .main-page-screenshot {
        &.phone-frame {
            .mob {
                width: 100%;
            }
        }
    }


}
</style>
