<template>
    <div>
        <div class="mui-icon mui-icon-left-arrow"></div>
        <img class="request-sended" src="@/assets/images/fullHouse/status.png" alt="">
        <div class="app-button">
            <AppButton :title="'На главную'" @click="tooClicked"></AppButton>
        </div>
    </div>
</template>

<script>

import {lifecycleLoggerMixin} from "@/mixins/lifecycleLoggerMixin";


export default {
    name: 'MainPage',
    components: {},
    metaInfo: {
        title: 'Главная',
        titleTemplate: '%s'
    },
    mixins: [lifecycleLoggerMixin],
    methods: {
        tooClicked() {
            this.$router.push({name: 'welcome'})
        }
    }
}
</script>

<style lang="scss" scoped>
.request-sended {
    width: 100%;
    margin-bottom: 250px;
}

.mui-icon.mui-icon-left-arrow {
    left: 37px;
    top: 18px;
}

.app-button {
    margin: 0 15px;
}

</style>
