<template>
    <div class="container">
        <div class="list-companies">
            <div v-for="index in 4" :key="index" class="company-info-list" @click="tooClicked">
                <div class="empty-logo"></div>
                <div class="info">
                    <div class="title">Заявка №{{ index }}</div>
                    <div class="description">Мамыр 3, 23, ИП Арина</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import {lifecycleLoggerMixin} from "@/mixins/lifecycleLoggerMixin";
import {mapActions} from "vuex";

export default {
    name: 'MainPage',
    components: {},
    metaInfo: {
        title: 'Главная',
        titleTemplate: '%s'
    },
    mixins: [lifecycleLoggerMixin],
    data() {
        return {
            count: 0,
            count2: 0
        };
    },
    methods: {
        ...mapActions({
            setPagetitle: 'pagetitle/setPagetitle'
        }),
        tooClicked() {
            this.$router.push({name: 'requestDetail'})
        }
    },
    mounted() {
        this.setPagetitle('Заявки')
    }

}
</script>

<style lang="scss">
.list-companies {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    .company-info-list {
        display: flex;
        height: 56px;
        background: white;
        border-radius: 10px;
        margin-bottom: 10px;
        align-items: center;
        padding: 5px;
    }

    .empty-logo {
        width: 48px;
        height: 48px;
        background-size: cover;
    }

    .info {
        text-align: left;
        padding-left: 14px;
    }

    .title {
        font-size: 17px;
        font-weight: 600;
    }
}
</style>
