<template>
    <div class="container">
        <div class="product-block" v-if="showProd">
            <div class="logo"></div>
            <div class="product-description">
                <div class="product-name"><p>Название:</p> Кола 0.5 литр</div>
                <div class="product-price"><p>Цена:</p> 200 тг</div>
                <div class="product-count"><p>Количество:</p> {{count}} шт</div>
            </div>
        </div>
        <div class="product-block">
            <div class="logo"></div>
            <div class="product-description">
                <div class="product-name"><p>Название:</p> Кола 1 литр</div>
                <div class="product-price"><p>Цена:</p> 400 тг</div>
                <div class="product-count"><p>Количество:</p> 100 шт</div>
            </div>
        </div>
        <div class="add-button" @click="addBtnClicked">+</div>
    </div>
</template>

<script>

import {lifecycleLoggerMixin} from "@/mixins/lifecycleLoggerMixin";
import {mapActions} from "vuex";

export default {
    name: 'MainPage',
    components: {},
    metaInfo: {
        title: 'Главная',
        titleTemplate: '%s'
    },
    mixins: [lifecycleLoggerMixin],
    data() {
        return {
            count: 0,
            count2: 0,
            showProd: false
        };
    },
    methods: {
        ...mapActions({
            setPagetitle: 'pagetitle/setPagetitle'
        }),
        addBtnClicked() {
            this.showProd = true
            this.count++
        }
    },
    mounted() {
        this.setPagetitle('Склад №1')
    }
}
</script>

<style lang="scss" scoped>
.container {
    margin-top: 50px;
}

.product-block {
    border: 1px solid #99A3B3;
    border-radius: 4px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: flex-start;
    margin: 0 10px 25px;
    align-items: center;
}

.logo {
    width: 110px;
    height: 126px;
    background-image: url("~@/assets/images/fullHouse/cocaCola.png");
    background-size: cover;
    margin-bottom: 20px;
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

.product-name {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    white-space: pre;

    & > p {
        font-weight: bold;
    }
}

.product-price {
    border-radius: 2px;
    font-size: 14px;
    color: #010101;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    white-space: pre;

    & > p {
        font-weight: bold;
    }
}

.product-count {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    white-space: pre;

    & > p {
        font-weight: bold;
    }
}

.add-button {
    border-radius: 50%;
    background-color: $green-color;
    color: white;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    font-size: 20px;
}

</style>
