<template>
    <div>
        <section class="welcome-section">
            <div class="wrapper mob">
                <div class="welcome-left">
                    <div class="welcome-text"><span class="orange">QR Меню,</span> которое работает на вас!</div>

                    <div class="welcome-actions-wrapper">
                        <a href="https://digitalemenu.kz/menu/show/testalpha" class="main-app-btn lg invert">Пример меню</a>
                        <RouterLink to="/register">
                            <div class="main-app-btn lg">Создать QR меню</div>
                        </RouterLink>
                    </div>
                </div>

                <div class="welcome-right screen-images-mob">
                    <div class="screenshot left">
                        <img class="mob" :src="require('@/assets/images/screenshots/welcome-image-1.png')"
                             alt="Электронное меню по QR коду, категории меню">
                    </div>
                    <div class="screenshot right">
                        <img class="mob" :src="require('@/assets/images/screenshots/welcome-image-2.png')"
                             alt="Электронное меню по QR коду, позиции меню">
                    </div>
                </div>
            </div>
        </section>
        <div class="section-header-text">Электронное QR меню</div>
        <section class="welcome-section white h-auto">
            <div class="wrapper mob">
                <div class="e-menu-left">
                    <div class="main-page-screenshot phone-frame">
                        <img class="mob" :src="require('@/assets/images/screenshots/main-page-screenshot.png')"
                             alt="Дизайн электронного QR меню">
                    </div>
                </div>
                <div class="e-menu-right">
                    <div class="description-container">
                        <div class="description">
                            Наш сервис меню включает целый набор функций для кафе, ресторана или бара.
                        </div>
                        <div class="description">
                            Для ваших гостей - это современное меню по QR коду, которым удобно пользоваться.
                        </div>
                        <div class="description">
                            Для вас - это онлайн платформа по улучшению качества работы с клиентами и повышению продаж,
                            выстроенная вокруг вашего QR код меню.
                        </div>
                        <div class="description">
                            Наше цифровое меню работает без установки приложения на телефоны гостей и не требует покупки
                            дорогостоящих терминалов для вас.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="section-header-text bg-orange-pale">Преимущества использования электронного QR меню</div>
        <section class="welcome-section cards">
            <div class="cards-container">
                <div class="card-item">
                    <div class="card-left-side">
                        <div class="card-title">Повышение Customer Experience</div>
                        <div class="card-description">
                            Работать с QR меню проще. Загружается меню быстрее. Полезной информации в меню больше.
                        </div>
                    </div>
                    <div class="card-right-side">
                        <img class="card-illustration"
                             :src="require('@/assets/images/illustrations/illustration-man.svg')"
                             alt="QR меню, повышение customer experience">
                    </div>
                </div>

                <div class="card-item">
                    <div class="card-left-side">
                        <div class="card-title">Привлечение новых клиентов</div>
                        <div class="card-description">
                            Гости могут оставлять отзывы прямо из QR меню. Больше отзывов - больше новых гостей приходит
                            по отзывам.
                            <br><br>
                            Удобное переключение языка меню - больше гостей за счет иностранцев.
                        </div>
                    </div>
                    <div class="card-right-side">
                        <img class="card-illustration"
                             :src="require('@/assets/images/illustrations/illustration-levitating.svg')"
                             alt="QR меню, повышение customer experience">
                    </div>
                </div>

                <div class="card-item">
                    <div class="card-left-side">
                        <div class="card-title">QR меню повышает продажи</div>
                        <div class="card-description">
                            Электронное QR меню продает больше. Фотографии повышают аппетит - аппетит повышает средний
                            чек.
                            <br><br>
                            Сделать заказ становится проще. Меньше времени на раздумья, больше спонтанных покупок - выше
                            средний чек.
                        </div>
                    </div>
                    <div class="card-right-side">
                        <img class="card-illustration"
                             :src="require('@/assets/images/illustrations/illustration-mountain.svg')"
                             alt="QR меню, повышение customer experience">
                    </div>
                </div>

                <div class="card-item">
                    <div class="card-left-side">
                        <div class="card-title">Экономия ресурсов</div>
                        <div class="card-description">
                            Наше QR меню легко редактировать. Выше актуальность меню, меньше затрат времени и финансов
                            на обновление меню.
                            <br><br>
                            Наше QR меню работает сразу. Не нужно покупать терминалы, устанавливать приложения, ждать
                            подтверждения и так далее.
                        </div>
                    </div>
                    <div class="card-right-side">
                        <img class="card-illustration"
                             :src="require('@/assets/images/illustrations/illustration-desktop.svg')"
                             alt="QR меню, повышение customer experience">
                    </div>
                </div>
            </div>
        </section>
        <div class="section-header-text">Сервис QR меню включает</div>
        <div class="welcome-section white h-auto">
            <div class="advantages-list-container">
                <ul class="list-wrapper">
                    <li class="list-item">
                        Доступ к вашему меню по ссылке (для соц сетей, сайта или гугл карт)
                    </li>
                    <li class="list-item">
                        Доступ к вашему меню по QR коду (для размещения на столах, витринах, дверях и так далее)
                    </li>
                    <li class="list-item">
                        QR меню с неограниченным количеством категорий и позиций
                    </li>
                    <li class="list-item">
                        Версию меню как для мобильных, так и для десктоп устройств
                    </li>
                    <li class="list-item">
                        Неограниченное количество просмотров и заказов из вашего электронного меню
                    </li>
                    <li class="list-item">
                        Возможность удаленно редактировать что угодно в вашем меню
                    </li>
                    <li class="list-item">
                        Возможность добавлять сотрудников для управления вашим меню
                    </li>
                    <li class="list-item">
                        Возможность добавления меню нескольких ресторанов в один личный кабинет для одновременного
                        управления сетью заведений
                    </li>
                    <li class="list-item">
                        Возможность скрывать позиции меню одним кликом
                    </li>
                    <li class="list-item">
                        Функция "Временно нет в наличии"
                    </li>
                    <li class="list-item">
                        Функция "Старая цена/Новая цена"
                    </li>
                    <li class="list-item">
                        Возможность создания меню на нескольких языках
                    </li>
                    <li class="list-item">
                        Безлимитная загрузка изображений и описаний для вашего QR меню
                    </li>
                    <li class="list-item">
                        Добавления информации о ресторане (Адрес, Телефон, Карта, Пароль Wi-Fi)
                    </li>
                    <li class="list-item">
                        Генератор QR кодов для вашего меню
                    </li>
                    <li class="list-item">
                        Безлимитное количество сканирований QR кода
                    </li>
                </ul>
            </div>
        </div>
        <div class="section-header-text">QR меню FAQ</div>
        <div class="welcome-section white faq">
            <div class="accordion-wrapper">
                <div class="accordion accordion-flush faq-item" id="faq-1">
                    <div class="accordion-item">
                        <div class="accordion-header" id="faq-1-heading" data-bs-toggle="collapse"
                             data-bs-target="#faq-1-body" aria-expanded="false" aria-controls="faq-1-body">
                            У меня есть бумажные меню, чем электронное меню лучше?
                        </div>

                        <div id="faq-1-body" class="accordion-body accordion-collapse collapse"
                             aria-labelledby="faq-1-heading"
                             data-bs-parent="#faq-1">
                            Наше меню доступно по QR коду. Оно бесконтактно и всегда под рукой. Гостям не нужно ждать
                            пока
                            официант принесет им меню или самостоятельно искать меню по ресторану. Чем меньше ожидания и
                            действий нужно гостю для совершения заказа, тем больше заказов.
                            <br><br>
                            Бумажные меню нельзя редактировать, в них нет возможности быстро создавать акции и скидки.
                            <br><br>
                            Чтобы поддерживать актуальность и презентабельный вид бумажных меню их приходится время от
                            времени перевыпускать, что тоже не бесплатно.
                        </div>
                    </div>
                </div>
                <div class="accordion accordion-flush faq-item" id="faq-2">
                    <div class="accordion-item">
                        <div class="accordion-header" id="faq-2-heading" data-bs-toggle="collapse"
                             data-bs-target="#faq-2-body" aria-expanded="false" aria-controls="faq-2-body">
                            У меня уже есть электронное меню по QR коду c PDF, чем ваше меню отличается от этого?
                        </div>

                        <div id="faq-2-body" class="accordion-body accordion-collapse collapse"
                             aria-labelledby="faq-2-heading"
                             data-bs-parent="#faq-2">
                            PDF файл не интерактивен. Он наследует все минусы бумажного меню. Ваше QR меню выглядит как
                            набор текста, а не как страница современного магазина, которая повышает ваши продажи. Мы
                            подробнее писали об этом в нашем блоге.
                            <br><br>
                            В PDF меню нельзя добавить фотографии и описания для каждой позиции, оно сразу станет
                            огромным и нечитаемым.
                            <br><br>
                            При сканировании QR кода PDF меню его нужно полностью скачать на свой телефон, что может
                            быть проблематично с низкой скоростью интернета или если гостям принципиально не нравится
                            что-либо скачивать.
                            <br><br>
                            PDF меню, опять же, нельзя быстро редактировать. У вас появился новый сорт чизкейка? Нужно
                            переделать весь PDF и заново загрузить его на ваш хостинг. В нашем электронном меню
                            аналогичная операция занимает 20 секунд и выполняется прямо с телефона.
                        </div>
                    </div>
                </div>
                <div class="accordion accordion-flush faq-item" id="faq-3">
                    <div class="accordion-item">
                        <div class="accordion-header" id="faq-3-heading" data-bs-toggle="collapse"
                             data-bs-target="#faq-3-body" aria-expanded="false" aria-controls="faq-3-body">
                            Мне нужно звонить или писать вам каждый раз когда я хочу внести изменение в свое QR меню?
                        </div>

                        <div id="faq-3-body" class="accordion-body accordion-collapse collapse"
                             aria-labelledby="faq-3-heading"
                             data-bs-parent="#faq-3">
                            Нет, вы можете вносить любые изменения когда они вам нужны и делать это всего в несколько
                            кликов. Мы разрабатываем интерфейс администратора так, чтобы редактировать QR меню было
                            удобно даже с телефона.
                            <br><br>
                            Также у нас есть возможность дать доступ вашим сотрудникам к вашему меню, чтобы они могли
                            поддерживать его актуальность самостоятельно, вообще без каких-либо действий с вашей
                            стороны.
                        </div>
                    </div>
                </div>
                <div class="accordion accordion-flush faq-item" id="faq-4">
                    <div class="accordion-item">
                        <div class="accordion-header" id="faq-4-heading" data-bs-toggle="collapse"
                             data-bs-target="#faq-4-body" aria-expanded="false" aria-controls="faq-4-body">
                            Где я могу посмотреть как ваше QR меню выглядит?
                        </div>

                        <div id="faq-4-body" class="accordion-body accordion-collapse collapse"
                             aria-labelledby="faq-4-heading"
                             data-bs-parent="#faq-4">
                            У нас есть демо версия меню для гостей. Посмотреть его можно вот тут: Пример QR код меню
                            <br><br>
                            Также вы можете бесплатно посмотреть администраторскую часть электронного меню и проверить
                            работу всех внутренних функций создав учетную запись по ссылке: Создать QR меню
                        </div>
                    </div>
                </div>
                <div class="accordion accordion-flush faq-item" id="faq-5">
                    <div class="accordion-item">
                        <div class="accordion-header" id="faq-5-heading" data-bs-toggle="collapse"
                             data-bs-target="#faq-5-body" aria-expanded="false" aria-controls="faq-5-body">
                            Можно ли сначала попробовать ваше QR меню бесплатно?
                        </div>

                        <div id="faq-5-body" class="accordion-body accordion-collapse collapse"
                             aria-labelledby="faq-5-heading"
                             data-bs-parent="#faq-5">
                            Да, вы можете пользоваться нашим QR код меню совершенно бесплатно месяц. При этом не нужно
                            указывать данные карты или оплачивать подписку на будущее.
                            <br><br>
                            Достаточно создать учетную запись и мы автоматически начислим вам бесплатный месяц.
                        </div>
                    </div>
                </div>
                <div class="accordion accordion-flush faq-item" id="faq-6">
                    <div class="accordion-item">
                        <div class="accordion-header" id="faq-6-heading" data-bs-toggle="collapse"
                             data-bs-target="#faq-6-body" aria-expanded="false" aria-controls="faq-6-body">
                            Я хочу поменять название моего ресторана, кафе или бара, но не хочу распечатывать новые QR
                            коды для меню, что делать?
                        </div>

                        <div id="faq-6-body" class="accordion-body accordion-collapse collapse"
                             aria-labelledby="faq-6-heading"
                             data-bs-parent="#faq-6">
                            Это не проблема, ваши старые QR коды будут работать если вы измените название или что угодно
                            еще в вашем электронном меню.
                            <br><br>
                            Даже интерактивная ссылка, ведущая на ваше меню, может быть изменена в любое время, при этом
                            старые QR коды будут работать.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import {lifecycleLoggerMixin} from "@/mixins/lifecycleLoggerMixin";

export default {
    name: 'WelcomePage',
    metaInfo: {
        title: 'О нас',
        titleTemplate: '%s | Emenu'
    },
    mixins: [lifecycleLoggerMixin]
}
</script>

<style lang="scss">

.section-header-text {
    font-size: $font-size-section-header;
    font-weight: 600;
    background-color: $white-color;
    padding: 40px 0;

    &.bg-orange-pale {
        background-color: $background-color;
    }
}

.welcome-section {
    height: 100vh;

    &.white {
        background-color: $white-color;
    }

    &.cards {
        height: auto;
        padding-bottom: 50px;
    }

    &.faq {
        height: auto;
        padding-bottom: 90px;
    }

    .wrapper {
        display: flex;
        height: 100%;
        width: 890px;
        margin: auto;

        .welcome-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: $header-height;

            .welcome-text {
                font-size: $font-size-welcome;
                font-weight: 600;
                text-align: left;
            }

            .welcome-actions-wrapper {
                display: flex;
                flex-direction: row;
                margin-top: 30px;

                .main-app-btn {
                    margin-left: 15px;
                }
            }
        }

        .welcome-right {
            display: inline-flex;
            align-items: center;

            .screenshot {
                -webkit-box-shadow: $form-container-shadow;
                -moz-box-shadow: $form-container-shadow;
                box-shadow: $form-container-shadow;

                &.left {
                    margin-right: -50px;
                    z-index: 1;
                    transform: rotate(-4deg);
                    -webkit-box-shadow: $form-container-shadow;
                    -moz-box-shadow: $form-container-shadow;
                    box-shadow: $form-container-shadow;
                }

                &.right {
                    transform: rotate(8deg);
                }
            }
        }

        .e-menu-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .main-page-screenshot {

                &.phone-frame {
                    position: relative;
                    align-self: center;
                    display: flex;
                    border-radius: 38px;
                    overflow: hidden;
                    border: 10px solid $phone-frame-color;
                    -webkit-box-shadow: $phone-frame-shadow;
                    -moz-box-shadow: $phone-frame-shadow;
                    box-shadow: $phone-frame-shadow;
                }

                &.phone-frame:after, &.phone-frame:before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &.phone-frame:after {
                    z-index: 2;
                    top: 6px;
                    height: 4px;
                    width: 24%;
                    border-radius: 2px;
                    background: $black-color;
                }

                &.phone-frame:before {
                    z-index: 1;
                    top: 0;
                    height: 22px;
                    width: 50%;
                    border-radius: 0 0 20px 20px;
                    background: $phone-frame-color;
                }
            }
        }

        .e-menu-right {
            width: 60%;
            align-self: center;

            .description-container {
                padding: 0 60px;

                .description {
                    font-size: $font-size-lg2;
                    text-align: left;
                    line-height: 25px;
                    margin-bottom: 30px;
                }
            }
        }
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 890px;
        margin: auto;
        align-items: center;

        .card-item {
            display: flex;
            padding: 35px;
            background-color: $white-color;
            -webkit-box-shadow: $form-container-shadow;
            -moz-box-shadow: $form-container-shadow;
            box-shadow: $form-container-shadow;
            border-radius: 10px;
            width: 650px;
            margin-top: 35px;

            .card-left-side {
                width: 60%;
                text-align: left;

                .card-title {
                    font-size: $font-size-card-title;
                    font-weight: 600;
                }

                .card-description {
                    font-size: $font-size-lg;
                    margin-top: 30px;
                }
            }

            .card-right-side {
                width: 40%;

                .card-illustration {
                    width: 100%;
                }
            }
        }
    }

    .advantages-list-container {
        width: 890px;
        margin: auto;

        .list-wrapper {
            display: flex;
            flex-wrap: wrap;
            text-align: left;
            padding-top: 15px;
            line-height: 21px;

            .list-item {
                width: 50%;
                padding: 0 15px 30px 30px;
                list-style: none;
                position: relative;
                font-size: $font-size-lg;

                &:before {
                    content: '';
                    background: url('~@/assets/images/icons/common/list-mark.svg');
                    position: absolute;
                    display: block;
                    width: 12px;
                    height: 11px;
                    top: 4px;
                    left: 0;
                }
            }
        }
    }

    .accordion-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 890px;
        margin: auto;
        text-align: left;
        font-size: $font-size-lg;

        .faq-item {
            width: 50%;
            padding: 20px;

            .accordion-item {
                .accordion-header {
                    font-size: $font-size-lg2;
                    text-decoration: underline;
                    text-decoration-style: dashed;
                    text-decoration-thickness: 1px;
                    text-decoration-color: $accordion-body-color;
                    cursor: pointer;
                }

                .accordion-body {
                    margin-top: 20px;
                    color: $accordion-body-color;
                }
            }
        }
    }
}

/* MOBILE */
@media (max-width: 900px) {
    .welcome-section {

        &.h-auto {
            height: auto;
        }

        .wrapper {

            &.mob {
                flex-direction: column;
                align-items: center;
            }

            width: 100%;

            .welcome-left {
                width: 100%;
                margin: 70px 0 0 0;

                .welcome-text {
                    font-size: $font-size-welcome-m;
                    text-align: center;
                }

                .welcome-actions-wrapper {
                    justify-content: space-evenly;

                    .main-app-btn {
                        margin-left: 0;
                    }
                }
            }

            .screen-images-mob {
                justify-content: center;

                .screenshot {
                    width: 50%;

                    .mob {
                        width: 100%;
                    }
                }
            }

            .e-menu-right {
                width: 100%;

                .description-container {
                    padding: 30px 30px 20px 30px;
                }
            }
        }

        .cards-container {
            width: 100%;

            .card-item {
                width: 85%;
            }
        }

        .advantages-list-container {
            width: 100%;

            .list-wrapper {
                padding-left: 1rem;
            }
        }

        .accordion-wrapper {
            width: 100%;
        }

        .cards-container {
            .card-item {
                flex-direction: column-reverse;
                align-items: center;
                padding: 15px;

                .card-left-side {
                    width: 90%;
                }
            }
        }

        .accordion-wrapper {
            flex-direction: column;

            .faq-item {
                width: 100%;
            }
        }
    }
    .footer-container {
        .footer-wrapper {
            width: 100%;
        }
    }

    .section-header-text {
        font-size: $font-size-section-header-m;
    }

    .main-page-screenshot {
        &.phone-frame {
            .mob {
                width: 100%;
            }
        }
    }


}
</style>
